In [1]:
import pandas as pd
import json
import os
from tqdm import tqdm
from collections import Counter, defaultdict
import pickle
import csv
import argparse

In [2]:
df_raw = pd.read_csv('./t1_m10_raw.csv', sep='\t', dtype = {'Relation_id': str})

In [3]:
df_raw

,Subject,Relation_id,Relation_choice,Object,Md5,Date,Topic,Nday
0,European Union,071,Provide economic aid,Palestinian Authority,029d9dc7a91b489457e962f4d6bc0fe3,20150219,-1,0
1,US,057,Sign formal agreement,Iran,0b6cd037f3fc22ed82e0c147839ba9f9,20150219,15,0
2,United States,051,Praise or endorse,Israel,0e3390e4d38e679fc25d764528a781e4,20150219,-1,0
3,United States,111,Criticize or denounce,Islam,0b79f78beb4ffba834ab552c7ef020ea,20150219,-1,0
4,Hamas,1831,Carry out suicide bombing,Israel,859fc96157484e73268e105e6222ce53,20150219,852,0
...,...,...,...,...,...,...,...,...
531286,Russia,061,Cooperate economically,Ukraine,3f48fb321a6a8e00f5f8a2c1fd756b87,20220317,1203,2583
531287,Ukraine,080,Yield or concede,Israel,33469c03a101913442242e89f18899ce,20220317,28,2583
531288,Israel,061,Cooperate economically,Ukraine,9e24beca44f3a9d8a966625f97b55814,20220317,28,2583
531289,Ukraine,194,Fight with artillery and tanks,Russia,cac2d7644682d7109ca0d2d7a5aac8d5,20220317,24,2583
531290,Ukraine,100,Demand or order,Russia,dafe15f7bc95e33b171b5663fc55b735,20220317,24,2583

In [255]:
md52rawtopic = {}
for rowid, row in tqdm(df_raw.iterrows(), total=len(df_raw)):
    md52rawtopic[row['Md5']] = row['Topic']

100%|████████████████████████████████████████████| 531291/531291 [00:18<00:00, 29377.44it/s]

In [256]:
json.dump(md52rawtopic, open('./md52rawtopic.json', 'w'), indent=4)

In [4]:
df_raw = df_raw.rename(columns={'Subject': 'Actor1Name', 'Object': 'Actor2Name', 'Relation_id': 'EventCode', 'Date': 'day', 'Nday': 'timid'})

In [5]:
df_raw

,Actor1Name,EventCode,Relation_choice,Actor2Name,Md5,day,Topic,timid
0,European Union,071,Provide economic aid,Palestinian Authority,029d9dc7a91b489457e962f4d6bc0fe3,20150219,-1,0
1,US,057,Sign formal agreement,Iran,0b6cd037f3fc22ed82e0c147839ba9f9,20150219,15,0
2,United States,051,Praise or endorse,Israel,0e3390e4d38e679fc25d764528a781e4,20150219,-1,0
3,United States,111,Criticize or denounce,Islam,0b79f78beb4ffba834ab552c7ef020ea,20150219,-1,0
4,Hamas,1831,Carry out suicide bombing,Israel,859fc96157484e73268e105e6222ce53,20150219,852,0
...,...,...,...,...,...,...,...,...
531286,Russia,061,Cooperate economically,Ukraine,3f48fb321a6a8e00f5f8a2c1fd756b87,20220317,1203,2583
531287,Ukraine,080,Yield or concede,Israel,33469c03a101913442242e89f18899ce,20220317,28,2583
531288,Israel,061,Cooperate economically,Ukraine,9e24beca44f3a9d8a966625f97b55814,20220317,28,2583
531289,Ukraine,194,Fight with artillery and tanks,Russia,cac2d7644682d7109ca0d2d7a5aac8d5,20220317,24,2583
531290,Ukraine,100,Demand or order,Russia,dafe15f7bc95e33b171b5663fc55b735,20220317,24,2583

In [47]:
grouplist = list(df_raw.groupby(['Actor1Name', 'EventCode', 'Actor2Name', 'day', 'Topic', 'timid']))

In [49]:
grouplist[4700][1]

,Actor1Name,EventCode,Relation_choice,Actor2Name,Md5,day,Topic,timid
115965,Ali Akbar Velayati,0311,Express intent to cooperate economically,Michel Aoun,df98fbc467047f3676979164307e93f0,20161112,763,632

In [50]:
ce_pds = []
for group in grouplist:
    group_df = group[1]
    md5_list = list(group_df['Md5'].unique())
    ce_pd = group_df.head(1).copy()
    ce_pd['Md5_list'] = ', '.join(md5_list)
    ce_pds.append(ce_pd.copy())

In [48]:
md5_list

['1fea953741f1263f9db0b936cbb21c39']

In [158]:
ce_df = pd.concat(ce_pds).sort_index()

In [159]:
ce_df

,Actor1Name,EventCode,Relation_choice,Actor2Name,Md5,day,Topic,timid,Md5_list
0,European Union,071,Provide economic aid,Palestinian Authority,029d9dc7a91b489457e962f4d6bc0fe3,20150219,-1,0,029d9dc7a91b489457e962f4d6bc0fe3
1,US,057,Sign formal agreement,Iran,0b6cd037f3fc22ed82e0c147839ba9f9,20150219,15,0,0b6cd037f3fc22ed82e0c147839ba9f9
2,United States,051,Praise or endorse,Israel,0e3390e4d38e679fc25d764528a781e4,20150219,-1,0,0e3390e4d38e679fc25d764528a781e4
3,United States,111,Criticize or denounce,Islam,0b79f78beb4ffba834ab552c7ef020ea,20150219,-1,0,0b79f78beb4ffba834ab552c7ef020ea
4,Hamas,1831,Carry out suicide bombing,Israel,859fc96157484e73268e105e6222ce53,20150219,852,0,859fc96157484e73268e105e6222ce53
...,...,...,...,...,...,...,...,...,...
531285,Italy,013,Make optimistic comment,Ukraine,ea22d1bdc80260654b06df8de7f20b9d,20220317,-1,2583,ea22d1bdc80260654b06df8de7f20b9d
531286,Russia,061,Cooperate economically,Ukraine,3f48fb321a6a8e00f5f8a2c1fd756b87,20220317,1203,2583,3f48fb321a6a8e00f5f8a2c1fd756b87
531287,Ukraine,080,Yield or concede,Israel,33469c03a101913442242e89f18899ce,20220317,28,2583,33469c03a101913442242e89f18899ce
531289,Ukraine,194,Fight with artillery and tanks,Russia,cac2d7644682d7109ca0d2d7a5aac8d5,20220317,24,2583,cac2d7644682d7109ca0d2d7a5aac8d5
531290,Ukraine,100,Demand or order,Russia,dafe15f7bc95e33b171b5663fc55b735,20220317,24,2583,dafe15f7bc95e33b171b5663fc55b735

In [160]:
len(ce_df['Md5'].unique())

254534

In [161]:
# stats
results = ce_df.groupby(['Topic']).agg({'timid':['count', 'max','min','mean']})
results.columns = ['n_events', 'nday_max', 'nday_min', 'nday_mean']
results['nday_range'] = results['nday_max'] -results['nday_min'] + 1

In [162]:
results.loc[0:, :].mean()

n_events        56.379733
nday_max      1264.983467
nday_min      1226.736800
nday_mean     1245.206599
nday_range      39.246667
dtype: float64

In [163]:
results.loc[0:, :].max()

n_events      3879.000000
nday_max      2583.000000
nday_min      2574.000000
nday_mean     2578.434783
nday_range    2568.000000
dtype: float64

In [164]:
results.loc[0:, :].min()

n_events       6.000000
nday_max      18.000000
nday_min       0.000000
nday_mean      6.070175
nday_range     2.000000
dtype: float64

In [58]:
max_n_range = 78
max_n_events = 112

In [165]:
topicid_max = ce_df['Topic'].max()

In [166]:
topicid_max

3749

In [167]:
ce_pd_splitted = []
for topicid in range(0, topicid_max + 1):
    ce_pd = ce_df[ce_df['Topic']==topicid]
    ce_pd = ce_pd.sort_values(by=['day'], ignore_index=True)
    curr_rowid = 0
    while curr_rowid <= (len(ce_pd)-1):
        next_rowid = min(curr_rowid + max_n_events-1, len(ce_pd)-1)
        next_row = ce_pd.iloc[[next_rowid]]
        next_timid = next_row['timid'].values[0]
        curr_row = ce_pd.iloc[[curr_rowid]]
        curr_timid = curr_row['timid'].values[0]
        n_range = next_timid - curr_timid + 1
        if n_range <= max_n_range: # split by max_n_events
            ce_pd_splitted.append(ce_pd[curr_rowid: next_rowid+1])
            curr_rowid = next_rowid+1
        else: # split by n_range
            next_rowid = len(ce_pd[ce_pd['timid'] <= (curr_timid+max_n_range-1)]) - 1
            ce_pd_splitted.append(ce_pd[curr_rowid: next_rowid+1])
            curr_rowid = next_rowid+1

In [168]:
new_ces = []
for idx, new_ce in enumerate(ce_pd_splitted):
    new_ce = new_ce.rename(columns={'Topic': 'ce_id'})
    new_ce['ce_id'] = [idx] * len(new_ce)
    new_ces.append(new_ce)

In [169]:
len(new_ces)

4662

In [170]:
new_ces[0]

,Actor1Name,EventCode,Relation_choice,Actor2Name,Md5,day,ce_id,timid,Md5_list
0,Egypt,012,Make pessimistic comment,China,3d52c8acaab22b919f627ad1fc0d3b70,20200123,0,1799,3d52c8acaab22b919f627ad1fc0d3b70
1,Iran,081,Ease administrative sanctions,Covid-19,a39827d96353800f37ffa5dbc76f0461,20200126,0,1802,a39827d96353800f37ffa5dbc76f0461
2,Israel,081,Ease administrative sanctions,China,ec804b29897268702f74ea6b1de45482,20200126,0,1802,ec804b29897268702f74ea6b1de45482
3,Ben Gurion Airport,054,Grant diplomatic recognition,China,ec804b29897268702f74ea6b1de45482,20200126,0,1802,ec804b29897268702f74ea6b1de45482
4,El Al airlines,013,Make optimistic comment,China,23688a6abaa4031cf0fbd4d6d1a7f370,20200126,0,1802,23688a6abaa4031cf0fbd4d6d1a7f370
...,...,...,...,...,...,...,...,...,...
107,Egypt,011,Refuse to comment,Egypt government,90e0cbc9ac6076127a2ef756ac219c6f,20200214,0,1821,90e0cbc9ac6076127a2ef756ac219c6f
108,Egypt,013,Make optimistic comment,World Health Organization (WHO),8ed93de4c0193a582db989d11e292d82,20200214,0,1821,"8ed93de4c0193a582db989d11e292d82, dbda75c64989..."
109,China,080,Yield or concede,France,cd782f378305bb4ba0a88725b9dc9658,20200215,0,1822,cd782f378305bb4ba0a88725b9dc9658
110,China,080,Yield or concede,Egypt,cd782f378305bb4ba0a88725b9dc9658,20200215,0,1822,cd782f378305bb4ba0a88725b9dc9658
111,China,011,Refuse to comment,World,091b6d16a81723c1e43da08e779a6cea,20200215,0,1822,091b6d16a81723c1e43da08e779a6cea

In [171]:
outliers = ce_df[ce_df['Topic']==-1].sort_values(by=['day'], ignore_index=True)
outliers = outliers.rename(columns={'Topic': 'ce_id'})

In [172]:
outliers

,Actor1Name,EventCode,Relation_choice,Actor2Name,Md5,day,ce_id,timid,Md5_list
0,European Union,071,Provide economic aid,Palestinian Authority,029d9dc7a91b489457e962f4d6bc0fe3,20150219,-1,0,029d9dc7a91b489457e962f4d6bc0fe3
1,Egypt,062,Cooperate militarily,Israel,61f06c16f8cca2adb60f2f62c1da52b0,20150219,-1,0,61f06c16f8cca2adb60f2f62c1da52b0
2,Hezbollah,1431,Conduct strike or boycott for leadership change,Qatar,2604cc86179d28276f48d69594531be3,20150219,-1,0,2604cc86179d28276f48d69594531be3
3,Egypt,061,Cooperate economically,Jordan,fea4f048e58509eb5ce3a95a356d3f3f,20150219,-1,0,fea4f048e58509eb5ce3a95a356d3f3f
4,Egypt,1011,Demand economic cooperation,Qatar,16870399ca4d9cf49252b06e533928ef,20150219,-1,0,16870399ca4d9cf49252b06e533928ef
...,...,...,...,...,...,...,...,...,...
246187,Israel,060,Engage in material cooperation,UAE,ba8a8abcabd3cb7443edefae532487f6,20220317,-1,2583,ba8a8abcabd3cb7443edefae532487f6
246188,Palestinian Authority,0313,Express intent to cooperate on judicial matters,International Criminal Court (ICC),d52355726f828f51f7deaa065f4fa451,20220317,-1,2583,d52355726f828f51f7deaa065f4fa451
246189,US,111,Criticize or denounce,Iran,5ef9ffb39293cb308285c6259b124392,20220317,-1,2583,5ef9ffb39293cb308285c6259b124392
246190,Ukraine,085,"Ease economic sanction, boycott, or embargo",Russia,c883a848a44a76fd9356c60cae74522d,20220317,-1,2583,c883a848a44a76fd9356c60cae74522d
246191,Italy,013,Make optimistic comment,Ukraine,ea22d1bdc80260654b06df8de7f20b9d,20220317,-1,2583,ea22d1bdc80260654b06df8de7f20b9d

In [173]:
new_ces.append(outliers)
new_ces_df = pd.concat(new_ces, ignore_index=True)

In [174]:
new_ces_df = new_ces_df.sort_values(by=['day'], ignore_index=True)

In [175]:
new_ces_df

,Actor1Name,EventCode,Relation_choice,Actor2Name,Md5,day,ce_id,timid,Md5_list
0,Iran,031,Express intent to engage in material cooperation,Russia,3a4bb7378ab66388eee2ab5657ae794f,20150219,-1,0,3a4bb7378ab66388eee2ab5657ae794f
1,United States,011,Refuse to comment,Iran government,81089d58c9402bcf29f1ffeb2a57e525,20150219,-1,0,81089d58c9402bcf29f1ffeb2a57e525
2,Israel,193,Fight with small arms and light weapons,Lebanon,93de594238f1e46906cb73bfc368a219,20150219,-1,0,93de594238f1e46906cb73bfc368a219
3,Israel,013,Make optimistic comment,Jordan,b8c6ea9a1d38101ce4d5f8ea673b404a,20150219,-1,0,b8c6ea9a1d38101ce4d5f8ea673b404a
4,King Hussein,013,Make optimistic comment,Israel,b8c6ea9a1d38101ce4d5f8ea673b404a,20150219,-1,0,b8c6ea9a1d38101ce4d5f8ea673b404a
...,...,...,...,...,...,...,...,...,...
457611,Russia,050,Engage in diplomatic cooperation,Ukraine,cc0794c46588af7a547caea72ba95c27,20220317,193,2583,cc0794c46588af7a547caea72ba95c27
457612,Israel,060,Engage in material cooperation,Ukraine,daa3e25a5671fd7683ed957f7e3c8972,20220317,193,2583,daa3e25a5671fd7683ed957f7e3c8972
457613,Ukraine,030,Express intent to cooperate,Israel,87a046d58f0a05e2c9c1bb9bd826b594,20220317,193,2583,87a046d58f0a05e2c9c1bb9bd826b594
457614,Ukraine,080,Yield or concede,Russia,c43e61753acf9cd4c4617109f7130ae5,20220317,193,2583,c43e61753acf9cd4c4617109f7130ae5
457615,Italy,013,Make optimistic comment,Ukraine,ea22d1bdc80260654b06df8de7f20b9d,20220317,-1,2583,ea22d1bdc80260654b06df8de7f20b9d

In [176]:
new_ces_df['ce_id'].max()

4661

In [177]:
# stats
new_results = new_ces_df.groupby(['ce_id']).agg({'timid':['count', 'max','min','mean']})
new_results.columns = ['n_events', 'nday_max', 'nday_min', 'nday_mean']
new_results['nday_range'] = new_results['nday_max'] -new_results['nday_min'] + 1

In [178]:
new_results

       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
-1       246192      2583         0  1217.097461        2584
 0          112      1822      1799  1809.776786          24
 1          112      1829      1823  1826.303571           7
 2          112      1831      1829  1829.830357           3
 3          112      1832      1831  1831.223214           2
...         ...       ...       ...          ...         ...
 4657        18      2474      2444  2459.222222          31
 4658        14      1392      1359  1373.928571          34
 4659        13      1319      1286  1304.230769          34
 4660        10      1228      1215  1216.700000          14
 4661        22       793       781   783.227273          13

[4663 rows x 5 columns]

In [179]:
new_results.loc[0:, :].mean()

n_events        45.350493
nday_max      1290.744959
nday_min      1261.438438
nday_mean     1275.922256
nday_range      30.306521
dtype: float64

In [180]:
new_results.loc[0:, :].max()

n_events       112.000000
nday_max      2583.000000
nday_min      2582.000000
nday_mean     2582.705882
nday_range      78.000000
dtype: float64

In [181]:
new_results.loc[0:, :].min()

n_events      1.000000
nday_max      9.000000
nday_min      0.000000
nday_mean     4.642857
nday_range    1.000000
dtype: float64

In [ ]:
# filter by min range and min size

In [182]:
unfiltered_ces = new_ces[:-1]

In [183]:
invalid_ces = []
valid_ces = []
for ce in unfiltered_ces:
    if len(ce) < 10:
        invalid_ces.append(ce)
    elif len(ce['timid'].unique()) == 1:
        invalid_ces.append(ce)
    else:
        valid_ces.append(ce)

In [184]:
len(invalid_ces)

261

In [185]:
new_outliers = pd.concat([outliers]+invalid_ces, ignore_index=True)
new_outliers['ce_id'] = [-1] * len(new_outliers)

In [186]:
new_outliers

,Actor1Name,EventCode,Relation_choice,Actor2Name,Md5,day,ce_id,timid,Md5_list
0,European Union,071,Provide economic aid,Palestinian Authority,029d9dc7a91b489457e962f4d6bc0fe3,20150219,-1,0,029d9dc7a91b489457e962f4d6bc0fe3
1,Egypt,062,Cooperate militarily,Israel,61f06c16f8cca2adb60f2f62c1da52b0,20150219,-1,0,61f06c16f8cca2adb60f2f62c1da52b0
2,Hezbollah,1431,Conduct strike or boycott for leadership change,Qatar,2604cc86179d28276f48d69594531be3,20150219,-1,0,2604cc86179d28276f48d69594531be3
3,Egypt,061,Cooperate economically,Jordan,fea4f048e58509eb5ce3a95a356d3f3f,20150219,-1,0,fea4f048e58509eb5ce3a95a356d3f3f
4,Egypt,1011,Demand economic cooperation,Qatar,16870399ca4d9cf49252b06e533928ef,20150219,-1,0,16870399ca4d9cf49252b06e533928ef
...,...,...,...,...,...,...,...,...,...
247661,China,061,Cooperate economically,Egypt,c13e8717c56950a27b5ca2495fe38022,20190630,-1,1592,c13e8717c56950a27b5ca2495fe38022
247662,Egypt,0211,Appeal for economic cooperation,China,3711ab09654a830db32b0a9afee8cbe4,20190701,-1,1593,3711ab09654a830db32b0a9afee8cbe4
247663,China,061,Cooperate economically,Egypt,71d3f11c0eef3fb084ef8657cd6fda61,20190704,-1,1596,"71d3f11c0eef3fb084ef8657cd6fda61, c2eb9c45c03a..."
247664,China,013,Make optimistic comment,Egypt,905421f98fd7cf0573d5fb128525a87f,20190709,-1,1601,905421f98fd7cf0573d5fb128525a87f
247665,Egypt,0211,Appeal for economic cooperation,Investors,3d0e29d5dff5b01e77336693f471f8ff,20190716,-1,1608,3d0e29d5dff5b01e77336693f471f8ff

In [187]:
new_outliers_grouplist = list(new_outliers.groupby(['Actor1Name', 'EventCode', 'Actor2Name', 'day']))
print(len(new_outliers_grouplist))
new_outliers_dedu_list = []
for groupid, group in tqdm(enumerate(new_outliers_grouplist), total=len(new_outliers_grouplist)):
    group_df = group[1]
    md5_list = []
    md5_lists = list(group_df['Md5_list'].unique())
    for md5_list_str in md5_lists:
        md5_list += md5_list_str.split(', ')
    kept_outlier = group_df.head(1).copy()
    kept_outlier['Md5_list'] = ', '.join(md5_list)
    new_outliers_dedu_list.append(kept_outlier.copy())
new_outliers_dedu = pd.concat(new_outliers_dedu_list).sort_values(by=['day'], ignore_index=True)

247560

100%|█████████████████████████████████████████████| 247560/247560 [01:14<00:00, 3300.92it/s]

In [188]:
new_outliers_dedu

,Actor1Name,EventCode,Relation_choice,Actor2Name,Md5,day,ce_id,timid,Md5_list
0,Britain,011,Refuse to comment,United Nations,1b20f22d197f24368a2dfda404401d59,20150219,-1,0,1b20f22d197f24368a2dfda404401d59
1,Israel,050,Engage in diplomatic cooperation,Egypt,b64c9338979108ce15043ad6f21a8a17,20150219,-1,0,b64c9338979108ce15043ad6f21a8a17
2,EU,070,Provide aid,US,72dcb54c9b49830caefdad4bb7453d3c,20150219,-1,0,72dcb54c9b49830caefdad4bb7453d3c
3,Egypt,180,Use unconventional violence including terrorist,Israel,61f06c16f8cca2adb60f2f62c1da52b0,20150219,-1,0,61f06c16f8cca2adb60f2f62c1da52b0
4,Arab League Council,016,"Reject accusation, deny responsibility",Yemen,d19f42d1f5e86ea8101e933b2668ed99,20150219,-1,0,d19f42d1f5e86ea8101e933b2668ed99
...,...,...,...,...,...,...,...,...,...
247555,Robert Malley,092,Investigate human rights abuses,NSO Group,2ae0e2446612a3fe99ec1ee481e01ffa,20220317,-1,2583,2ae0e2446612a3fe99ec1ee481e01ffa
247556,Emmanuel Macron,202,Engage in mass killings,NSO Group,2ae0e2446612a3fe99ec1ee481e01ffa,20220317,-1,2583,2ae0e2446612a3fe99ec1ee481e01ffa
247557,Ukraine,121,Reject material cooperation,Russia,c883a848a44a76fd9356c60cae74522d,20220317,-1,2583,c883a848a44a76fd9356c60cae74522d
247558,Russia,060,Engage in material cooperation,Ukraine,4736fdcba416ec16e321dcded9d5f41e,20220317,-1,2583,4736fdcba416ec16e321dcded9d5f41e
247559,U.S.,101,Demand material cooperation,Iran,d6c5de5601eb3f2feed2fd2da1536e90,20220317,-1,2583,d6c5de5601eb3f2feed2fd2da1536e90

In [189]:
new_outliers_dedu[new_outliers_dedu['timid']==0]

,Actor1Name,EventCode,Relation_choice,Actor2Name,Md5,day,ce_id,timid,Md5_list
0,Britain,011,Refuse to comment,United Nations,1b20f22d197f24368a2dfda404401d59,20150219,-1,0,1b20f22d197f24368a2dfda404401d59
1,Israel,050,Engage in diplomatic cooperation,Egypt,b64c9338979108ce15043ad6f21a8a17,20150219,-1,0,b64c9338979108ce15043ad6f21a8a17
2,EU,070,Provide aid,US,72dcb54c9b49830caefdad4bb7453d3c,20150219,-1,0,72dcb54c9b49830caefdad4bb7453d3c
3,Egypt,180,Use unconventional violence including terrorist,Israel,61f06c16f8cca2adb60f2f62c1da52b0,20150219,-1,0,61f06c16f8cca2adb60f2f62c1da52b0
4,Arab League Council,016,"Reject accusation, deny responsibility",Yemen,d19f42d1f5e86ea8101e933b2668ed99,20150219,-1,0,d19f42d1f5e86ea8101e933b2668ed99
...,...,...,...,...,...,...,...,...,...
129,India,0312,Express intent to cooperate militarily,Firms and Markets,1db3eecab31a2ab29713c6d042631ace,20150219,-1,0,1db3eecab31a2ab29713c6d042631ace
130,European Union,071,Provide economic aid,Palestinian Authority,029d9dc7a91b489457e962f4d6bc0fe3,20150219,-1,0,029d9dc7a91b489457e962f4d6bc0fe3
131,Palestine,0831,Accede to demands for change in leadership,Italy,e6d0a477fced53099b4e48519922ccfb,20150219,-1,0,e6d0a477fced53099b4e48519922ccfb
132,Israel,160,Reduce relations,Egypt,b64c9338979108ce15043ad6f21a8a17,20150219,-1,0,b64c9338979108ce15043ad6f21a8a17
133,European Union,057,Sign formal agreement,Egypt,edf3db2729f3e81b20e446b94f7a6b6a,20150219,-1,0,edf3db2729f3e81b20e446b94f7a6b6a

In [190]:
len(new_outliers_dedu['Md5'].unique())

137964

In [191]:
for idx, valid_ce in enumerate(valid_ces):
    valid_ce['ce_id'] = [idx] * len(valid_ce)

In [192]:
filtered_ces = valid_ces + [new_outliers_dedu]
filtered_ces_df = pd.concat(filtered_ces, ignore_index=True)

In [193]:
filtered_ces_df = filtered_ces_df.sort_values(by=['day'], ignore_index=True)

In [194]:
filtered_ces_df

,Actor1Name,EventCode,Relation_choice,Actor2Name,Md5,day,ce_id,timid,Md5_list
0,Palestine,0831,Accede to demands for change in leadership,Italy,e6d0a477fced53099b4e48519922ccfb,20150219,-1,0,e6d0a477fced53099b4e48519922ccfb
1,Israel,060,Engage in material cooperation,Egypt,b64c9338979108ce15043ad6f21a8a17,20150219,-1,0,b64c9338979108ce15043ad6f21a8a17
2,Israel,180,Use unconventional violence including terrorist,Egypt,b64c9338979108ce15043ad6f21a8a17,20150219,-1,0,b64c9338979108ce15043ad6f21a8a17
3,United States,111,Criticize or denounce,Israel,d3f9a383ef3913ddb61b655b43841ae7,20150219,-1,0,d3f9a383ef3913ddb61b655b43841ae7
4,United States,111,Criticize or denounce,Islam,0b79f78beb4ffba834ab552c7ef020ea,20150219,-1,0,0b79f78beb4ffba834ab552c7ef020ea
...,...,...,...,...,...,...,...,...,...
457505,Ukraine,140,Engage in political dissent,Russia,dafe15f7bc95e33b171b5663fc55b735,20220317,221,2583,dafe15f7bc95e33b171b5663fc55b735
457506,Lithuania,021,Appeal for material cooperation,Ukraine,dafe15f7bc95e33b171b5663fc55b735,20220317,221,2583,dafe15f7bc95e33b171b5663fc55b735
457507,United States,101,Demand material cooperation,Iran,2886e5946912e59c391e41a238276bb7,20220317,2715,2583,2886e5946912e59c391e41a238276bb7
457508,Lithuania,032,Express intent to engage in diplomatic coopera...,Ukraine,dafe15f7bc95e33b171b5663fc55b735,20220317,221,2583,dafe15f7bc95e33b171b5663fc55b735
457509,U.S.,101,Demand material cooperation,Iran,d6c5de5601eb3f2feed2fd2da1536e90,20220317,-1,2583,d6c5de5601eb3f2feed2fd2da1536e90

In [195]:
len(filtered_ces_df['Md5'].unique())

254456

In [196]:
len(filtered_ces_df[filtered_ces_df['ce_id']!=-1]['Md5'].unique())

116550

In [197]:
# stats
filtered_results = filtered_ces_df.groupby(['ce_id']).agg({'timid':['count', 'max','min','mean']})
filtered_results.columns = ['n_events', 'nday_max', 'nday_min', 'nday_mean']
filtered_results['nday_range'] = filtered_results['nday_max'] -filtered_results['nday_min'] + 1

In [198]:
filtered_results

       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
-1       247560      2583         0  1217.775416        2584
 0          112      1822      1799  1809.776786          24
 1          112      1829      1823  1826.303571           7
 2          112      1831      1829  1829.830357           3
 3          112      1832      1831  1831.223214           2
...         ...       ...       ...          ...         ...
 4396        18      2474      2444  2459.222222          31
 4397        14      1392      1359  1373.928571          34
 4398        13      1319      1286  1304.230769          34
 4399        10      1228      1215  1216.700000          14
 4400        22       793       781   783.227273          13

[4402 rows x 5 columns]

In [199]:
filtered_results.loc[0:, :].mean()

n_events        47.705067
nday_max      1284.648489
nday_min      1254.556692
nday_mean     1269.423288
nday_range      31.091797
dtype: float64

In [200]:
filtered_results.loc[0:, :].max()

n_events       112.000000
nday_max      2583.000000
nday_min      2582.000000
nday_mean     2582.705882
nday_range      78.000000
dtype: float64

In [201]:
filtered_results.loc[0:, :].min()

n_events      10.000000
nday_max       9.000000
nday_min       0.000000
nday_mean      4.642857
nday_range     2.000000
dtype: float64

In [202]:
filtered_ces_df.to_csv(path_or_buf='./EGIRIS_ce_raw.csv', sep='\t', index=False)

In [ ]:
# create needed files

In [203]:
unique_time = filtered_ces_df['day'].unique()
tim2id = {name: idx for idx, name in enumerate(unique_time)}

In [204]:
with open('./date2id.txt', 'w') as f:
    for k, v in tim2id.items():
        f.write(f"{k}\t{v}\n")

In [205]:
tim2id

{20150219: 0,
 20150220: 1,
 20150221: 2,
 20150222: 3,
 20150223: 4,
 20150224: 5,
 20150225: 6,
 20150226: 7,
 20150227: 8,
 20150228: 9,
 20150301: 10,
 20150302: 11,
 20150303: 12,
 20150304: 13,
 20150305: 14,
 20150306: 15,
 20150307: 16,
 20150308: 17,
 20150309: 18,
 20150310: 19,
 20150311: 20,
 20150312: 21,
 20150313: 22,
 20150314: 23,
 20150315: 24,
 20150316: 25,
 20150317: 26,
 20150318: 27,
 20150319: 28,
 20150320: 29,
 20150321: 30,
 20150322: 31,
 20150323: 32,
 20150324: 33,
 20150325: 34,
 20150326: 35,
 20150327: 36,
 20150328: 37,
 20150329: 38,
 20150330: 39,
 20150331: 40,
 20150401: 41,
 20150402: 42,
 20150403: 43,
 20150404: 44,
 20150405: 45,
 20150406: 46,
 20150407: 47,
 20150408: 48,
 20150409: 49,
 20150410: 50,
 20150411: 51,
 20150412: 52,
 20150413: 53,
 20150414: 54,
 20150415: 55,
 20150416: 56,
 20150417: 57,
 20150418: 58,
 20150419: 59,
 20150420: 60,
 20150421: 61,
 20150422: 62,
 20150423: 63,
 20150424: 64,
 20150425: 65,
 20150426: 66,
 20150427: 67,
 20150428: 68,
 20150429: 69,
 20150430: 70,
 20150501: 71,
 20150502: 72,
 20150503: 73,
 20150504: 74,
 20150505: 75,
 20150506: 76,
 20150507: 77,
 20150508: 78,
 20150509: 79,
 20150510: 80,
 20150511: 81,
 20150512: 82,
 20150513: 83,
 20150514: 84,
 20150515: 85,
 20150516: 86,
 20150517: 87,
 20150518: 88,
 20150519: 89,
 20150520: 90,
 20150521: 91,
 20150522: 92,
 20150523: 93,
 20150524: 94,
 20150525: 95,
 20150526: 96,
 20150527: 97,
 20150528: 98,
 20150529: 99,
 20150530: 100,
 20150531: 101,
 20150601: 102,
 20150602: 103,
 20150603: 104,
 20150604: 105,
 20150605: 106,
 20150606: 107,
 20150607: 108,
 20150608: 109,
 20150609: 110,
 20150610: 111,
 20150611: 112,
 20150612: 113,
 20150613: 114,
 20150614: 115,
 20150615: 116,
 20150616: 117,
 20150617: 118,
 20150618: 119,
 20150619: 120,
 20150620: 121,
 20150621: 122,
 20150622: 123,
 20150623: 124,
 20150624: 125,
 20150625: 126,
 20150626: 127,
 20150627: 128,
 20150628: 129,
 20150629: 130,
 20150630: 131,
 20150701: 132,
 20150702: 133,
 20150703: 134,
 20150704: 135,
 20150705: 136,
 20150706: 137,
 20150707: 138,
 20150708: 139,
 20150709: 140,
 20150710: 141,
 20150711: 142,
 20150712: 143,
 20150713: 144,
 20150714: 145,
 20150715: 146,
 20150716: 147,
 20150717: 148,
 20150718: 149,
 20150719: 150,
 20150720: 151,
 20150721: 152,
 20150722: 153,
 20150723: 154,
 20150724: 155,
 20150725: 156,
 20150726: 157,
 20150727: 158,
 20150728: 159,
 20150729: 160,
 20150730: 161,
 20150731: 162,
 20150801: 163,
 20150802: 164,
 20150803: 165,
 20150804: 166,
 20150805: 167,
 20150806: 168,
 20150807: 169,
 20150808: 170,
 20150809: 171,
 20150810: 172,
 20150811: 173,
 20150812: 174,
 20150813: 175,
 20150814: 176,
 20150815: 177,
 20150816: 178,
 20150817: 179,
 20150818: 180,
 20150819: 181,
 20150820: 182,
 20150821: 183,
 20150822: 184,
 20150823: 185,
 20150824: 186,
 20150825: 187,
 20150826: 188,
 20150827: 189,
 20150828: 190,
 20150829: 191,
 20150830: 192,
 20150831: 193,
 20150901: 194,
 20150902: 195,
 20150903: 196,
 20150904: 197,
 20150905: 198,
 20150906: 199,
 20150907: 200,
 20150908: 201,
 20150909: 202,
 20150910: 203,
 20150911: 204,
 20150912: 205,
 20150913: 206,
 20150914: 207,
 20150915: 208,
 20150916: 209,
 20150917: 210,
 20150918: 211,
 20150919: 212,
 20150920: 213,
 20150921: 214,
 20150922: 215,
 20150923: 216,
 20150924: 217,
 20150925: 218,
 20150926: 219,
 20150927: 220,
 20150928: 221,
 20150929: 222,
 20150930: 223,
 20151001: 224,
 20151002: 225,
 20151003: 226,
 20151004: 227,
 20151005: 228,
 20151006: 229,
 20151007: 230,
 20151008: 231,
 20151009: 232,
 20151010: 233,
 20151011: 234,
 20151012: 235,
 20151013: 236,
 20151014: 237,
 20151015: 238,
 20151016: 239,
 20151017: 240,
 20151018: 241,
 20151019: 242,
 20151020: 243,
 20151021: 244,
 20151022: 245,
 20151023: 246,
 20151024: 247,
 20151025: 248,
 20151026: 249,
 20151027: 250,
 20151028: 251,
 20151029: 252,
 20151030: 253,
 20151031: 254,
 20151101: 255,
 20151102: 256,
 20151103: 257,
 20151104: 258,
 20151105: 259,
 20151106: 260,
 20151107: 261,
 20151108: 262,
 20151109: 263,
 20151110: 264,
 20151111: 265,
 20151112: 266,
 20151113: 267,
 20151114: 268,
 20151115: 269,
 20151116: 270,
 20151117: 271,
 20151118: 272,
 20151119: 273,
 20151120: 274,
 20151121: 275,
 20151122: 276,
 20151123: 277,
 20151124: 278,
 20151125: 279,
 20151126: 280,
 20151127: 281,
 20151128: 282,
 20151129: 283,
 20151130: 284,
 20151201: 285,
 20151202: 286,
 20151203: 287,
 20151204: 288,
 20151205: 289,
 20151206: 290,
 20151207: 291,
 20151208: 292,
 20151209: 293,
 20151210: 294,
 20151211: 295,
 20151212: 296,
 20151213: 297,
 20151214: 298,
 20151215: 299,
 20151216: 300,
 20151217: 301,
 20151218: 302,
 20151219: 303,
 20151220: 304,
 20151221: 305,
 20151222: 306,
 20151223: 307,
 20151224: 308,
 20151225: 309,
 20151226: 310,
 20151227: 311,
 20151228: 312,
 20151229: 313,
 20151230: 314,
 20151231: 315,
 20160101: 316,
 20160102: 317,
 20160103: 318,
 20160104: 319,
 20160105: 320,
 20160106: 321,
 20160107: 322,
 20160108: 323,
 20160109: 324,
 20160110: 325,
 20160111: 326,
 20160112: 327,
 20160113: 328,
 20160114: 329,
 20160115: 330,
 20160116: 331,
 20160117: 332,
 20160118: 333,
 20160119: 334,
 20160120: 335,
 20160121: 336,
 20160122: 337,
 20160123: 338,
 20160124: 339,
 20160125: 340,
 20160126: 341,
 20160127: 342,
 20160128: 343,
 20160129: 344,
 20160130: 345,
 20160131: 346,
 20160201: 347,
 20160202: 348,
 20160203: 349,
 20160204: 350,
 20160205: 351,
 20160206: 352,
 20160207: 353,
 20160208: 354,
 20160209: 355,
 20160210: 356,
 20160211: 357,
 20160212: 358,
 20160213: 359,
 20160214: 360,
 20160215: 361,
 20160216: 362,
 20160217: 363,
 20160218: 364,
 20160219: 365,
 20160220: 366,
 20160221: 367,
 20160222: 368,
 20160223: 369,
 20160224: 370,
 20160225: 371,
 20160226: 372,
 20160227: 373,
 20160228: 374,
 20160229: 375,
 20160301: 376,
 20160302: 377,
 20160303: 378,
 20160304: 379,
 20160305: 380,
 20160306: 381,
 20160307: 382,
 20160308: 383,
 20160309: 384,
 20160310: 385,
 20160311: 386,
 20160312: 387,
 20160313: 388,
 20160314: 389,
 20160315: 390,
 20160316: 391,
 20160317: 392,
 20160318: 393,
 20160319: 394,
 20160320: 395,
 20160321: 396,
 20160322: 397,
 20160323: 398,
 20160324: 399,
 20160325: 400,
 20160326: 401,
 20160327: 402,
 20160328: 403,
 20160329: 404,
 20160330: 405,
 20160331: 406,
 20160401: 407,
 20160402: 408,
 20160403: 409,
 20160404: 410,
 20160405: 411,
 20160406: 412,
 20160407: 413,
 20160408: 414,
 20160409: 415,
 20160410: 416,
 20160411: 417,
 20160412: 418,
 20160413: 419,
 20160414: 420,
 20160415: 421,
 20160416: 422,
 20160417: 423,
 20160418: 424,
 20160419: 425,
 20160420: 426,
 20160421: 427,
 20160422: 428,
 20160423: 429,
 20160424: 430,
 20160425: 431,
 20160426: 432,
 20160427: 433,
 20160428: 434,
 20160429: 435,
 20160430: 436,
 20160501: 437,
 20160502: 438,
 20160503: 439,
 20160504: 440,
 20160505: 441,
 20160506: 442,
 20160507: 443,
 20160508: 444,
 20160509: 445,
 20160510: 446,
 20160511: 447,
 20160512: 448,
 20160513: 449,
 20160514: 450,
 20160515: 451,
 20160516: 452,
 20160517: 453,
 20160518: 454,
 20160519: 455,
 20160520: 456,
 20160521: 457,
 20160522: 458,
 20160523: 459,
 20160524: 460,
 20160525: 461,
 20160526: 462,
 20160527: 463,
 20160528: 464,
 20160529: 465,
 20160530: 466,
 20160531: 467,
 20160601: 468,
 20160602: 469,
 20160603: 470,
 20160604: 471,
 20160605: 472,
 20160606: 473,
 20160607: 474,
 20160608: 475,
 20160609: 476,
 20160610: 477,
 20160611: 478,
 20160612: 479,
 20160613: 480,
 20160614: 481,
 20160615: 482,
 20160616: 483,
 20160617: 484,
 20160618: 485,
 20160619: 486,
 20160620: 487,
 20160621: 488,
 20160622: 489,
 20160623: 490,
 20160624: 491,
 20160625: 492,
 20160626: 493,
 20160627: 494,
 20160628: 495,
 20160629: 496,
 20160630: 497,
 20160701: 498,
 20160702: 499,
 20160703: 500,
 20160704: 501,
 20160705: 502,
 20160706: 503,
 20160707: 504,
 20160708: 505,
 20160709: 506,
 20160710: 507,
 20160711: 508,
 20160712: 509,
 20160713: 510,
 20160714: 511,
 20160715: 512,
 20160716: 513,
 20160717: 514,
 20160718: 515,
 20160719: 516,
 20160720: 517,
 20160721: 518,
 20160722: 519,
 20160723: 520,
 20160724: 521,
 20160725: 522,
 20160726: 523,
 20160727: 524,
 20160728: 525,
 20160729: 526,
 20160730: 527,
 20160731: 528,
 20160801: 529,
 20160802: 530,
 20160803: 531,
 20160804: 532,
 20160805: 533,
 20160806: 534,
 20160807: 535,
 20160808: 536,
 20160809: 537,
 20160810: 538,
 20160811: 539,
 20160812: 540,
 20160813: 541,
 20160814: 542,
 20160815: 543,
 20160816: 544,
 20160817: 545,
 20160818: 546,
 20160819: 547,
 20160820: 548,
 20160821: 549,
 20160822: 550,
 20160823: 551,
 20160824: 552,
 20160825: 553,
 20160826: 554,
 20160827: 555,
 20160828: 556,
 20160829: 557,
 20160830: 558,
 20160831: 559,
 20160901: 560,
 20160902: 561,
 20160903: 562,
 20160904: 563,
 20160905: 564,
 20160906: 565,
 20160907: 566,
 20160908: 567,
 20160909: 568,
 20160910: 569,
 20160911: 570,
 20160912: 571,
 20160913: 572,
 20160914: 573,
 20160915: 574,
 20160916: 575,
 20160917: 576,
 20160918: 577,
 20160919: 578,
 20160920: 579,
 20160921: 580,
 20160922: 581,
 20160923: 582,
 20160924: 583,
 20160925: 584,
 20160926: 585,
 20160927: 586,
 20160928: 587,
 20160929: 588,
 20160930: 589,
 20161001: 590,
 20161002: 591,
 20161003: 592,
 20161004: 593,
 20161005: 594,
 20161006: 595,
 20161007: 596,
 20161008: 597,
 20161009: 598,
 20161010: 599,
 20161011: 600,
 20161012: 601,
 20161013: 602,
 20161014: 603,
 20161015: 604,
 20161016: 605,
 20161017: 606,
 20161018: 607,
 20161019: 608,
 20161020: 609,
 20161021: 610,
 20161022: 611,
 20161023: 612,
 20161024: 613,
 20161025: 614,
 20161026: 615,
 20161027: 616,
 20161028: 617,
 20161029: 618,
 20161030: 619,
 20161031: 620,
 20161101: 621,
 20161102: 622,
 20161103: 623,
 20161104: 624,
 20161105: 625,
 20161106: 626,
 20161107: 627,
 20161108: 628,
 20161109: 629,
 20161110: 630,
 20161111: 631,
 20161112: 632,
 20161113: 633,
 20161114: 634,
 20161115: 635,
 20161116: 636,
 20161117: 637,
 20161118: 638,
 20161119: 639,
 20161120: 640,
 20161121: 641,
 20161122: 642,
 20161123: 643,
 20161124: 644,
 20161125: 645,
 20161126: 646,
 20161127: 647,
 20161128: 648,
 20161129: 649,
 20161130: 650,
 20161201: 651,
 20161202: 652,
 20161203: 653,
 20161204: 654,
 20161205: 655,
 20161206: 656,
 20161207: 657,
 20161208: 658,
 20161209: 659,
 20161210: 660,
 20161211: 661,
 20161212: 662,
 20161213: 663,
 20161214: 664,
 20161215: 665,
 20161216: 666,
 20161217: 667,
 20161218: 668,
 20161219: 669,
 20161220: 670,
 20161221: 671,
 20161222: 672,
 20161223: 673,
 20161224: 674,
 20161225: 675,
 20161226: 676,
 20161227: 677,
 20161228: 678,
 20161229: 679,
 20161230: 680,
 20161231: 681,
 20170101: 682,
 20170102: 683,
 20170103: 684,
 20170104: 685,
 20170105: 686,
 20170106: 687,
 20170107: 688,
 20170108: 689,
 20170109: 690,
 20170110: 691,
 20170111: 692,
 20170112: 693,
 20170113: 694,
 20170114: 695,
 20170115: 696,
 20170116: 697,
 20170117: 698,
 20170118: 699,
 20170119: 700,
 20170120: 701,
 20170121: 702,
 20170122: 703,
 20170123: 704,
 20170124: 705,
 20170125: 706,
 20170126: 707,
 20170127: 708,
 20170128: 709,
 20170129: 710,
 20170130: 711,
 20170131: 712,
 20170201: 713,
 20170202: 714,
 20170203: 715,
 20170204: 716,
 20170205: 717,
 20170206: 718,
 20170207: 719,
 20170208: 720,
 20170209: 721,
 20170210: 722,
 20170211: 723,
 20170212: 724,
 20170213: 725,
 20170214: 726,
 20170215: 727,
 20170216: 728,
 20170217: 729,
 20170218: 730,
 20170219: 731,
 20170220: 732,
 20170221: 733,
 20170222: 734,
 20170223: 735,
 20170224: 736,
 20170225: 737,
 20170226: 738,
 20170227: 739,
 20170228: 740,
 20170301: 741,
 20170302: 742,
 20170303: 743,
 20170304: 744,
 20170305: 745,
 20170306: 746,
 20170307: 747,
 20170308: 748,
 20170309: 749,
 20170310: 750,
 20170311: 751,
 20170312: 752,
 20170313: 753,
 20170314: 754,
 20170315: 755,
 20170316: 756,
 20170317: 757,
 20170318: 758,
 20170319: 759,
 20170320: 760,
 20170321: 761,
 20170322: 762,
 20170323: 763,
 20170324: 764,
 20170325: 765,
 20170326: 766,
 20170327: 767,
 20170328: 768,
 20170329: 769,
 20170330: 770,
 20170331: 771,
 20170401: 772,
 20170402: 773,
 20170403: 774,
 20170404: 775,
 20170405: 776,
 20170406: 777,
 20170407: 778,
 20170408: 779,
 20170409: 780,
 20170410: 781,
 20170411: 782,
 20170412: 783,
 20170413: 784,
 20170414: 785,
 20170415: 786,
 20170416: 787,
 20170417: 788,
 20170418: 789,
 20170419: 790,
 20170420: 791,
 20170421: 792,
 20170422: 793,
 20170423: 794,
 20170424: 795,
 20170425: 796,
 20170426: 797,
 20170427: 798,
 20170428: 799,
 20170429: 800,
 20170430: 801,
 20170501: 802,
 20170502: 803,
 20170503: 804,
 20170504: 805,
 20170505: 806,
 20170506: 807,
 20170507: 808,
 20170508: 809,
 20170509: 810,
 20170510: 811,
 20170511: 812,
 20170512: 813,
 20170513: 814,
 20170514: 815,
 20170515: 816,
 20170516: 817,
 20170517: 818,
 20170518: 819,
 20170519: 820,
 20170520: 821,
 20170521: 822,
 20170522: 823,
 20170523: 824,
 20170524: 825,
 20170525: 826,
 20170526: 827,
 20170527: 828,
 20170528: 829,
 20170529: 830,
 20170530: 831,
 20170531: 832,
 20170601: 833,
 20170602: 834,
 20170603: 835,
 20170604: 836,
 20170605: 837,
 20170606: 838,
 20170607: 839,
 20170608: 840,
 20170609: 841,
 20170610: 842,
 20170611: 843,
 20170612: 844,
 20170613: 845,
 20170614: 846,
 20170615: 847,
 20170616: 848,
 20170617: 849,
 20170618: 850,
 20170619: 851,
 20170620: 852,
 20170621: 853,
 20170622: 854,
 20170623: 855,
 20170624: 856,
 20170625: 857,
 20170626: 858,
 20170627: 859,
 20170628: 860,
 20170629: 861,
 20170630: 862,
 20170701: 863,
 20170702: 864,
 20170703: 865,
 20170704: 866,
 20170705: 867,
 20170706: 868,
 20170707: 869,
 20170708: 870,
 20170709: 871,
 20170710: 872,
 20170711: 873,
 20170712: 874,
 20170713: 875,
 20170714: 876,
 20170715: 877,
 20170716: 878,
 20170717: 879,
 20170718: 880,
 20170719: 881,
 20170720: 882,
 20170721: 883,
 20170722: 884,
 20170723: 885,
 20170724: 886,
 20170725: 887,
 20170726: 888,
 20170727: 889,
 20170728: 890,
 20170729: 891,
 20170730: 892,
 20170731: 893,
 20170801: 894,
 20170802: 895,
 20170803: 896,
 20170804: 897,
 20170805: 898,
 20170806: 899,
 20170807: 900,
 20170808: 901,
 20170809: 902,
 20170810: 903,
 20170811: 904,
 20170812: 905,
 20170813: 906,
 20170814: 907,
 20170815: 908,
 20170816: 909,
 20170817: 910,
 20170818: 911,
 20170819: 912,
 20170820: 913,
 20170821: 914,
 20170822: 915,
 20170823: 916,
 20170824: 917,
 20170825: 918,
 20170826: 919,
 20170827: 920,
 20170828: 921,
 20170829: 922,
 20170830: 923,
 20170831: 924,
 20170901: 925,
 20170902: 926,
 20170903: 927,
 20170904: 928,
 20170905: 929,
 20170906: 930,
 20170907: 931,
 20170908: 932,
 20170909: 933,
 20170910: 934,
 20170911: 935,
 20170912: 936,
 20170913: 937,
 20170914: 938,
 20170915: 939,
 20170916: 940,
 20170917: 941,
 20170918: 942,
 20170919: 943,
 20170920: 944,
 20170921: 945,
 20170922: 946,
 20170923: 947,
 20170924: 948,
 20170925: 949,
 20170926: 950,
 20170927: 951,
 20170928: 952,
 20170929: 953,
 20170930: 954,
 20171001: 955,
 20171002: 956,
 20171003: 957,
 20171004: 958,
 20171005: 959,
 20171006: 960,
 20171007: 961,
 20171008: 962,
 20171009: 963,
 20171010: 964,
 20171011: 965,
 20171012: 966,
 20171013: 967,
 20171014: 968,
 20171015: 969,
 20171016: 970,
 20171017: 971,
 20171018: 972,
 20171019: 973,
 20171020: 974,
 20171021: 975,
 20171022: 976,
 20171023: 977,
 20171024: 978,
 20171025: 979,
 20171026: 980,
 20171027: 981,
 20171028: 982,
 20171029: 983,
 20171030: 984,
 20171031: 985,
 20171101: 986,
 20171102: 987,
 20171103: 988,
 20171104: 989,
 20171105: 990,
 20171106: 991,
 20171107: 992,
 20171108: 993,
 20171109: 994,
 20171110: 995,
 20171111: 996,
 20171112: 997,
 20171113: 998,
 20171114: 999,
 ...}

In [ ]:
# filtered_ces = valid_ces + [new_outliers_dedu]

In [206]:
test_max_date = filtered_ces_df['day'].max()
test_min_date = test_max_date-10000+1 # one year
val_max_date = test_min_date - 1
val_min_date = val_max_date-10000+1 # one year
train_max_date = val_min_date-1

In [207]:
train_max_date

20200317

In [ ]:
# train_outliters = new_outliers_dedu[new_outliers_dedu['day'] <= train_max_date]
# val_outliters = new_outliers_dedu[(new_outliers_dedu['day'] >= val_min_date) & (new_outliers_dedu['day'] <= val_max_date)]
# test_outliters = new_outliers_dedu[new_outliers_dedu['day'] >= test_min_date]
# for _ in [train_outliters, val_outliters, test_outliters]:
#     print(len(_))
#     print(len(_['Md5'].unique()))

In [208]:
# split ces
ceid2centertimid = {}
for ceid, valid_ce in enumerate(valid_ces):
    unique_timids = list(valid_ce['timid'].unique())
    timid_sum = 0
    for timid in unique_timids:
        timid_sum += timid * len(valid_ce[valid_ce['timid']==timid])
    centertimid = timid_sum*1.0/len(valid_ce)
    ceid2centertimid[ceid] = centertimid

In [209]:
ceid2centertimid

{0: 1809.7767857142858,
 1: 1826.3035714285713,
 2: 1829.830357142857,
 3: 1831.2232142857142,
 4: 1832.7589285714287,
 5: 1834.6875,
 6: 1836.705357142857,
 7: 1838.4464285714287,
 8: 1840.357142857143,
 9: 1841.9375,
 10: 1843.767857142857,
 11: 1845.7857142857142,
 12: 1847.5625,
 13: 1848.6785714285713,
 14: 1851.1875,
 15: 1853.4017857142858,
 16: 1854.5892857142858,
 17: 1856.794642857143,
 18: 1859.232142857143,
 19: 1863.4017857142858,
 20: 1867.25,
 21: 1871.0267857142858,
 22: 1874.767857142857,
 23: 1880.044642857143,
 24: 1887.2767857142858,
 25: 1893.9285714285713,
 26: 1899.6339285714287,
 27: 1910.7767857142858,
 28: 1922.625,
 29: 1934.142857142857,
 30: 1948.1607142857142,
 31: 1960.8214285714287,
 32: 1970.5982142857142,
 33: 1981.375,
 34: 1996.394366197183,
 35: 231.0,
 36: 242.33035714285714,
 37: 254.52678571428572,
 38: 271.1875,
 39: 286.4375,
 40: 304.0892857142857,
 41: 318.04464285714283,
 42: 324.55357142857144,
 43: 332.33035714285717,
 44: 341.75,
 45: 357.11607142857144,
 46: 378.3482142857143,
 47: 393.3578947368421,
 48: 2102.3928571428573,
 49: 2122.0535714285716,
 50: 2131.8839285714284,
 51: 2142.75,
 52: 2151.5714285714284,
 53: 2158.1160714285716,
 54: 2166.4285714285716,
 55: 2175.5535714285716,
 56: 2186.7946428571427,
 57: 2193.1339285714284,
 58: 2202.9464285714284,
 59: 2218.6428571428573,
 60: 2248.375,
 61: 833.7053571428571,
 62: 837.6696428571429,
 63: 838.5535714285714,
 64: 839.6517857142857,
 65: 841.4910714285714,
 66: 844.3303571428571,
 67: 849.2321428571429,
 68: 855.1160714285714,
 69: 861.3125,
 70: 868.2410714285714,
 71: 874.3660714285714,
 72: 882.1160714285714,
 73: 891.7053571428571,
 74: 920.25,
 75: 940.8153846153846,
 76: 2311.4821428571427,
 77: 2334.9910714285716,
 78: 2353.875,
 79: 2366.7410714285716,
 80: 2385.9375,
 81: 2414.0178571428573,
 82: 2445.6696428571427,
 83: 2472.098214285714,
 84: 2490.8660714285716,
 85: 2508.089285714286,
 86: 2532.7128712871286,
 87: 1598.2410714285713,
 88: 1603.080357142857,
 89: 1606.7142857142858,
 90: 1611.955357142857,
 91: 1614.0892857142858,
 92: 1618.0535714285713,
 93: 1622.864406779661,
 94: 671.6696428571429,
 95: 673.8928571428571,
 96: 675.375,
 97: 676.9642857142857,
 98: 678.4464285714286,
 99: 681.7232142857143,
 100: 690.4642857142857,
 101: 698.4615384615385,
 102: 317.7142857142857,
 103: 319.30357142857144,
 104: 320.0892857142857,
 105: 321.41964285714283,
 106: 323.13392857142856,
 107: 325.69642857142856,
 108: 332.98214285714283,
 109: 348.4375,
 110: 951.6279069767442,
 111: 1036.7820512820513,
 112: 1117.9072164948454,
 113: 1186.6811594202898,
 114: 1270.75,
 115: 1347.6875,
 116: 1426.725806451613,
 117: 1513.375,
 118: 1596.8987341772151,
 119: 1674.9622641509434,
 120: 1753.1132075471698,
 121: 1824.35,
 122: 1926.2790697674418,
 123: 2005.9803921568628,
 124: 2080.2272727272725,
 125: 2135.8372093023254,
 126: 2257.230769230769,
 127: 2307.090909090909,
 128: 2405.6363636363635,
 129: 2472.8333333333335,
 130: 2555.0526315789475,
 131: 1780.080357142857,
 132: 1781.8035714285713,
 133: 1784.125,
 134: 1789.5185185185185,
 135: 30.339285714285715,
 136: 35.892857142857146,
 137: 38.276785714285715,
 138: 44.19642857142857,
 139: 49.892857142857146,
 140: 54.482142857142854,
 141: 59.473214285714285,
 142: 65.46428571428571,
 143: 82.14285714285714,
 144: 103.18181818181819,
 145: 1487.732142857143,
 146: 1492.7142857142858,
 147: 1495.375,
 148: 1497.267857142857,
 149: 1504.2589285714287,
 150: 711.625,
 151: 714.5625,
 152: 717.9196428571429,
 153: 723.8839285714286,
 154: 738.1517857142857,
 155: 758.4920634920635,
 156: 1799.0982142857142,
 157: 1803.7232142857142,
 158: 1805.1785714285713,
 159: 1807.6160714285713,
 160: 1814.5892857142858,
 161: 1822.1929824561403,
 162: 5.669642857142857,
 163: 10.803571428571429,
 164: 15.169642857142858,
 165: 28.758928571428573,
 166: 36.55555555555556,
 167: 4.642857142857143,
 168: 20.419642857142858,
 169: 30.151785714285715,
 170: 37.61607142857143,
 171: 42.267857142857146,
 172: 49.89230769230769,
 173: 2542.9375,
 174: 2563.589285714286,
 175: 2567.098214285714,
 176: 2570.7321428571427,
 177: 2575.5714285714284,
 178: 2579.8660714285716,
 179: 2582.705882352941,
 180: 1927.3035714285713,
 181: 1941.732142857143,
 182: 1953.0267857142858,
 183: 1972.2142857142858,
 184: 1983.933962264151,
 185: 1831.232142857143,
 186: 1842.5089285714287,
 187: 1856.330357142857,
 188: 1877.9732142857142,
 189: 1904.294642857143,
 190: 2105.5,
 191: 2152.973214285714,
 192: 2178.5089285714284,
 193: 2199.339285714286,
 194: 2242.0803571428573,
 195: 2314.3958333333335,
 196: 2165.5714285714284,
 197: 2216.1160714285716,
 198: 2249.25,
 199: 2294.4910714285716,
 200: 2321.151785714286,
 201: 2337.24,
 202: 2325.8125,
 203: 2392.6339285714284,
 204: 2453.098214285714,
 205: 2488.705882352941,
 206: 777.2232142857143,
 207: 779.9017857142857,
 208: 781.9196428571429,
 209: 788.0357142857143,
 210: 797.8695652173913,
 211: 6.5625,
 212: 14.142857142857142,
 213: 36.830357142857146,
 214: 48.142857142857146,
 215: 67.78378378378379,
 216: 2545.1964285714284,
 217: 2563.285714285714,
 218: 2567.2321428571427,
 219: 2572.375,
 220: 2578.5089285714284,
 221: 2582.4716981132074,
 222: 1669.357142857143,
 223: 1671.0892857142858,
 224: 1672.8035714285713,
 225: 1676.5089285714287,
 226: 1681.056338028169,
 227: 1638.2410714285713,
 228: 1641.767857142857,
 229: 1648.669642857143,
 230: 1659.1904761904761,
 231: 1785.455357142857,
 232: 1787.8125,
 233: 1791.90099009901,
 234: 2557.1785714285716,
 235: 2567.464285714286,
 236: 2573.7053571428573,
 237: 2579.2589285714284,
 238: 2582.6792452830186,
 239: 628.7589285714286,
 240: 643.9553571428571,
 241: 681.3392857142857,
 242: 703.8214285714286,
 243: 718.8482142857143,
 244: 742.2608695652174,
 245: 1307.669642857143,
 246: 1310.607142857143,
 247: 1315.7962962962963,
 248: 2154.5,
 249: 2188.2321428571427,
 250: 2221.6339285714284,
 251: 2275.5238095238096,
 252: 2323.2083333333335,
 253: 558.0267857142857,
 254: 592.4642857142857,
 255: 633.0714285714286,
 256: 652.5089285714286,
 257: 2002.294642857143,
 258: 2003.955357142857,
 259: 2007.080357142857,
 260: 2012.1971830985915,
 261: 1021.6964285714286,
 262: 1029.205357142857,
 263: 1038.7671232876712,
 264: 1648.3482142857142,
 265: 1651.4732142857142,
 266: 1655.0089285714287,
 267: 1660.1616161616162,
 268: 1761.7142857142858,
 269: 1780.25,
 270: 1792.7142857142858,
 271: 1814.5357142857142,
 272: 991.0089285714286,
 273: 998.0892857142857,
 274: 1005.4464285714286,
 275: 1016.5675675675676,
 276: 137.25,
 277: 149.94642857142858,
 278: 173.17857142857142,
 279: 222.16666666666666,
 280: 1332.4107142857142,
 281: 1342.357142857143,
 282: 1357.6875,
 283: 1373.2068965517242,
 284: 1478.8839285714287,
 285: 1493.9732142857142,
 286: 1500.7395833333333,
 287: 2367.7053571428573,
 288: 2375.0,
 289: 2381.875,
 290: 2397.4576271186443,
 291: 1849.0625,
 292: 1864.9732142857142,
 293: 1882.3214285714287,
 294: 1509.4910714285713,
 295: 1519.3295454545455,
 296: 1081.1339285714287,
 297: 1109.6493506493507,
 298: 1930.669642857143,
 299: 1951.5,
 300: 1969.6607142857142,
 301: 1985.4375,
 302: 2013.9148936170213,
 303: 1145.5892857142858,
 304: 1148.6339285714287,
 305: 1151.982142857143,
 306: 892.4285714285714,
 307: 928.7410714285714,
 308: 961.0446428571429,
 309: 1007.9285714285714,
 310: 1019.9553571428571,
 311: 1023.0446428571429,
 312: 1027.4137931034484,
 313: 565.3125,
 314: 579.7530864197531,
 315: 2347.0714285714284,
 316: 2358.3571428571427,
 317: 2369.135135135135,
 318: 535.5357142857143,
 319: 549.1071428571429,
 320: 556.1296296296297,
 321: 451.6363636363636,
 322: 536.1724137931035,
 323: 611.709090909091,
 324: 690.3478260869565,
 325: 771.46875,
 326: 853.2592592592592,
 327: 942.9166666666666,
 328: 2483.1160714285716,
 329: 2542.348214285714,
 330: 2573.285714285714,
 331: 1668.669642857143,
 332: 1674.1607142857142,
 333: 1681.8035714285713,
 334: 1691.9,
 335: 1998.6339285714287,
 336: 2009.5714285714287,
 337: 1384.9464285714287,
 338: 1392.919642857143,
 339: 1402.9666666666667,
 340: 490.3482142857143,
 341: 494.4375,
 342: 499.1333333333333,
 343: 1171.1964285714287,
 344: 1179.7142857142858,
 345: 1182.1944444444443,
 346: 1574.5714285714287,
 347: 1577.6517857142858,
 348: 1581.7857142857142,
 349: 24.6875,
 350: 89.45535714285714,
 351: 132.96666666666667,
 352: 1401.2232142857142,
 353: 1415.0,
 354: 1425.0357142857142,
 355: 1273.2692307692307,
 356: 1360.3846153846155,
 357: 1464.6666666666667,
 358: 1543.7241379310344,
 359: 1625.857142857143,
 360: 1706.1,
 361: 1787.7586206896551,
 362: 1889.3684210526317,
 363: 2017.608695652174,
 364: 2182.7,
 365: 2374.0,
 366: 2576.6666666666665,
 367: 2360.257575757576,
 368: 2434.299065420561,
 369: 2513.2678571428573,
 370: 2562.8275862068967,
 371: 1086.6517857142858,
 372: 1090.368932038835,
 373: 448.1517857142857,
 374: 476.85714285714283,
 375: 1020.8482142857143,
 376: 1024.128205128205,
 377: 124.92857142857143,
 378: 137.19642857142858,
 379: 143.58695652173913,
 380: 1637.982142857143,
 381: 1640.6785714285713,
 382: 1643.5128205128206,
 383: 1780.5089285714287,
 384: 1784.9449541284403,
 385: 1090.5,
 386: 1101.3125,
 387: 1113.8048780487804,
 388: 2222.7946428571427,
 389: 2240.348214285714,
 390: 2266.0,
 391: 1984.8482142857142,
 392: 1996.4910714285713,
 393: 2018.4,
 394: 1403.4285714285713,
 395: 1421.4183673469388,
 396: 1705.044642857143,
 397: 1753.3125,
 398: 1782.875,
 399: 1797.891304347826,
 400: 2396.2837837837837,
 401: 2444.8928571428573,
 402: 2487.3571428571427,
 403: 2529.608695652174,
 404: 702.2142857142857,
 405: 728.626168224299,
 406: 1314.3839285714287,
 407: 1320.9107142857142,
 408: 1329.5238095238096,
 409: 1310.669642857143,
 410: 1319.3214285714287,
 411: 790.2678571428571,
 412: 801.7053571428571,
 413: 818.0,
 414: 2407.512195121951,
 415: 2483.3815789473683,
 416: 2533.3928571428573,
 417: 2552.75,
 418: 2031.580357142857,
 419: 2035.4732142857142,
 420: 945.0625,
 421: 950.9642857142857,
 422: 961.2045454545455,
 423: 950.2946428571429,
 424: 963.6990291262136,
 425: 51.294642857142854,
 426: 73.39,
 427: 1803.4642857142858,
 428: 1825.4222222222222,
 429: 2462.1785714285716,
 430: 2477.8035714285716,
 431: 2492.4328358208954,
 432: 16.875,
 433: 25.24590163934426,
 434: 1034.267857142857,
 435: 1036.5535714285713,
 436: 1040.0,
 437: 768.3303571428571,
 438: 813.0277777777778,
 439: 1120.8482142857142,
 440: 1134.409090909091,
 441: 818.7232142857143,
 442: 854.7115384615385,
 443: 1209.7586206896551,
 444: 1277.4246575342465,
 445: 1338.4444444444443,
 446: 585.7767857142857,
 447: 589.6875,
 448: 616.9285714285714,
 449: 1535.7232142857142,
 450: 1538.9910714285713,
 451: 1547.36,
 452: 23.017857142857142,
 453: 32.794642857142854,
 454: 2539.8928571428573,
 455: 2571.4,
 456: 1563.169642857143,
 457: 1591.452380952381,
 458: 2283.589285714286,
 459: 2292.723214285714,
 460: 2306.8333333333335,
 461: 456.4375,
 462: 469.3243243243243,
 463: 1506.9285714285713,
 464: 1512.8392857142858,
 465: 1519.2,
 466: 1082.5892857142858,
 467: 1093.611650485437,
 468: 328.63392857142856,
 469: 342.8787878787879,
 470: 1567.9756097560976,
 471: 1614.1607142857142,
 472: 1647.1176470588234,
 473: 1572.2685185185185,
 474: 1657.5,
 475: 222.91964285714286,
 476: 237.07142857142858,
 477: 252.88732394366198,
 478: 2033.9642857142858,
 479: 2064.814814814815,
 480: 1763.8660714285713,
 481: 1789.2596153846155,
 482: 1722.955357142857,
 483: 1729.7767857142858,
 484: 1743.7903225806451,
 485: 1584.0357142857142,
 486: 1608.8275862068965,
 487: 1923.6339285714287,
 488: 1996.2342342342342,
 489: 1099.0267857142858,
 490: 1162.2962962962963,
 491: 2460.2912621359224,
 492: 2505.3333333333335,
 493: 1031.294642857143,
 494: 1051.0,
 495: 1299.2142857142858,
 496: 1312.0227272727273,
 497: 718.8901098901099,
 498: 756.7878787878788,
 499: 1244.5981308411215,
 500: 725.1607142857143,
 501: 751.4897959183673,
 502: 1438.2232142857142,
 503: 1460.970297029703,
 504: 1692.348623853211,
 505: 1777.2105263157894,
 506: 1508.169642857143,
 507: 1533.4807692307693,
 508: 2293.9196428571427,
 509: 2304.1428571428573,
 510: 1313.044642857143,
 511: 1331.3,
 512: 1727.1160714285713,
 513: 1755.6545454545455,
 514: 830.6875,
 515: 859.4903846153846,
 516: 259.875,
 517: 271.38709677419354,
 518: 268.48214285714283,
 519: 292.0487804878049,
 520: 2013.9107142857142,
 521: 2062.2526315789473,
 522: 2127.3636363636365,
 523: 1656.3392857142858,
 524: 1682.0625,
 525: 1492.1160714285713,
 526: 1499.0714285714287,
 527: 1506.030303030303,
 528: 1196.080357142857,
 529: 1210.929411764706,
 530: 1917.7589285714287,
 531: 1961.155172413793,
 532: 1181.5267857142858,
 533: 1197.6160714285713,
 534: 1213.8387096774193,
 535: 1368.830357142857,
 536: 1394.079365079365,
 537: 1462.6607142857142,
 538: 1174.1875,
 539: 1179.2173913043478,
 540: 1594.017857142857,
 541: 1610.1142857142856,
 542: 1539.0357142857142,
 543: 1548.8271604938273,
 544: 1453.25,
 545: 1474.3636363636363,
 546: 1991.6875,
 547: 2019.5357142857142,
 548: 2055.3,
 549: 301.3482142857143,
 550: 312.13392857142856,
 551: 251.30357142857142,
 552: 263.10526315789474,
 553: 1652.8214285714287,
 554: 1678.625,
 555: 1694.580357142857,
 556: 1704.875,
 557: 1172.9732142857142,
 558: 1208.7142857142858,
 559: 1494.357142857143,
 560: 1570.8823529411766,
 561: 1678.4,
 562: 1874.6315789473683,
 563: 2039.2,
 564: 2150.6875,
 565: 2262.3333333333335,
 566: 879.9642857142857,
 567: 888.3855421686746,
 568: 1329.482142857143,
 569: 1337.09900990099,
 570: 178.72093023255815,
 571: 248.8,
 572: 338.1818181818182,
 573: 455.88235294117646,
 574: 498.3333333333333,
 575: 655.1666666666666,
 576: 734.4615384615385,
 577: 802.4545454545455,
 578: 887.5,
 579: 1006.0769230769231,
 580: 1174.45,
 581: 1241.8181818181818,
 582: 883.0803571428571,
 583: 906.5483870967741,
 584: 1647.357142857143,
 585: 1657.9638554216867,
 586: 833.9555555555555,
 587: 867.8035714285714,
 588: 1582.375,
 589: 1585.9705882352941,
 590: 889.6470588235294,
 591: 2274.0,
 592: 2279.6388888888887,
 593: 2367.96875,
 594: 2434.784090909091,
 595: 2494.1612903225805,
 596: 217.86607142857142,
 597: 233.73333333333332,
 598: 2001.2142857142858,
 599: 2015.972972972973,
 600: 67.76785714285714,
 601: 78.34285714285714,
 602: 1678.9732142857142,
 603: 1707.1785714285713,
 604: 885.1339285714286,
 605: 899.0,
 606: 1559.4324324324325,
 607: 1557.3035714285713,
 608: 1576.92,
 609: 849.074074074074,
 610: 918.6666666666666,
 611: 629.7767857142857,
 612: 638.8985507246376,
 613: 55.567567567567565,
 614: 575.9642857142857,
 615: 588.7272727272727,
 616: 710.0446428571429,
 617: 716.4561403508771,
 618: 1250.75,
 619: 1175.4375,
 620: 353.55357142857144,
 621: 371.50877192982455,
 622: 2118.3214285714284,
 623: 2159.6767676767677,
 624: 2134.3333333333335,
 625: 2195.3333333333335,
 626: 2250.8260869565215,
 627: 2480.6071428571427,
 628: 2509.5555555555557,
 629: 369.0625,
 630: 388.32,
 631: 1383.455357142857,
 632: 1404.453125,
 633: 1408.5714285714287,
 634: 1421.5833333333333,
 635: 1179.4642857142858,
 636: 1188.448275862069,
 637: 2553.8303571428573,
 638: 2579.195652173913,
 639: 1239.1964285714287,
 640: 1262.1,
 641: 1735.017857142857,
 642: 1063.705357142857,
 643: 1089.527027027027,
 644: 837.43,
 645: 882.3666666666667,
 646: 2257.3660714285716,
 647: 2297.3846153846152,
 648: 1277.9814814814815,
 649: 1323.32,
 650: 1834.1607142857142,
 651: 1840.8,
 652: 2033.4910714285713,
 653: 2063.4848484848485,
 654: 961.5446428571429,
 655: 977.639344262295,
 656: 1288.830357142857,
 657: 1302.7272727272727,
 658: 346.80357142857144,
 659: 373.8666666666667,
 660: 2049.8125,
 661: 2070.4553571428573,
 662: 2148.75,
 663: 1269.1339285714287,
 664: 1293.2105263157894,
 665: 2197.5,
 666: 2221.0833333333335,
 667: 691.0803571428571,
 668: 721.3,
 669: 2278.035714285714,
 670: 2290.776785714286,
 671: 2309.7450980392155,
 672: 2455.10447761194,
 673: 2527.5882352941176,
 674: 1259.15,
 675: 1332.1818181818182,
 676: 1410.12,
 677: 1503.7714285714285,
 678: 1605.5882352941176,
 679: 198.84761904761905,
 680: 712.7321428571429,
 681: 331.86607142857144,
 682: 338.3448275862069,
 683: 2236.785714285714,
 684: 2256.5757575757575,
 685: 997.4732142857143,
 686: 1011.6813186813187,
 687: 2067.3571428571427,
 688: 2075.909090909091,
 689: 933.2857142857143,
 690: 952.6551724137931,
 691: 1816.7912087912089,
 692: 1437.7142857142858,
 693: 1449.8536585365853,
 694: 1612.3125,
 695: 934.1176470588235,
 696: 1038.549019607843,
 697: 1087.7446808510638,
 698: 1168.0740740740741,
 699: 1257.35,
 700: 399.86607142857144,
 701: 422.4175824175824,
 702: 1027.5535714285713,
 703: 1035.6818181818182,
 704: 221.73033707865167,
 705: 2429.2077922077924,
 706: 2501.4166666666665,
 707: 219.67741935483872,
 708: 303.6,
 709: 1267.044642857143,
 710: 693.6160714285714,
 711: 697.6976744186046,
 712: 2182.2053571428573,
 713: 2200.191489361702,
 714: 2209.6338028169016,
 715: 2257.211267605634,
 716: 1296.8240740740741,
 717: 2191.589285714286,
 718: 2199.9523809523807,
 719: 568.5901639344262,
 720: 2009.455357142857,
 721: 2022.5,
 722: 2276.3928571428573,
 723: 2286.3076923076924,
 724: 1584.5865384615386,
 725: 2110.125,
 726: 2118.076923076923,
 727: 2298.8928571428573,
 728: 2327.3414634146343,
 729: 370.88392857142856,
 730: 376.20588235294116,
 731: 1173.3035714285713,
 732: 1190.171052631579,
 733: 590.9732142857143,
 734: 620.3469387755102,
 735: 1231.875,
 736: 1249.5925925925926,
 737: 1389.6785714285713,
 738: 1399.3030303030303,
 739: 965.3392857142857,
 740: 970.7,
 741: 486.7307692307692,
 742: 562.9487179487179,
 743: 617.72,
 744: 1289.0267857142858,
 745: 1734.607142857143,
 746: 1750.698113207547,
 747: 1893.7142857142858,
 748: 1557.0,
 749: 1601.92,
 750: 2179.1339285714284,
 751: 1167.4117647058824,
 752: 2313.2419354838707,
 753: 2390.0,
 754: 1716.2337662337663,
 755: 1796.6060606060605,
 756: 1842.1818181818182,
 757: 432.9642857142857,
 758: 452.94444444444446,
 759: 820.4910714285714,
 760: 853.8333333333334,
 761: 2018.7232142857142,
 762: 2023.9354838709678,
 763: 2177.473214285714,
 764: 1632.5,
 765: 205.90178571428572,
 766: 246.03947368421052,
 767: 652.939393939394,
 768: 1330.7435897435898,
 769: 1350.0,
 770: 818.4821428571429,
 771: 826.325,
 772: 1238.9107142857142,
 773: 1253.7543859649122,
 774: 1449.6875,
 775: 1460.125,
 776: 330.42857142857144,
 777: 339.7551020408163,
 778: 1193.375,
 779: 1201.0,
 780: 801.375,
 781: 808.1698113207547,
 782: 436.1517857142857,
 783: 451.5416666666667,
 784: 401.25892857142856,
 785: 1587.2051282051282,
 786: 551.6857142857143,
 787: 985.325,
 788: 1457.2178217821781,
 789: 1518.2941176470588,
 790: 689.0267857142857,
 791: 705.3589743589744,
 792: 1323.642857142857,
 793: 1334.157894736842,
 794: 886.1964285714286,
 795: 893.3770491803278,
 796: 1047.4732142857142,
 797: 1052.2608695652175,
 798: 1481.1869158878505,
 799: 2282.598214285714,
 800: 2288.0,
 801: 1558.9285714285713,
 802: 1567.2727272727273,
 803: 1969.2767857142858,
 804: 1990.1489361702127,
 805: 1673.6517857142858,
 806: 1685.72,
 807: 1232.9732142857142,
 808: 763.6724137931035,
 809: 1551.893203883495,
 810: 1266.0,
 811: 1287.96,
 812: 1461.580357142857,
 813: 1487.8484848484848,
 814: 1716.6607142857142,
 815: 1755.5882352941176,
 816: 1429.8555555555556,
 817: 1127.4464285714287,
 818: 2461.94623655914,
 819: 2546.9821428571427,
 820: 2576.9444444444443,
 821: 1736.5,
 822: 1480.32,
 823: 1815.0666666666666,
 824: 1854.9,
 825: 2416.5842696629215,
 826: 781.934065934066,
 827: 1133.3333333333333,
 828: 1214.8727272727272,
 829: 818.375,
 830: 224.54464285714286,
 831: 235.78378378378378,
 832: 1166.7368421052631,
 833: 108.32558139534883,
 834: 1145.794642857143,
 835: 2209.2526315789473,
 836: 1053.6904761904761,
 837: 118.40217391304348,
 838: 1049.6818181818182,
 839: 504.3131313131313,
 840: 544.0,
 841: 356.32142857142856,

In [210]:
train_ceids, val_ceids, test_ceids = [], [], []
for ceid, centertimid in ceid2centertimid.items():
    if centertimid <= tim2id[train_max_date]:
        train_ceids.append(ceid)
    elif centertimid >= tim2id[val_min_date] and centertimid <= tim2id[val_max_date]:
        val_ceids.append(ceid)
    else:
        test_ceids.append(ceid)

In [211]:
train_ce_df = pd.concat([valid_ces[ceid] for ceid in train_ceids], ignore_index=True)
val_ce_df = pd.concat([valid_ces[ceid] for ceid in val_ceids], ignore_index=True)
test_ce_df = pd.concat([valid_ces[ceid] for ceid in test_ceids], ignore_index=True)

In [ ]:
# this is wrong because ceid in valid_ces is not continuous
# train_ce_df = filtered_ces_df[filtered_ces_df['ce_id'].isin(train_ceids)]
# val_ce_df = filtered_ces_df[filtered_ces_df['ce_id'].isin(val_ceids)]
# test_ce_df = filtered_ces_df[filtered_ces_df['ce_id'].isin(val_ceids)]

In [212]:
print(len(train_ceids))
print(len(val_ceids))
print(len(test_ceids))

3452
494
455

In [213]:
train_df = train_ce_df.sort_values(by=['day'], ignore_index=True)
val_df = val_ce_df.sort_values(by=['day'], ignore_index=True)
test_df = test_ce_df.sort_values(by=['day'], ignore_index=True)

In [214]:
# assign new ceids
old_ceids = list(train_df['ce_id'].unique())
mapping = {}
for new_ceid, ceid in enumerate(old_ceids):
    mapping[ceid] = new_ceid
train_df['ce_id'] = [mapping[_] for _ in train_df['ce_id']]

In [215]:
old_ceids = list(val_df['ce_id'].unique())
mapping = {}
for new_ceid, ceid in enumerate(old_ceids):
    mapping[ceid] = new_ceid + max(train_df['ce_id']) + 1
val_df['ce_id'] = [mapping[_] for _ in val_df['ce_id']]

In [216]:
old_ceids = list(test_df['ce_id'].unique())
mapping = {}
for new_ceid, ceid in enumerate(old_ceids):
    mapping[ceid] = new_ceid + max(val_df['ce_id']) + 1
test_df['ce_id'] = [mapping[_] for _ in test_df['ce_id']]

In [217]:
all_df = pd.concat([train_df, val_df, test_df, new_outliers_dedu]).sort_values(by=['day'], ignore_index=True)

In [218]:
# stats
for df in [all_df]:
    print('Total docs')
    print(len(df['Md5'].unique()))
    print('Total events')
    print(len(df))
    print('Number of entities')
    print(len(df['Actor1Name']._append(df['Actor2Name']).unique()))
    print('Number of relations')
    print(len(df['EventCode'].unique()))
    
    df_results = df.groupby(['ce_id']).agg({'timid':['count', 'max','min','mean']})
    df_results.columns = ['n_events', 'nday_max', 'nday_min', 'nday_mean']
    df_results['nday_range'] = df_results['nday_max'] - df_results['nday_min'] + 1
    print(df_results)
    print(df_results.loc[0:, :].mean())
    print(df_results.loc[0:, :].max())
    print(df_results.loc[0:, :].min())

Total docs
254456
Total events
457510
Number of entities
2849
Number of relations
238
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
-1       247560      2583         0  1217.775416        2584
 0          112        12         0     4.642857          13
 1           53        29         0    13.094340          30
 2           57        76         0    22.807018          77
 3           57        28         0     6.070175          29
...         ...       ...       ...          ...         ...
 4396        46      2583      2577  2579.195652           7
 4397       112      2582      2578  2579.866071           5
 4398        53      2583      2582  2582.679245           2
 4399        53      2583      2582  2582.471698           2
 4400        34      2583      2582  2582.705882           2

[4402 rows x 5 columns]
n_events        47.705067
nday_max      1284.648489
nday_min      1254.556692
nday_mean     1269.423288
nday_range      31.091797
dtype: float64
n_events       112.000000
nday_max      2583.000000
nday_min      2582.000000
nday_mean     2582.705882
nday_range      78.000000
dtype: float64
n_events      10.000000
nday_max       9.000000
nday_min       0.000000
nday_mean      4.642857
nday_range     2.000000
dtype: float64

In [219]:
# stats
for df in [train_df, val_df, test_df, new_outliers_dedu]:
    print('Total docs')
    print(len(df['Md5'].unique()))
    print('Total events')
    print(len(df))
    print('Number of entities')
    print(len(df['Actor1Name']._append(df['Actor2Name']).unique()))
    print('Number of relations')
    print(len(df['EventCode'].unique()))
    
    df_results = df.groupby(['ce_id']).agg({'timid':['count', 'max','min','mean']})
    df_results.columns = ['n_events', 'nday_max', 'nday_min', 'nday_mean']
    df_results['nday_range'] = df_results['nday_max'] - df_results['nday_min'] + 1
    print(df_results)
    print(df_results.loc[:, :].mean())
    print(df_results.loc[:, :].max())
    print(df_results.loc[:, :].min())

Total docs
90252
Total events
160953
Number of entities
2641
Number of relations
218
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
0           112        12         0     4.642857          13
1            53        29         0    13.094340          30
2            57        76         0    22.807018          77
3            57        28         0     6.070175          29
4           112        11         0     6.562500          12
...         ...       ...       ...          ...         ...
3447         24      1853      1846  1849.750000           8
3448        112      1848      1847  1847.562500           2
3449         28      1854      1847  1849.321429           8
3450        112      1850      1848  1848.678571           3
3451        112      1852      1850  1851.187500           3

[3452 rows x 5 columns]
n_events        46.626014
nday_max      1024.823001
nday_min       995.708285
nday_mean     1010.015356
nday_range      30.114716
dtype: float64
n_events       112.0000
nday_max      1885.0000
nday_min      1850.0000
nday_mean     1851.1875
nday_range      78.0000
dtype: float64
n_events      10.000000
nday_max       9.000000
nday_min       0.000000
nday_mean      4.642857
nday_range     2.000000
dtype: float64
Total docs
13733
Total events
25895
Number of entities
1316
Number of relations
177
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
3452         67      1890      1825  1860.791045          66
3453         81      1904      1829  1878.543210          76
3454         19      1907      1832  1874.631579          76
3455         19      1910      1833  1889.368421          78
3456         47      1884      1834  1867.148936          51
...         ...       ...       ...          ...         ...
3941         22      2235      2203  2210.090909          33
3942         29      2233      2203  2215.379310          31
3943         40      2223      2204  2212.100000          20
3944         22      2234      2206  2215.727273          29
3945         33      2219      2212  2213.939394           8

[494 rows x 5 columns]
n_events        52.419028
nday_max      2055.439271
nday_min      2022.093117
nday_mean     2038.632201
nday_range      34.346154
dtype: float64
n_events       112.0
nday_max      2245.0
nday_min      2212.0
nday_mean     2218.0
nday_range      78.0
dtype: float64
n_events        10.000000
nday_max      1855.000000
nday_min      1825.000000
nday_mean     1854.589286
nday_range       2.000000
dtype: float64
Total docs
12590
Total events
23102
Number of entities
1230
Number of relations
178
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
3946        112      1854      1852  1853.401786           3
3947         26      2245      2175  2219.769231          71
3948         19      2242      2196  2218.631579          47
3949         54      2274      2201  2257.925926          74
3950        112      2236      2203  2227.482143          34
...         ...       ...       ...          ...         ...
4396         46      2583      2577  2579.195652           7
4397        112      2582      2578  2579.866071           5
4398         53      2583      2582  2582.679245           2
4399         53      2583      2582  2582.471698           2
4400         34      2583      2582  2582.705882           2

[455 rows x 5 columns]
n_events        50.773626
nday_max      2419.037363
nday_min      2385.065934
nday_mean     2402.361703
nday_range      34.971429
dtype: float64
n_events       112.000000
nday_max      2583.000000
nday_min      2582.000000
nday_mean     2582.705882
nday_range      78.000000
dtype: float64
n_events        10.000000
nday_max      1854.000000
nday_min      1852.000000
nday_mean     1853.401786
nday_range       2.000000
dtype: float64
Total docs
137964
Total events
247560
Number of entities
2810
Number of relations
229
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
-1       247560      2583         0  1217.775416        2584
n_events      247560.000000
nday_max        2583.000000
nday_min           0.000000
nday_mean       1217.775416
nday_range      2584.000000
dtype: float64
n_events      247560.000000
nday_max        2583.000000
nday_min           0.000000
nday_mean       1217.775416
nday_range      2584.000000
dtype: float64
n_events      247560.000000
nday_max        2583.000000
nday_min           0.000000
nday_mean       1217.775416
nday_range      2584.000000
dtype: float64

In [220]:
for df in [train_df, val_df, test_df]:
    print(len(df))
    print(len(df['Md5'].unique()))
    print(df['day'].min())
    print(df['day'].max())
    print()

160953
90252
20150219
20200418

25895
13733
20200218
20210413

23102
12590
20200316
20220317

In [221]:
train_df.to_csv(path_or_buf='./EGIRIS_ce_train.csv', sep='\t', index=False)
val_df.to_csv(path_or_buf='./EGIRIS_ce_val.csv', sep='\t', index=False)
test_df.to_csv(path_or_buf='./EGIRIS_ce_test.csv', sep='\t', index=False)
all_df.to_csv(path_or_buf='./EGIRIS_ce.csv', sep='\t', index=False)

In [222]:
new_outliers_dedu = new_outliers_dedu.sort_values(by=['day'], ignore_index=True)
new_outliers_dedu.to_csv(path_or_buf='./EGIRIS_ce_outliers.csv', sep='\t', index=False)

In [ ]:
# filter unseen entity and relation after 20200317

In [223]:
anchor_df = all_df[all_df['day']<=20200317]
anchor_ent = (anchor_df['Actor1Name']._append(anchor_df['Actor2Name'])).unique()
anchor_rel = anchor_df['EventCode'].unique()

In [224]:
anchor_ent

array(['US', 'Israel', 'Italy', ..., 'COVID-19 patients',
       'Health officials', 'COVID-19 vaccine'], dtype=object)

In [226]:
len(anchor_ent)

2794

In [225]:
anchor_rel

array(['057', '1384', '140', '060', '013', '1224', '1431', '074', '0311',
       '011', '021', '034', '090', '061', '194', '183', '1222', '111',
       '101', '072', '100', '160', '0831', '071', '0312', '051', '0313',
       '050', '170', '046', '112', '0811', '073', '010', '031', '082',
       '200', '054', '180', '040', '201', '1011', '032', '016', '070',
       '190', '202', '030', '062', '0212', '022', '193', '012', '020',
       '093', '1831', '195', '041', '0332', '044', '154', '080', '1223',
       '014', '0314', '092', '110', '063', '091', '1412', '1052', '019',
       '1421', '052', '1383', '122', '191', '1711', '175', '0331', '1221',
       '042', '134', '1321', '132', '0213', '0211', '1411', '182', '121',
       '1834', '039', '081', '017', '1012', '1123', '033', '1832', '102',
       '1211', '0241', '1432', '2041', '018', '1622', '015', '1051',
       '0231', '0832', '0841', '0242', '164', '0333', '1422', '130',
       '1234', '162', '171', '104', '1233', '123', '0351', '1414', '142',
       '1621', '0334', '053', '085', '1313', '120', '1311', '1013',
       '0234', '038', '1423', '203', '150', '1041', '1122', '1053', '204',
       '1434', '1623', '138', '141', '1125', '105', '1951', '172', '0233',
       '1054', '155', '1124', '0344', '1424', '133', '045', '1245',
       '2042', '1044', '1382', '163', '184', '1712', '083', '1212', '153',
       '024', '035', '055', '094', '114', '036', '1231', '1441', '0863',
       '1244', '1042', '192', '037', '176', '1121', '028', '1453', '131',
       '1433', '0341', '113', '152', '161', '1323', '186', '0353', '174',
       '023', '143', '196', '0232', '1721', '056', '0343', '1822', '1413',
       '086', '1033', '0862', '0244', '1821', '1381', '151', '144', '173',
       '1241', '1232', '084', '1833', '0354', '136', '185', '1385', '075',
       '106', '1952', '127', '087', '115', '0342', '166', '181', '1055',
       '0871', '116', '108', '0356'], dtype=object)

In [227]:
len(anchor_rel)

234

In [228]:
seen_val_df = val_df[val_df['EventCode'].isin(anchor_rel)]
seen_test_df = test_df[test_df['EventCode'].isin(anchor_rel)]
seen_val_df = seen_val_df[(seen_val_df['Actor1Name'].isin(anchor_ent)) & (seen_val_df['Actor2Name'].isin(anchor_ent))]
seen_test_df = seen_test_df[(test_df['Actor1Name'].isin(anchor_ent)) & (seen_test_df['Actor2Name'].isin(anchor_ent))]

seen_outliers = all_df[all_df['ce_id']==-1]
seen_outliers = seen_outliers[seen_outliers['EventCode'].isin(anchor_rel)]
seen_outliers = seen_outliers[(seen_outliers['Actor1Name'].isin(anchor_ent)) & (seen_outliers['Actor2Name'].isin(anchor_ent))]

/tmp/ipykernel_2945794/17323742.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  seen_test_df = seen_test_df[(test_df['Actor1Name'].isin(anchor_ent)) & (seen_test_df['Actor2Name'].isin(anchor_ent))]

In [229]:
seen_df = pd.concat([train_df, seen_val_df, seen_test_df, seen_outliers]).sort_values(by=['day'], ignore_index=True)

In [230]:
# stats
for df in [seen_df]:
    print('Total docs')
    print(len(df['Md5'].unique()))
    print('Total events')
    print(len(df))
    print('Number of entities')
    print(len(df['Actor1Name']._append(df['Actor2Name']).unique()))
    print('Number of relations')
    print(len(df['EventCode'].unique()))
    
    df_results = df.groupby(['ce_id']).agg({'timid':['count', 'max','min','mean']})
    df_results.columns = ['n_events', 'nday_max', 'nday_min', 'nday_mean']
    df_results['nday_range'] = df_results['nday_max'] - df_results['nday_min'] + 1
    print(df_results)
    print(df_results.loc[0:, :].mean())
    print(df_results.loc[0:, :].max())
    print(df_results.loc[0:, :].min())

Total docs
253836
Total events
455877
Number of entities
2794
Number of relations
234
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
-1       247063      2583         0  1215.643063        2584
 0          112        12         0     4.642857          13
 1           53        29         0    13.094340          30
 2           57        76         0    22.807018          77
 3           57        28         0     6.070175          29
...         ...       ...       ...          ...         ...
 4396        44      2583      2577  2579.250000           7
 4397       112      2582      2578  2579.866071           5
 4398        52      2583      2582  2582.692308           2
 4399        52      2583      2582  2582.480769           2
 4400        34      2583      2582  2582.705882           2

[4402 rows x 5 columns]
n_events        47.446944
nday_max      1284.637355
nday_min      1254.563736
nday_mean     1269.421062
nday_range      31.073620
dtype: float64
n_events       112.000000
nday_max      2583.000000
nday_min      2582.000000
nday_mean     2582.705882
nday_range      78.000000
dtype: float64
n_events      1.000000
nday_max      9.000000
nday_min      0.000000
nday_mean     4.642857
nday_range    1.000000
dtype: float64

In [231]:
# stats
for df in [seen_val_df, seen_test_df, seen_outliers]:
    print('Total docs')
    print(len(df['Md5'].unique()))
    print('Total events')
    print(len(df))
    print('Number of entities')
    print(len(df['Actor1Name']._append(df['Actor2Name']).unique()))
    print('Number of relations')
    print(len(df['EventCode'].unique()))
    
    df_results = df.groupby(['ce_id']).agg({'timid':['count', 'max','min','mean']})
    df_results.columns = ['n_events', 'nday_max', 'nday_min', 'nday_mean']
    df_results['nday_range'] = df_results['nday_max'] - df_results['nday_min'] + 1
    print(df_results)
    print(df_results.loc[:, :].mean())
    print(df_results.loc[:, :].max())
    print(df_results.loc[:, :].min())

Total docs
13542
Total events
25415
Number of entities
1284
Number of relations
176
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
3452         67      1890      1825  1860.791045          66
3453         80      1904      1829  1878.475000          76
3454         19      1907      1832  1874.631579          76
3455         19      1910      1833  1889.368421          78
3456         47      1884      1834  1867.148936          51
...         ...       ...       ...          ...         ...
3941         22      2235      2203  2210.090909          33
3942         29      2233      2203  2215.379310          31
3943         40      2223      2204  2212.100000          20
3944         22      2234      2206  2215.727273          29
3945         33      2219      2212  2213.939394           8

[494 rows x 5 columns]
n_events        51.447368
nday_max      2055.419028
nday_min      2022.093117
nday_mean     2038.617852
nday_range      34.325911
dtype: float64
n_events       112.0
nday_max      2245.0
nday_min      2212.0
nday_mean     2218.0
nday_range      78.0
dtype: float64
n_events         6.000000
nday_max      1855.000000
nday_min      1825.000000
nday_mean     1854.589286
nday_range       2.000000
dtype: float64
Total docs
12339
Total events
22446
Number of entities
1183
Number of relations
177
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
3946        112      1854      1852  1853.401786           3
3947         26      2245      2175  2219.769231          71
3948         19      2242      2196  2218.631579          47
3949         54      2274      2201  2257.925926          74
3950        112      2236      2203  2227.482143          34
...         ...       ...       ...          ...         ...
4396         44      2583      2577  2579.250000           7
4397        112      2582      2578  2579.866071           5
4398         52      2583      2582  2582.692308           2
4399         52      2583      2582  2582.480769           2
4400         34      2583      2582  2582.705882           2

[455 rows x 5 columns]
n_events        49.331868
nday_max      2418.951648
nday_min      2385.134066
nday_mean     2402.355748
nday_range      34.817582
dtype: float64
n_events       112.000000
nday_max      2583.000000
nday_min      2582.000000
nday_mean     2582.705882
nday_range      78.000000
dtype: float64
n_events         1.000000
nday_max      1854.000000
nday_min      1852.000000
nday_mean     1853.401786
nday_range       1.000000
dtype: float64
Total docs
137786
Total events
247063
Number of entities
2760
Number of relations
227
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
-1       247063      2583         0  1215.643063        2584
n_events      247063.000000
nday_max        2583.000000
nday_min           0.000000
nday_mean       1215.643063
nday_range      2584.000000
dtype: float64
n_events      247063.000000
nday_max        2583.000000
nday_min           0.000000
nday_mean       1215.643063
nday_range      2584.000000
dtype: float64
n_events      247063.000000
nday_max        2583.000000
nday_min           0.000000
nday_mean       1215.643063
nday_range      2584.000000
dtype: float64

In [232]:
seen_outliers = seen_outliers.sort_values(by=['day'], ignore_index=True)

In [233]:
seen_val_df.to_csv(path_or_buf='./EGIRIS_ce_val_seen.csv', sep='\t', index=False)
seen_test_df.to_csv(path_or_buf='./EGIRIS_ce_test_seen.csv', sep='\t', index=False)
seen_outliers.to_csv(path_or_buf='./EGIRIS_ce_outliers_seen.csv', sep='\t', index=False)
seen_df.to_csv(path_or_buf='./EGIRIS_ce_seen.csv', sep='\t', index=False)

In [234]:
ceid2size = {}
ces = list(seen_val_df['ce_id'].unique())
for ce in ces:
    ceid2size[ce] = len(seen_val_df[seen_val_df['ce_id']==ce])
    if len(seen_val_df[seen_val_df['ce_id']==ce]['timid'].unique()) == 1:
        print(ce)

In [235]:
for ce, size in ceid2size.items():
    if size < 10:
        print(ce)

3626
3705

In [236]:
seen_val_df[seen_val_df['ce_id'].isin([3626, 3705])]

,Actor1Name,EventCode,Relation_choice,Actor2Name,Md5,day,ce_id,timid,Md5_list
8888,Israel,011,Refuse to comment,Palestine,b560580d74d167da187e1112d90c6bf8,20200717,3626,1975,b560580d74d167da187e1112d90c6bf8
9005,Noam Chomsky,032,Express intent to engage in diplomatic coopera...,Palestine,f51a82ee25154f4a0129b48299620b5b,20200719,3626,1977,f51a82ee25154f4a0129b48299620b5b
9045,Albert Einstein,032,Express intent to engage in diplomatic coopera...,Palestine,f51a82ee25154f4a0129b48299620b5b,20200719,3626,1977,f51a82ee25154f4a0129b48299620b5b
9398,Israel,013,Make optimistic comment,World Jewry,9acd2fa9f18a2bda64e24bf1fea7161a,20200723,3626,1981,9acd2fa9f18a2bda64e24bf1fea7161a
9399,World Jewry,011,Refuse to comment,Israel,9acd2fa9f18a2bda64e24bf1fea7161a,20200723,3626,1981,9acd2fa9f18a2bda64e24bf1fea7161a
10421,IfNotNow,101,Demand material cooperation,Jewish Voice for Peace,6220152095f8721ec2af1c4bc633d45f,20200809,3626,1998,6220152095f8721ec2af1c4bc633d45f
12846,UAE,0811,Ease restrictions on political freedoms,Israel,3b50c8ea40b7444991c09141a310af47,20200829,3705,2018,3b50c8ea40b7444991c09141a310af47
13157,Israel,190,Use conventional military force,Syria,21f352836827674979a529f40c158a0a,20200901,3705,2021,21f352836827674979a529f40c158a0a
13298,UAE,060,Engage in material cooperation,Saudi Arabia,c9fc65225549d5c630f10c35d6297443,20200902,3705,2022,c9fc65225549d5c630f10c35d6297443
15011,Saudi Arabia,060,Engage in material cooperation,Ethiopia,003517d17add439ad5234e7a323ab99d,20200926,3705,2046,003517d17add439ad5234e7a323ab99d
15676,UAE,111,Criticize or denounce,Turkey,08d7da98bd961b48c5a7cac1306bfad3,20201011,3705,2061,08d7da98bd961b48c5a7cac1306bfad3
15739,Kuwait government,021,Appeal for material cooperation,Egyptians,f852502468dff174fabb18b998633208,20201012,3705,2062,f852502468dff174fabb18b998633208
15740,Egyptians,020,Make an appeal or request,Kuwait government,f852502468dff174fabb18b998633208,20201012,3705,2062,f852502468dff174fabb18b998633208
15741,Kuwait,020,Make an appeal or request,Egypt,f852502468dff174fabb18b998633208,20201012,3705,2062,f852502468dff174fabb18b998633208

In [237]:
ceid2size = {}
ces = list(seen_test_df['ce_id'].unique())
for ce in ces:
    ceid2size[ce] = len(seen_test_df[seen_test_df['ce_id']==ce])
    if len(seen_test_df[seen_test_df['ce_id']==ce]['timid'].unique()) == 1:
        print(ce)

4091

In [238]:
for ce, size in ceid2size.items():
    if size < 10:
        print(ce)

4091
4225

In [239]:
seen_test_df[seen_test_df['ce_id'].isin([4091, 4225])]

,Actor1Name,EventCode,Relation_choice,Actor2Name,Md5,day,ce_id,timid,Md5_list
7779,Egypt,011,Refuse to comment,Japan,4bc47d7227a58990f8673cae7215048e,20210707,4091,2330,4bc47d7227a58990f8673cae7215048e
13102,NGOs,021,Appeal for material cooperation,Israel,f3a9043a322b30043ee804088f0179a3,20211013,4225,2428,f3a9043a322b30043ee804088f0179a3
13108,JTA,011,Refuse to comment,Israel,0e44946f156b9fe181b3eb0b17447e99,20211013,4225,2428,0e44946f156b9fe181b3eb0b17447e99
13137,BDS entities,011,Refuse to comment,Israel,651c966b479a9b596056dffc54b37812,20211014,4225,2429,651c966b479a9b596056dffc54b37812
13222,BDS entities,1011,Demand economic cooperation,Israelis,f475dd979e81d48acafbcfaad649e5fe,20211015,4225,2430,f475dd979e81d48acafbcfaad649e5fe
14379,Ireland,011,Refuse to comment,Israel,a980da8d3220fd58a5d1eb1c2859641c,20211105,4225,2451,a980da8d3220fd58a5d1eb1c2859641c

In [240]:
final_outliers = pd.concat([seen_outliers,
                            seen_val_df[seen_val_df['ce_id'].isin([3626, 3705])],
                            seen_test_df[seen_test_df['ce_id'].isin([4091, 4225])]])
final_outliers= final_outliers.sort_values(by=['day'], ignore_index=True)
final_outliers['ce_id'] = [-1] * len(final_outliers)

In [241]:
fianl_val_df = seen_val_df.copy()

In [242]:
fianl_val_df = fianl_val_df[~fianl_val_df['ce_id'].isin([3626, 3705])]

In [243]:
old_ceids = list(fianl_val_df['ce_id'].unique())
mapping = {}
for new_ceid, ceid in enumerate(old_ceids):
    mapping[ceid] = new_ceid + max(train_df['ce_id']) + 1
fianl_val_df['ce_id'] = [mapping[_] for _ in fianl_val_df['ce_id']]

In [244]:
final_test_df = seen_test_df.copy()
final_test_df = final_test_df[~final_test_df['ce_id'].isin([4091, 4225])]

In [245]:
old_ceids = list(final_test_df['ce_id'].unique())
mapping = {}
for new_ceid, ceid in enumerate(old_ceids):
    mapping[ceid] = new_ceid + max(fianl_val_df['ce_id']) + 1
final_test_df['ce_id'] = [mapping[_] for _ in final_test_df['ce_id']]

In [246]:
final_val_df = fianl_val_df.copy()

In [247]:
final_df = pd.concat([train_df, final_val_df, final_test_df, final_outliers]).sort_values(by=['day'], ignore_index=True)

In [248]:
final_df

,Actor1Name,EventCode,Relation_choice,Actor2Name,Md5,day,ce_id,timid,Md5_list
0,US,057,Sign formal agreement,Iran,0b6cd037f3fc22ed82e0c147839ba9f9,20150219,0,0,0b6cd037f3fc22ed82e0c147839ba9f9
1,Canada government,011,Refuse to comment,Palestine,18918b73f1e5f11eb8734defabe9a804,20150219,-1,0,18918b73f1e5f11eb8734defabe9a804
2,European Union,057,Sign formal agreement,Egypt,edf3db2729f3e81b20e446b94f7a6b6a,20150219,-1,0,edf3db2729f3e81b20e446b94f7a6b6a
3,Egypt,190,Use conventional military force,Libya,1f6264640f54e7feb8e38e6968bf2dcf,20150219,-1,0,"1f6264640f54e7feb8e38e6968bf2dcf, 64af5061461b..."
4,EU,070,Provide aid,US,72dcb54c9b49830caefdad4bb7453d3c,20150219,-1,0,72dcb54c9b49830caefdad4bb7453d3c
...,...,...,...,...,...,...,...,...,...
455872,Dmitry Peskov,1222,Reject request for military aid,Ukraine,9592dd1b296aa51f5b2053e8311659e2,20220317,4395,2583,9592dd1b296aa51f5b2053e8311659e2
455873,Ukraine,093,Investigate military action,Russia,dafe15f7bc95e33b171b5663fc55b735,20220317,4395,2583,dafe15f7bc95e33b171b5663fc55b735
455874,Russia,1421,Conduct hunger strike for leadership change,Ukraine,0647d97fcb81a6f13c8b606058e4109a,20220317,4395,2583,0647d97fcb81a6f13c8b606058e4109a
455875,Ukraine,150,Exhibit military or police power,Russia,c43e61753acf9cd4c4617109f7130ae5,20220317,4396,2583,c43e61753acf9cd4c4617109f7130ae5
455876,Palestinian Authority,0313,Express intent to cooperate on judicial matters,International Criminal Court (ICC),d52355726f828f51f7deaa065f4fa451,20220317,-1,2583,d52355726f828f51f7deaa065f4fa451

In [249]:
# stats
for df in [final_df]:
    print('Total docs')
    print(len(df['Md5'].unique()))
    print('Total events')
    print(len(df))
    print('Number of entities')
    print(len(df['Actor1Name']._append(df['Actor2Name']).unique()))
    print('Number of relations')
    print(len(df['EventCode'].unique()))
    
    df_results = df.groupby(['ce_id']).agg({'timid':['count', 'max','min','mean']})
    df_results.columns = ['n_events', 'nday_max', 'nday_min', 'nday_mean']
    df_results['nday_range'] = df_results['nday_max'] - df_results['nday_min'] + 1
    print(df_results)
    print(df_results.loc[0:, :].mean())
    print(df_results.loc[0:, :].max())
    print(df_results.loc[0:, :].min())

Total docs
253836
Total events
455877
Number of entities
2794
Number of relations
234
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
-1       247083      2583         0  1215.717637        2584
 0          112        12         0     4.642857          13
 1           53        29         0    13.094340          30
 2           57        76         0    22.807018          77
 3           57        28         0     6.070175          29
...         ...       ...       ...          ...         ...
 4392        44      2583      2577  2579.250000           7
 4393       112      2582      2578  2579.866071           5
 4394        52      2583      2582  2582.692308           2
 4395        52      2583      2582  2582.480769           2
 4396        34      2583      2582  2582.705882           2

[4398 rows x 5 columns]
n_events        47.485558
nday_max      1283.795315
nday_min      1253.714806
nday_mean     1268.577017
nday_range      31.080509
dtype: float64
n_events       112.000000
nday_max      2583.000000
nday_min      2582.000000
nday_mean     2582.705882
nday_range      78.000000
dtype: float64
n_events      10.000000
nday_max       9.000000
nday_min       0.000000
nday_mean      4.642857
nday_range     2.000000
dtype: float64

In [250]:
# stats
for df in [final_val_df, final_test_df, final_outliers]:
    print('Total docs')
    print(len(df['Md5'].unique()))
    print('Total events')
    print(len(df))
    print('Number of entities')
    print(len(df['Actor1Name']._append(df['Actor2Name']).unique()))
    print('Number of relations')
    print(len(df['EventCode'].unique()))
    
    df_results = df.groupby(['ce_id']).agg({'timid':['count', 'max','min','mean']})
    df_results.columns = ['n_events', 'nday_max', 'nday_min', 'nday_mean']
    df_results['nday_range'] = df_results['nday_max'] - df_results['nday_min'] + 1
    print(df_results)
    print(df_results.loc[:, :].mean())
    print(df_results.loc[:, :].max())
    print(df_results.loc[:, :].min())

Total docs
13532
Total events
25401
Number of entities
1281
Number of relations
176
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
3452         67      1890      1825  1860.791045          66
3453         80      1904      1829  1878.475000          76
3454         19      1907      1832  1874.631579          76
3455         19      1910      1833  1889.368421          78
3456         47      1884      1834  1867.148936          51
...         ...       ...       ...          ...         ...
3939         22      2235      2203  2210.090909          33
3940         29      2233      2203  2215.379310          31
3941         40      2223      2204  2212.100000          20
3942         22      2234      2206  2215.727273          29
3943         33      2219      2212  2213.939394           8

[492 rows x 5 columns]
n_events        51.628049
nday_max      2055.522358
nday_min      2022.197154
nday_mean     2038.722497
nday_range      34.325203
dtype: float64
n_events       112.0
nday_max      2245.0
nday_min      2212.0
nday_mean     2218.0
nday_range      78.0
dtype: float64
n_events        10.000000
nday_max      1855.000000
nday_min      1825.000000
nday_mean     1854.589286
nday_range       2.000000
dtype: float64
Total docs
12333
Total events
22440
Number of entities
1183
Number of relations
177
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
3944        112      1854      1852  1853.401786           3
3945         26      2245      2175  2219.769231          71
3946         19      2242      2196  2218.631579          47
3947         54      2274      2201  2257.925926          74
3948        112      2236      2203  2227.482143          34
...         ...       ...       ...          ...         ...
4392         44      2583      2577  2579.250000           7
4393        112      2582      2578  2579.866071           5
4394         52      2583      2582  2582.692308           2
4395         52      2583      2582  2582.480769           2
4396         34      2583      2582  2582.705882           2

[453 rows x 5 columns]
n_events        49.536424
nday_max      2419.077263
nday_min      2385.161148
nday_mean     2402.447385
nday_range      34.916115
dtype: float64
n_events       112.000000
nday_max      2583.000000
nday_min      2582.000000
nday_mean     2582.705882
nday_range      78.000000
dtype: float64
n_events        10.000000
nday_max      1854.000000
nday_min      1852.000000
nday_mean     1853.401786
nday_range       2.000000
dtype: float64
Total docs
137802
Total events
247083
Number of entities
2760
Number of relations
227
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
-1       247083      2583         0  1215.717637        2584
n_events      247083.000000
nday_max        2583.000000
nday_min           0.000000
nday_mean       1215.717637
nday_range      2584.000000
dtype: float64
n_events      247083.000000
nday_max        2583.000000
nday_min           0.000000
nday_mean       1215.717637
nday_range      2584.000000
dtype: float64
n_events      247083.000000
nday_max        2583.000000
nday_min           0.000000
nday_mean       1215.717637
nday_range      2584.000000
dtype: float64

In [251]:
final_val_df.to_csv(path_or_buf='./EGIRIS_ce_val_final.csv', sep='\t', index=False)
final_test_df.to_csv(path_or_buf='./EGIRIS_ce_test_final.csv', sep='\t', index=False)
final_outliers.to_csv(path_or_buf='./EGIRIS_ce_outliers_final.csv', sep='\t', index=False)
final_df.to_csv(path_or_buf='./EGIRIS_ce_final.csv', sep='\t', index=False)

In [252]:
final_df

,Actor1Name,EventCode,Relation_choice,Actor2Name,Md5,day,ce_id,timid,Md5_list
0,US,057,Sign formal agreement,Iran,0b6cd037f3fc22ed82e0c147839ba9f9,20150219,0,0,0b6cd037f3fc22ed82e0c147839ba9f9
1,Canada government,011,Refuse to comment,Palestine,18918b73f1e5f11eb8734defabe9a804,20150219,-1,0,18918b73f1e5f11eb8734defabe9a804
2,European Union,057,Sign formal agreement,Egypt,edf3db2729f3e81b20e446b94f7a6b6a,20150219,-1,0,edf3db2729f3e81b20e446b94f7a6b6a
3,Egypt,190,Use conventional military force,Libya,1f6264640f54e7feb8e38e6968bf2dcf,20150219,-1,0,"1f6264640f54e7feb8e38e6968bf2dcf, 64af5061461b..."
4,EU,070,Provide aid,US,72dcb54c9b49830caefdad4bb7453d3c,20150219,-1,0,72dcb54c9b49830caefdad4bb7453d3c
...,...,...,...,...,...,...,...,...,...
455872,Dmitry Peskov,1222,Reject request for military aid,Ukraine,9592dd1b296aa51f5b2053e8311659e2,20220317,4395,2583,9592dd1b296aa51f5b2053e8311659e2
455873,Ukraine,093,Investigate military action,Russia,dafe15f7bc95e33b171b5663fc55b735,20220317,4395,2583,dafe15f7bc95e33b171b5663fc55b735
455874,Russia,1421,Conduct hunger strike for leadership change,Ukraine,0647d97fcb81a6f13c8b606058e4109a,20220317,4395,2583,0647d97fcb81a6f13c8b606058e4109a
455875,Ukraine,150,Exhibit military or police power,Russia,c43e61753acf9cd4c4617109f7130ae5,20220317,4396,2583,c43e61753acf9cd4c4617109f7130ae5
455876,Palestinian Authority,0313,Express intent to cooperate on judicial matters,International Criminal Court (ICC),d52355726f828f51f7deaa065f4fa451,20220317,-1,2583,d52355726f828f51f7deaa065f4fa451

In [253]:
md5_lists = list(final_df['Md5_list'].unique())
md5s = set()
for md5_list in md5_lists:
    md5s.update(md5_list.split(', '))
print(len(md5s))

274795

In [254]:
json.dump(list(md5s), open('./final_md5_list.json', 'w'), indent=4)

In [259]:
md52ceid = {}
ceid2md5 = {}
for rowid, row in tqdm(final_df.iterrows(), total=len(final_df)):
    md5s = row['Md5_list'].split(', ')
    ceid = row['ce_id']
    if ceid not in ceid2md5:
        ceid2md5[ceid] = []
    for md5 in md5s:
        if md5 in md52ceid and md52ceid[md5]!=ceid:
            print(md5) 
        md52ceid[md5] = ceid
        ceid2md5[ceid].append(md5)

  1%|▌                                             | 5921/455877 [00:00<00:19, 22523.53it/s]

2af54da8db4d51558ef37d7c1c93f802
4b3893c314c89597698d497cc1d34611
383ac61ae8c4634f6a647706fc341750
7d3c5aa826aca441e160b7dbbfa974c1
78bc87d00a7adbe1434c95b7f90df794
44bd995be349e958f1ca5d8b0d69af18
de2ed26b88084100d72145207b3f8677
718f6d34145347bae80bc395ac3dbde7
de2ed26b88084100d72145207b3f8677
78bc87d00a7adbe1434c95b7f90df794
cf63bf7be69d9f8c474f3128e2561dca
9c6406226b61afe34194aae64eb91bea
66cf3631e2046ea2331763991fd73583
78bc87d00a7adbe1434c95b7f90df794
78bc87d00a7adbe1434c95b7f90df794
44bd995be349e958f1ca5d8b0d69af18
dd912e85bf0628884a52851874e6718a
ae3e35975fddc71d05e83dac7e5e8b84
fc9acaf6e3c1fd030215b3a06263dcef
68c7e67c8f7f466ada0c7834dfbf8c0d
4e8d73ff55e2f56040b1bfee1f662695
cb73ae2da632fa74fc902189bfeea81f
33660b9aee2846e76680f35b7095baaf
33660b9aee2846e76680f35b7095baaf
9fd71ff39eea7b84cb620a116254cb80
494c9ba8dfa6ea3021a4c82265ad2f85
3b4fff50e5a9ffe1913a807cc9093465
8d9904720b5252e427f1b02a4a6f4cda
7329a42825fd45a0869df27fc6e33d90
be4e809f063f4fea5bf3d350bbe41477
186e6f72c6d65e51bbf39dcddc875f37
8d9904720b5252e427f1b02a4a6f4cda
5bc3f628784b5718d2331ecb86813dc2
f7c4ccca75cc3227976e670670664886
1c5bc98e532150f84bcdc06cfa77bdae
f231803bceccb5775b14a5cb5e9035d3
f231803bceccb5775b14a5cb5e9035d3
e02bd2245846a01caa5cc7ec6c8f958d
e02bd2245846a01caa5cc7ec6c8f958d
f231803bceccb5775b14a5cb5e9035d3
e02bd2245846a01caa5cc7ec6c8f958d
ef6c726d464a715f6e81151a7ff481a5
2effd23e23902076d0a5d02eb8f5e1c9
7b21a16cfaad990f4ebf50cc9f91ba66
051520adea9a63129861f413a0e49f44
a18121613e145bde65302c0a76fb9817
ef6c726d464a715f6e81151a7ff481a5
63f84314fe32ddbed3f114ba934945b1
b8c8879dc82917c28c9fd1991b8d9d82
3435b2a1b0e641455eedf2c83cab1806
3c2e742c37ff5935d13cdafef76ed02f
6762e48a8414e9404ae573e3d297e8ca
484b8800f5b289a55dccc652f41c7304
b8c8879dc82917c28c9fd1991b8d9d82
60d55c48c19b334dde6e4e16e3a5a3b7
1974512067d2919a3c4fcfb9787f11e1
b9fa6c4a26007ed327d3a1240eb68c9c
0f05f0c3f41b622710e0ac2a5aa4c10b
93465c03d3cb481937d62bf6d9bdf897
9c954549ca7cb62858367300407d701a
621b317f0efce019806aca71096b75d1
275f63817637e0400729f468539ba073
704114d7bc9a7d6c328f280fc7415f9a
afcb98a8569c26c14cfbc421f094a5bd
afcb98a8569c26c14cfbc421f094a5bd
636abfb93e808a10490ec1884209e047
b1917b041e6398388295f4a02bffb76d
e28de5cb4b5ce42f98e4fd9dc7f6e65e
30772a09c7584a4184e1e6e95913224f
636abfb93e808a10490ec1884209e047
7fabe86e60835bfe0e5ae1e1acf74efd
f54fb615911f85a554ff6a374aec320b
30772a09c7584a4184e1e6e95913224f
879a46266416a6952e87fb1d389fdd51
baf7f1189f7291954c0092ea088a4d05
665651a796e114060f74aad8cab63160
3e2fa0472aaacf54021da0c5c6e4000b
32df33b25be87b64d88a0b721945aaaf
371981ddd47ac905c9e6b6df347c2b50
d1fcb93bb5afd43964e2cace9b1dd072
d719a7c072fdcf477cbadb10ceb0d509
b384765624a03ffd1255b301d5710346

  3%|█▏                                           | 11397/455877 [00:00<00:17, 25610.82it/s]

35c6483a5049cf11b2076ef12f9d5de7
b3561c05a047693998c9c20b92b3494b
d0aa77c8629fef2ff5938eb34dba0175
ac82f0bbc35f29f28f028c498e72b5ca
317887f10604c3080a85452b53c38ba3
d16b8a0065e29fff9ea40cca07566926
ab210a5cbcd8372544244c5df2df7115
317887f10604c3080a85452b53c38ba3
6ea58e97e4bff02c720c0689988bb3ec
6ea58e97e4bff02c720c0689988bb3ec
6ea58e97e4bff02c720c0689988bb3ec
a69c5134248619b66af05471763308dc
a69c5134248619b66af05471763308dc
30d6049143eabaf08ce93303a0ff0450
30d6049143eabaf08ce93303a0ff0450
a0221cf01e4274143c1ebbc7dd4ca603
3c3ef3184b54fa08dc231797e3aca0c4
3c3ef3184b54fa08dc231797e3aca0c4
e337c7a92b497c7b11ec4a90ffc974cb
af943c72443dce729d1d355cc0d0ee2b
af943c72443dce729d1d355cc0d0ee2b
ef0c0e63cfc5ddad140831aa522f3ea3
3c3ef3184b54fa08dc231797e3aca0c4
ef0c0e63cfc5ddad140831aa522f3ea3
3c3ef3184b54fa08dc231797e3aca0c4
10898b64820e7280e6e2841d5faaf4c5
ef7d970121dba9d79a3da529045af415
ef0c0e63cfc5ddad140831aa522f3ea3
3c3ef3184b54fa08dc231797e3aca0c4
10898b64820e7280e6e2841d5faaf4c5
ef7d970121dba9d79a3da529045af415
cc6bd6c77985a23d3e8e981441352743
8467e313b599c856035b51f06e30340b
838ebba9be47c919233fb8b0d7e7a648
838ebba9be47c919233fb8b0d7e7a648
8467e313b599c856035b51f06e30340b
838ebba9be47c919233fb8b0d7e7a648

  4%|█▉                                           | 20018/455877 [00:00<00:15, 27787.19it/s]

5dc1da50dd1aab5504d6942deaa4b5c8
5dc1da50dd1aab5504d6942deaa4b5c8
5dc1da50dd1aab5504d6942deaa4b5c8
6a7256cc8b214283eb91f932ef17d2fa
1a3936682f14a49b87c599d6f876ec64
6a7256cc8b214283eb91f932ef17d2fa
6a7256cc8b214283eb91f932ef17d2fa
f61b40f5f99c01e5ef5b4dc5ca1eb914
8ff6707570ad0897f27ea4e631366e8c
599193d998cea04858e1dbf988f91dc1
f61b40f5f99c01e5ef5b4dc5ca1eb914

  6%|██▊                                          | 28711/455877 [00:01<00:14, 28616.89it/s]

0c804be02377140ea5d1d5ac33f10f62

  8%|███▋                                         | 37453/455877 [00:01<00:14, 28983.41it/s]

4cea02f1664cb7706df7a1f8635dd873
5f039ee248524f2e1e90ed3ea4d15b52
71d1779941566c3a593a1f4c07dc5adf
091fda4c9e80fad181ddc362ec013bc0
103891faeab7d1347ec424d1411a415d
6ba92c21adcedda2d09f7891d2e53039
275564bb5ae87d9084f273bee69783e2
f6ffe0a3600e70d2b93a842804a38f6c
e7386e3e6780b9aa2046cd01c590cc86
95b67dff13bb74c65a54bc87d3eeee1a
95b67dff13bb74c65a54bc87d3eeee1a
08a2bb2f4275849bdfbc78d0e85e6768
08a2bb2f4275849bdfbc78d0e85e6768

 10%|████▌                                        | 46165/455877 [00:01<00:14, 28931.41it/s]

8e54548d7cf3cc3f737680b7d0cee561
8e54548d7cf3cc3f737680b7d0cee561
03904b46cc31581537383892a1dcbd6f
234f4c8a566077ad4062cce477ed8d64
8282e7fa10af239aced0f00785dddfa3
234f4c8a566077ad4062cce477ed8d64
d920f7fd8b78fac7047e41de1360cf1a
d920f7fd8b78fac7047e41de1360cf1a

 11%|█████▏                                       | 51952/455877 [00:01<00:14, 28828.89it/s]

984181ce235af6cae80e5e34cf0ec7c6
20d20a4e6b5a103adb3c4774b5b474a4
19c1e24a4604af200bf6ef8cb4bead03
e89233c2b9df85628c533edc0bca0ae1
a1cbbc51faa4ecfec452071e87db588f
e89233c2b9df85628c533edc0bca0ae1
14647ae8db26c2b03603b21fa37a0372
ae6e5443f38f9a4a9930bab61bed31f9
a1cbbc51faa4ecfec452071e87db588f
5030c91c7faaf015c28748e608196993
ef5b9cd6bbd233ad8e875640204e6574
6ba7dcddfa9830a5c508476c585c4513
58a72b0f9befc7d4f6ce057f315a87e2
2fd7a548ab17b0304d3d7de3dfb8af91
17902f57440622f709af9f8d1ec964f9
ed37586bbd7c3ebcda785eb70227ad0d
846c6e967ecdcd4a31f758098b362ed0
3332a729e60758dd9742b43175d7eb27
e89233c2b9df85628c533edc0bca0ae1
641fa855d15acf2ce0fc991ef2c40b95
4e068130220056ee5840209af3031e08
464b6b3d1f050d6827fe45a659da6acc
4e068130220056ee5840209af3031e08
a1cbbc51faa4ecfec452071e87db588f
846c6e967ecdcd4a31f758098b362ed0
464b6b3d1f050d6827fe45a659da6acc
40f6972f0abc6abbf5eb8c22fc5ca6d8
641fa855d15acf2ce0fc991ef2c40b95
93ff372007375112620a42472891270a
302bf7d1d446021949e796db9fccb203
ddb797a20aff350e3c04a184ceb98cb2
40f6972f0abc6abbf5eb8c22fc5ca6d8
aaddfd170eabdd012c15833f827ff10a
ef5b9cd6bbd233ad8e875640204e6574
e89233c2b9df85628c533edc0bca0ae1
1131354f0eb595e40083df258d8ae1e3
5030c91c7faaf015c28748e608196993
3332a729e60758dd9742b43175d7eb27
e89233c2b9df85628c533edc0bca0ae1
846c6e967ecdcd4a31f758098b362ed0
2f1c5a6e92a84647333d8ee9d574c1c0
265af75b91afd8f4e4e41c00214216d0
de24c6beb38c736f143187454da7e72e
ddb797a20aff350e3c04a184ceb98cb2
2f1c5a6e92a84647333d8ee9d574c1c0
15c08aef8b15e6ce1a3ba88f8713900d
68a0eb01b12d4c3ae97e50ef94a55464
bcd2f593e538a9d79e31acb9ef4b0b5e
15f3d5d71b474d33f9806080f1b02b04
f0fedf9d1ae05b50e926f66fe7ef8870
dd72df9f268000699715a17e01a7f518
41c0c682159e0f8838bb3ffafcd9aa6c
73099531aa570f8904cecffe6b09afba
e89233c2b9df85628c533edc0bca0ae1
793eaa2f412d6012647c6283283c4a00
0df6497fea9cf89d7132a122f43f5dc2
a73b6b186287876ba57de429609ee8b1
dca65b91cbaf0c8cf54c04479ee33010
85dbfb7f3394409b4245ce49efff584a
5e3a18516c0d9af3cde8c7b4f100c628
2272e4d4feea4b3d8c5ea048f3293f85
5adc90f4101ef3c01fcd049b39a64f48
e0aee3fec1dd94100ea96e2e5263281c
1101ed8ae31c31b90634032e6e133c1e
85dbfb7f3394409b4245ce49efff584a
0df6497fea9cf89d7132a122f43f5dc2
a1a3c03ba1b41e63d402a35c8c72396d
447f33ddf17bb33f907fba95fad1af42
968d221d46689bbf849e3f3fadcba789
85dbfb7f3394409b4245ce49efff584a
344596ce30d2e65fafa58bafaefea91a
d3595c977fb357e12d958780ee871227
febbc25a10006809ce2cffd05bca7aef
78b45aa192928c077108c34d2c807956
826302f16a801b625988fbc8a27b36e8
8a1849d8d7567101817def049635922c
2572a28f3ab4dfcbdd25d76298c46eda
c154fb661d62143335cd61ecb8c79e72
3764ef067c2e2e63436c5f940e8464b9
f43641918cf0a76fcb98073276c204d2
76463f1f762bedce2221d8ada2af390d
447f33ddf17bb33f907fba95fad1af42
c154fb661d62143335cd61ecb8c79e72
5adc90f4101ef3c01fcd049b39a64f48
febbc25a10006809ce2cffd05bca7aef
78b45aa192928c077108c34d2c807956
f43641918cf0a76fcb98073276c204d2
e80c36895aad436a01022f9481029cf8
2572a28f3ab4dfcbdd25d76298c46eda
6310250e0d61c248d97ae63db27d1ea7
1101ed8ae31c31b90634032e6e133c1e
97a4f42aa77409d09a9b7689a803e4d9
75524f967e6c3154035bb46e2c05b9a6
dca65b91cbaf0c8cf54c04479ee33010
a73b6b186287876ba57de429609ee8b1
b825aadeb7fa1a6a6a616f093bb8bc39
8843a1071adfb4ec3394027f7116ece9
827468309b45ca8d56e041eaf6262467
3764ef067c2e2e63436c5f940e8464b9
fcd651fccc71a658cf5fb964d8ffcb86
a579bebf8ce84613959375f767f95eb0
6cb73081722d28c09d9623dfe8f072ce
7bcacce2e64c7f9e66208fed3d4604f4
22b164fbc72c09d63921daba83cbecf6
855d2691859badabbd507be9511681b8
855d2691859badabbd507be9511681b8
f8dec6199952f3238e3c4bc3e6f401ff
42258017fd78332cf16a96ec87ef5320
49793515665bf13a367d76c0cab3bd47
b7f0414396f91f9e3bfa64381069fef0
d641afa671e0149eeb9e3ed85dd0dc97
ffe9206ce81e9106d4d13437251afb15
d641afa671e0149eeb9e3ed85dd0dc97
42258017fd78332cf16a96ec87ef5320
be0ada05e4ddaa2f4487d62836784741
a1c2cc050b817c0b7198d08851b1920d
be0ada05e4ddaa2f4487d62836784741
a1c2cc050b817c0b7198d08851b1920d
b1933420caa9dca147683efa3d055a96
a1c2cc050b817c0b7198d08851b1920d
1375e8127316a5c24a530686397b3e9b
311469a5227cb96e7726f0d1a011407a
8a58e26e7afb4477bcd8625280fd4bec
c9eb1faed88d4b571512f6ce245e02ef
1511e07be64bc31e782e4c23a495c174
4f226e23d9599c1d28b6f9a55772573d
a1068b2a84b3fa034ab2771a8ae78b19
589ee094c001175507176c41481961d4
b003b87038417adcf101200e331ce654
dae866576cd16f0a4f4361f3e44d4e45
bfdea740d71d63a70e9ebe985cd8030d
084c5e162ffc1d7f3d33d3046d2fcf5e
084c5e162ffc1d7f3d33d3046d2fcf5e
868612c84206b63a121289f8a09e3273
678c322f1c4b327f857e89245e5f0a58
96add248806318ce40d4e0a64b0c8138
cc130c1d805842a1f06a62df2793fed5
103c06720e75436d191e28bcd3683662
eb47b643cc6a9d134f9f425d72c4d2e3
c13d0ba39dc330a112cf4148a8ef9e73
cd20e2c42fd6e16b1eb654f05d56c7ef
7beafead4ab6a6fab29b30ee281e235a
8e33b5444d49915349027b7ab3b85c34
87ac21c9768210167c202fa1ae307d35
9f4f5c9fefab92a4c176e57d80538df7
9f78a5e445581308cf160fd7f22534a4
2b663e138c887ef2ce1415f8655268c4
165a9b0086951f1f8ac662fe8cafbab6
5c53179b8684a65b2b8d72215284268f
dada2eaa9e382bf28bf060207554b575
57eea7aa21d5aaf3c176f54d351f179f
dada2eaa9e382bf28bf060207554b575
5c53179b8684a65b2b8d72215284268f
e4647b52b02d2877c0bfbfd5d9320f64
ea96f740eecf0b11689dd93b3e901df4

 13%|█████▉                                       | 60640/455877 [00:02<00:13, 28876.85it/s]

f5c3c3c6eb6acf2d6caa35ec1433a3d0
3294350833536c259e2613834c1735cd
3294350833536c259e2613834c1735cd
31c1946c418f1279f36170ac467632b8
189504cd5439d7ef7519a0d6980238de
14518209507612e5107eee3c5a7c747a
14518209507612e5107eee3c5a7c747a
cb267a2e1c0b8148ea02af981e9598dd
0fa6787d135df43e7d0e82462e9f1103
bdfa02e2407e57169775528eba26307f
2fee5364982dbc8c19c185c111742d11
c8e6d5867a06723580868063b2bb48d1
7b6b31ede273c9d9cf0500bdc5f79db5
87b6a5774491b721baa4710db68e3092
18a213c92eda8ab8d7218a58febb3255
fdd0545ffd6ddb9b9463c06a00efcd10
af5d41631bb72c3adc38b775bdf237ce
7430f9507565320d84421b8aae66de2c

 14%|██████                                       | 61898/455877 [00:02<00:14, 27530.19it/s]

KeyboardInterrupt: