In [1]:
import pandas as pd
import json
import os
from tqdm import tqdm
from collections import Counter, defaultdict
import pickle
import csv
import argparse

In [2]:
gdelt_raw = pd.read_csv('../../data_final/GDELT_EGIRIS.csv', sep='\t')

In [3]:
gdelt_raw

,Actor1Name,Actor2Name,EventCode,Actor1ADM1Code,Actor2ADM1Code,EventADM1Code,date,timid,Md5_list,year,md5
0,EGYPT,POLITICAL PARTIES,51,EG,EG,EG,20150219,0,77e46312cec9426b36809390e064f845,2015,77e46312cec9426b36809390e064f845
1,RUSSIAN,RUSSIAN,42,EG,LY,EG,20150219,0,c7887de81c936f036c2c6bfad834f759,2015,c7887de81c936f036c2c6bfad834f759
2,EGYPTIAN,LIBYA,195,EG,EG,EG,20150219,0,b8643082d868be96337d337108616629,2015,b8643082d868be96337d337108616629
3,WEBSITE,EGYPT,42,EG,EG,EG,20150219,0,e9fdf0f07df44291c95f0c377b627ddf,2015,e9fdf0f07df44291c95f0c377b627ddf
4,RUSSIAN,RUSSIAN,43,RS,RS,EG,20150219,0,c7887de81c936f036c2c6bfad834f759,2015,c7887de81c936f036c2c6bfad834f759
...,...,...,...,...,...,...,...,...,...,...,...
3009530,INVESTOR,ISRAEL,43,IS,IS,IS,20220317,2583,a524f2d4fa0df8553456c76c1ba76307,2022,a524f2d4fa0df8553456c76c1ba76307
3009531,GOVERNMENT,ISRAEL,161,IS,IS,IS,20220317,2583,a66b9271e051ec3d20a286685581d3cd,2022,a66b9271e051ec3d20a286685581d3cd
3009532,ISRAEL,ISRAELI,190,IS,IS,IS,20220317,2583,60fdcf21b0493004c019292180f1db19,2022,60fdcf21b0493004c019292180f1db19
3009533,UKRAINIAN,TEL AVIV,20,UP,IS,IS,20220317,2583,bd8afe7c84e4db01b9c39529e6b24b66,2022,bd8afe7c84e4db01b9c39529e6b24b66
3009534,ISRAELI,PALESTINIAN,253,IS,IS,IS,20220317,2583,47a9da253df85e613ffeaaf3eb2c6383,2022,47a9da253df85e613ffeaaf3eb2c6383

In [4]:
gdelt_raw = gdelt_raw.drop('Md5_list', axis=1)

In [6]:
gdelt_raw = gdelt_raw.drop_duplicates(keep='first')

In [7]:
gdelt_raw

,Actor1Name,Actor2Name,EventCode,Actor1ADM1Code,Actor2ADM1Code,EventADM1Code,date,timid,year,md5
0,EGYPT,POLITICAL PARTIES,51,EG,EG,EG,20150219,0,2015,77e46312cec9426b36809390e064f845
1,RUSSIAN,RUSSIAN,42,EG,LY,EG,20150219,0,2015,c7887de81c936f036c2c6bfad834f759
2,EGYPTIAN,LIBYA,195,EG,EG,EG,20150219,0,2015,b8643082d868be96337d337108616629
3,WEBSITE,EGYPT,42,EG,EG,EG,20150219,0,2015,e9fdf0f07df44291c95f0c377b627ddf
4,RUSSIAN,RUSSIAN,43,RS,RS,EG,20150219,0,2015,c7887de81c936f036c2c6bfad834f759
...,...,...,...,...,...,...,...,...,...,...
3009530,INVESTOR,ISRAEL,43,IS,IS,IS,20220317,2583,2022,a524f2d4fa0df8553456c76c1ba76307
3009531,GOVERNMENT,ISRAEL,161,IS,IS,IS,20220317,2583,2022,a66b9271e051ec3d20a286685581d3cd
3009532,ISRAEL,ISRAELI,190,IS,IS,IS,20220317,2583,2022,60fdcf21b0493004c019292180f1db19
3009533,UKRAINIAN,TEL AVIV,20,UP,IS,IS,20220317,2583,2022,bd8afe7c84e4db01b9c39529e6b24b66
3009534,ISRAELI,PALESTINIAN,253,IS,IS,IS,20220317,2583,2022,47a9da253df85e613ffeaaf3eb2c6383

In [10]:
gdelt_raw.to_csv(path_or_buf='../../data_final/GDELT_EGIRIS.csv', sep='\t', index=False)

In [11]:
relation_ids = json.load(open('../../data/relation_ids.json', 'r'))

In [13]:
level1s, level2s, level3s = relation_ids
level1s_int = [int(x) for x in level1s]
level2s_int = [int(x) for x in level2s]
level3s_int = [int(x) for x in level3s]

In [14]:
print(len(gdelt_raw[gdelt_raw['EventCode'].isin(level1s_int)]))
print(len(gdelt_raw[gdelt_raw['EventCode'].isin(level2s_int)]))
print(len(gdelt_raw[gdelt_raw['EventCode'].isin(level3s_int)]))

1169379
1725365
114781

In [18]:
print(len(gdelt_raw['Actor1Name']._append(gdelt_raw['Actor2Name']).unique()))
print(len(gdelt_raw['EventCode'].unique()))

4266
244

In [9]:
len(gdelt_raw['md5'].unique())

586690

In [8]:
final_md5_list = json.load(open('./final_md5_list.json', 'r'))

In [20]:
gdelt_ce = gdelt_raw[gdelt_raw['md5'].isin(final_md5_list)]

In [21]:
gdelt_ce

,Actor1Name,Actor2Name,EventCode,Actor1ADM1Code,Actor2ADM1Code,EventADM1Code,date,timid,year,md5
1,RUSSIAN,RUSSIAN,42,EG,LY,EG,20150219,0,2015,c7887de81c936f036c2c6bfad834f759
2,EGYPTIAN,LIBYA,195,EG,EG,EG,20150219,0,2015,b8643082d868be96337d337108616629
4,RUSSIAN,RUSSIAN,43,RS,RS,EG,20150219,0,2015,c7887de81c936f036c2c6bfad834f759
5,EGYPT,SYRIA,195,EG,SY,EG,20150219,0,2015,b8c6ea9a1d38101ce4d5f8ea673b404a
6,EGYPT,SYRIA,195,EG,EG,JO,20150219,0,2015,b8c6ea9a1d38101ce4d5f8ea673b404a
...,...,...,...,...,...,...,...,...,...,...
3009524,THE EU,WEST BANK,10,IS,WE,IS,20220317,2583,2022,303902559b8543d41b0d2f3ad2b73569
3009527,ISRAEL,PALESTINIAN,46,IS,IS,IS,20220317,2583,2022,d52355726f828f51f7deaa065f4fa451
3009528,PALESTINIAN,PALESTINE,10,IS,IS,IS,20220317,2583,2022,d52355726f828f51f7deaa065f4fa451
3009531,GOVERNMENT,ISRAEL,161,IS,IS,IS,20220317,2583,2022,a66b9271e051ec3d20a286685581d3cd
3009532,ISRAEL,ISRAELI,190,IS,IS,IS,20220317,2583,2022,60fdcf21b0493004c019292180f1db19

In [41]:
md52rawtopic = json.load(open('./md52rawtopic.json', 'r'))

In [42]:
gdelt_ce['Topic'] = [md52rawtopic[_] for _ in gdelt_ce['md5']]

/tmp/ipykernel_2984193/1509153667.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdelt_ce['Topic'] = [md52rawtopic[_] for _ in gdelt_ce['md5']]

In [43]:
gdelt_ce

,Actor1Name,Actor2Name,EventCode,Actor1ADM1Code,Actor2ADM1Code,EventADM1Code,date,timid,year,md5,Topic
1,RUSSIAN,RUSSIAN,42,EG,LY,EG,20150219,0,2015,c7887de81c936f036c2c6bfad834f759,1277
2,EGYPTIAN,LIBYA,195,EG,EG,EG,20150219,0,2015,b8643082d868be96337d337108616629,-1
4,RUSSIAN,RUSSIAN,43,RS,RS,EG,20150219,0,2015,c7887de81c936f036c2c6bfad834f759,1277
5,EGYPT,SYRIA,195,EG,SY,EG,20150219,0,2015,b8c6ea9a1d38101ce4d5f8ea673b404a,-1
6,EGYPT,SYRIA,195,EG,EG,JO,20150219,0,2015,b8c6ea9a1d38101ce4d5f8ea673b404a,-1
...,...,...,...,...,...,...,...,...,...,...,...
3009524,THE EU,WEST BANK,10,IS,WE,IS,20220317,2583,2022,303902559b8543d41b0d2f3ad2b73569,690
3009527,ISRAEL,PALESTINIAN,46,IS,IS,IS,20220317,2583,2022,d52355726f828f51f7deaa065f4fa451,-1
3009528,PALESTINIAN,PALESTINE,10,IS,IS,IS,20220317,2583,2022,d52355726f828f51f7deaa065f4fa451,-1
3009531,GOVERNMENT,ISRAEL,161,IS,IS,IS,20220317,2583,2022,a66b9271e051ec3d20a286685581d3cd,-1
3009532,ISRAEL,ISRAELI,190,IS,IS,IS,20220317,2583,2022,60fdcf21b0493004c019292180f1db19,770

In [94]:
gdelt_ce.to_csv(path_or_buf='./GDELT_raw.csv', sep='\t', index=False)

In [47]:
print(len(gdelt_ce['md5'].unique()))
print(len(gdelt_ce))
print(len(gdelt_ce['Actor1Name']._append(gdelt_ce['Actor2Name']).unique()))
print(len(gdelt_ce['EventCode'].unique()))

274795
1568393
3338
239

In [ ]:
# filter by entity tfdf

In [48]:
def calculate_frequency(vicuna_dropna):
    # Entity frequency
    term_freq = {k: v for k, v in sorted(Counter(vicuna_dropna['Actor1Name']._append(vicuna_dropna['Actor2Name'])).items(), key=lambda item: item[1], reverse=False)}

    # Document frequency
    df = pd.concat([vicuna_dropna[['Actor1Name', 'md5']], vicuna_dropna[['Actor2Name', 'md5']].rename(columns={'Actor2Name':'Actor1Name'})])
    unique_df = df.drop_duplicates()
    doc_freq = unique_df.groupby('Actor1Name')['md5'].nunique().sort_values(ascending=True).to_dict()

    return term_freq, doc_freq

In [49]:
m = 10
n = 0
data = gdelt_ce.copy()
prev_num_rows = data.shape[0]
while True:
    
    term_freq, doc_freq = calculate_frequency(data)

    mask_tf = data['Actor1Name'].map(term_freq).ge(m) & data['Actor2Name'].map(term_freq).ge(m)
    mask_df = data['Actor1Name'].map(doc_freq).ge(n) & data['Actor2Name'].map(doc_freq).ge(n)

    # Filter raw_data
    data = data[mask_tf & mask_df]

    if data.shape[0] == prev_num_rows:
        entity_counter = Counter(data['Actor1Name']._append(data['Actor2Name']))
        total_entity_filter = {k: v for k, v in sorted(entity_counter.items(), key=lambda item: item[1], reverse=False)}

        md5_counter = Counter(data['md5'])
        total_md5_filter = {k: v for k, v in sorted(md5_counter.items(), key=lambda item: item[1], reverse=False)}

        print(f"filter version {m}_{n}: number of events: {len(data)}")
        print(f"filter version {m}_{n}: number of entities: {len(total_entity_filter)}, number of documents: {len(total_md5_filter)}")
        print()

        break
    else:
        prev_num_rows = data.shape[0]

filter version 10_0: number of events: 1563514
filter version 10_0: number of entities: 1954, number of documents: 274285

In [53]:
gdelt_ce_tf = data

In [51]:
print(len(data['md5'].unique()))
print(len(data))
print(len(data['Actor1Name']._append(data['Actor2Name']).unique()))
print(len(data['EventCode'].unique()))

274285
1563514
1954
239

In [95]:
gdelt_ce_tf['Topic'] = [md52rawtopic[_] for _ in gdelt_ce_tf['md5']]
gdelt_ce_tf.to_csv(path_or_buf='./GDELT_tf.csv', sep='\t', index=False)

In [55]:
m = 10
n = 10
data = gdelt_ce.copy()
prev_num_rows = data.shape[0]
while True:
    
    term_freq, doc_freq = calculate_frequency(data)

    mask_tf = data['Actor1Name'].map(term_freq).ge(m) & data['Actor2Name'].map(term_freq).ge(m)
    mask_df = data['Actor1Name'].map(doc_freq).ge(n) & data['Actor2Name'].map(doc_freq).ge(n)

    # Filter raw_data
    data = data[mask_tf & mask_df]

    if data.shape[0] == prev_num_rows:
        entity_counter = Counter(data['Actor1Name']._append(data['Actor2Name']))
        total_entity_filter = {k: v for k, v in sorted(entity_counter.items(), key=lambda item: item[1], reverse=False)}

        md5_counter = Counter(data['md5'])
        total_md5_filter = {k: v for k, v in sorted(md5_counter.items(), key=lambda item: item[1], reverse=False)}

        print(f"filter version {m}_{n}: number of events: {len(data)}")
        print(f"filter version {m}_{n}: number of entities: {len(total_entity_filter)}, number of documents: {len(total_md5_filter)}")
        print()

        break
    else:
        prev_num_rows = data.shape[0]

filter version 10_10: number of events: 1557862
filter version 10_10: number of entities: 1557, number of documents: 273914

In [56]:
gdelt_ce_tfdf = data

In [57]:
print(len(data['md5'].unique()))
print(len(data))
print(len(data['Actor1Name']._append(data['Actor2Name']).unique()))
print(len(data['EventCode'].unique()))

273914
1557862
1557
239

In [96]:
gdelt_ce_tfdf['Topic'] = [md52rawtopic[_] for _ in gdelt_ce_tfdf['md5']]
gdelt_ce_tfdf.to_csv(path_or_buf='./GDELT_tfdf.csv', sep='\t', index=False)

In [59]:
gdelt_ce_tfdf

,Actor1Name,Actor2Name,EventCode,Actor1ADM1Code,Actor2ADM1Code,EventADM1Code,date,timid,year,md5,Topic
1,RUSSIAN,RUSSIAN,42,EG,LY,EG,20150219,0,2015,c7887de81c936f036c2c6bfad834f759,1277
2,EGYPTIAN,LIBYA,195,EG,EG,EG,20150219,0,2015,b8643082d868be96337d337108616629,-1
4,RUSSIAN,RUSSIAN,43,RS,RS,EG,20150219,0,2015,c7887de81c936f036c2c6bfad834f759,1277
5,EGYPT,SYRIA,195,EG,SY,EG,20150219,0,2015,b8c6ea9a1d38101ce4d5f8ea673b404a,-1
6,EGYPT,SYRIA,195,EG,EG,JO,20150219,0,2015,b8c6ea9a1d38101ce4d5f8ea673b404a,-1
...,...,...,...,...,...,...,...,...,...,...,...
3009524,THE EU,WEST BANK,10,IS,WE,IS,20220317,2583,2022,303902559b8543d41b0d2f3ad2b73569,690
3009527,ISRAEL,PALESTINIAN,46,IS,IS,IS,20220317,2583,2022,d52355726f828f51f7deaa065f4fa451,-1
3009528,PALESTINIAN,PALESTINE,10,IS,IS,IS,20220317,2583,2022,d52355726f828f51f7deaa065f4fa451,-1
3009531,GOVERNMENT,ISRAEL,161,IS,IS,IS,20220317,2583,2022,a66b9271e051ec3d20a286685581d3cd,-1
3009532,ISRAEL,ISRAELI,190,IS,IS,IS,20220317,2583,2022,60fdcf21b0493004c019292180f1db19,770

In [60]:
grouplist = list(gdelt_ce_tfdf.groupby(['Actor1Name', 'EventCode', 'Actor2Name', 'Topic', 'timid']))

In [63]:
len(grouplist)

1202297

In [64]:
ce_pds = []
for groupid, group in tqdm(enumerate(grouplist), total=len(grouplist)):
    group_df = group[1]
    md5_list = list(group_df['md5'].unique())
    ce_pd = group_df.head(1).copy()
    ce_pd['Md5_list'] = ', '.join(md5_list)
    ce_pds.append(ce_pd.copy())

100%|███████████████████████████████████████████| 1202297/1202297 [07:26<00:00, 2690.33it/s]

In [65]:
ce_df = pd.concat(ce_pds).sort_index()

In [66]:
ce_df

,Actor1Name,Actor2Name,EventCode,Actor1ADM1Code,Actor2ADM1Code,EventADM1Code,date,timid,year,md5,Topic,Md5_list
1,RUSSIAN,RUSSIAN,42,EG,LY,EG,20150219,0,2015,c7887de81c936f036c2c6bfad834f759,1277,c7887de81c936f036c2c6bfad834f759
2,EGYPTIAN,LIBYA,195,EG,EG,EG,20150219,0,2015,b8643082d868be96337d337108616629,-1,"b8643082d868be96337d337108616629, 438806297311..."
4,RUSSIAN,RUSSIAN,43,RS,RS,EG,20150219,0,2015,c7887de81c936f036c2c6bfad834f759,1277,c7887de81c936f036c2c6bfad834f759
5,EGYPT,SYRIA,195,EG,SY,EG,20150219,0,2015,b8c6ea9a1d38101ce4d5f8ea673b404a,-1,b8c6ea9a1d38101ce4d5f8ea673b404a
8,THE UN,ARAB LEAGUE,46,EG,EG,EG,20150219,0,2015,d19f42d1f5e86ea8101e933b2668ed99,-1,d19f42d1f5e86ea8101e933b2668ed99
...,...,...,...,...,...,...,...,...,...,...,...,...
3009524,THE EU,WEST BANK,10,IS,WE,IS,20220317,2583,2022,303902559b8543d41b0d2f3ad2b73569,690,303902559b8543d41b0d2f3ad2b73569
3009527,ISRAEL,PALESTINIAN,46,IS,IS,IS,20220317,2583,2022,d52355726f828f51f7deaa065f4fa451,-1,d52355726f828f51f7deaa065f4fa451
3009528,PALESTINIAN,PALESTINE,10,IS,IS,IS,20220317,2583,2022,d52355726f828f51f7deaa065f4fa451,-1,d52355726f828f51f7deaa065f4fa451
3009531,GOVERNMENT,ISRAEL,161,IS,IS,IS,20220317,2583,2022,a66b9271e051ec3d20a286685581d3cd,-1,a66b9271e051ec3d20a286685581d3cd
3009532,ISRAEL,ISRAELI,190,IS,IS,IS,20220317,2583,2022,60fdcf21b0493004c019292180f1db19,770,60fdcf21b0493004c019292180f1db19

In [67]:
print(len(ce_df['md5'].unique()))
print(len(ce_df))
print(len(ce_df['Actor1Name']._append(data['Actor2Name']).unique()))
print(len(ce_df['EventCode'].unique()))

271182
1202297
1557
239

In [69]:
print(len(ce_df[ce_df['Topic']==-1]))

627230

In [70]:
# stats
results = ce_df.groupby(['Topic']).agg({'timid':['count', 'max','min','mean']})
results.columns = ['n_events', 'nday_max', 'nday_min', 'nday_mean']
results['nday_range'] = results['nday_max'] -results['nday_min'] + 1
print(results)
print(results.loc[0:, :].mean())
print(results.loc[0:, :].max())
print(results.loc[0:, :].min())

       n_events  nday_max  nday_min    nday_mean  nday_range
Topic
-1       627230      2583         0  1242.589299        2584
 0         6981      2015      1799  1870.143389         217
 1         3836       410       215   308.316215         196
 2         2186      2272      2070  2169.363678         203
 3         2414       953       825   868.037697         129
...         ...       ...       ...          ...         ...
 3745        48      2474      2444  2458.708333          31
 3746        31      1392      1359  1370.387097          34
 3747        34      1319      1286  1301.205882          34
 3748        19      1228      1215  1217.000000          14
 3749        36       793       781   784.694444          13

[3751 rows x 5 columns]
n_events       153.351200
nday_max      1264.953067
nday_min      1226.774933
nday_mean     1245.200658
nday_range      39.178133
dtype: float64
n_events      6981.000000
nday_max      2583.000000
nday_min      2574.000000
nday_mean     2579.572368
nday_range    2568.000000
dtype: float64
n_events       1.000000
nday_max      18.000000
nday_min       0.000000
nday_mean      7.072289
nday_range     1.000000
dtype: float64

In [ ]:
# split by max day range and max cluster size

In [71]:
max_n_range = 78
max_n_events = 306

In [72]:
topicid_max = ce_df['Topic'].max()

In [73]:
topicid_max

3749

In [75]:
ce_pd_splitted = []
for topicid in range(0, topicid_max + 1):
    ce_pd = ce_df[ce_df['Topic']==topicid]
    ce_pd = ce_pd.sort_values(by=['date'], ignore_index=True)
    curr_rowid = 0
    while curr_rowid <= (len(ce_pd)-1):
        next_rowid = min(curr_rowid + max_n_events-1, len(ce_pd)-1)
        next_row = ce_pd.iloc[[next_rowid]]
        next_timid = next_row['timid'].values[0]
        curr_row = ce_pd.iloc[[curr_rowid]]
        curr_timid = curr_row['timid'].values[0]
        n_range = next_timid - curr_timid + 1
        if n_range <= max_n_range: # split by max_n_events
            ce_pd_splitted.append(ce_pd[curr_rowid: next_rowid+1])
            curr_rowid = next_rowid+1
        else: # split by n_range
            next_rowid = len(ce_pd[ce_pd['timid'] <= (curr_timid+max_n_range-1)]) - 1
            ce_pd_splitted.append(ce_pd[curr_rowid: next_rowid+1])
            curr_rowid = next_rowid+1

In [79]:
new_ces = []
for idx, new_ce in enumerate(ce_pd_splitted):
    new_ce = new_ce.rename(columns={'Topic': 'ce_id', 'date':'day', 'md5': 'Md5'})
    new_ce['ce_id'] = [idx] * len(new_ce)
    new_ces.append(new_ce)

In [77]:
len(new_ces)

4668

In [80]:
new_ces[0]

,Actor1Name,Actor2Name,EventCode,Actor1ADM1Code,Actor2ADM1Code,EventADM1Code,day,timid,year,Md5,ce_id,Md5_list
0,EGYPTIAN,CITIZEN,130,EG,CH,CH,20200123,1799,2020,3d52c8acaab22b919f627ad1fc0d3b70,0,3d52c8acaab22b919f627ad1fc0d3b70
1,POLICE,ISRAEL,20,IS,IS,IS,20200126,1802,2020,ec804b29897268702f74ea6b1de45482,0,ec804b29897268702f74ea6b1de45482
2,ISRAEL,CHINA,43,IS,CH,IS,20200126,1802,2020,ec804b29897268702f74ea6b1de45482,0,ec804b29897268702f74ea6b1de45482
3,ISRAEL,CHINA,173,IS,CH,CH,20200126,1802,2020,ec804b29897268702f74ea6b1de45482,0,ec804b29897268702f74ea6b1de45482
4,ISRAEL,CHINA,112,IS,CH,CH,20200126,1802,2020,ec804b29897268702f74ea6b1de45482,0,ec804b29897268702f74ea6b1de45482
...,...,...,...,...,...,...,...,...,...,...,...,...
301,JAPANESE,ISRAEL,36,JA,IS,IS,20200219,1826,2020,8e1d9c65100c65183fb238926eb3b89b,0,8e1d9c65100c65183fb238926eb3b89b
302,CHINESE,MINISTRY,43,CH,EG,EG,20200219,1826,2020,91ab0eb2f55476777220431a6431414a,0,91ab0eb2f55476777220431a6431414a
303,EGYPT,SCHOOL,43,EG,EG,EG,20200219,1826,2020,91ab0eb2f55476777220431a6431414a,0,91ab0eb2f55476777220431a6431414a
304,SCHOOL,EGYPT,42,EG,EG,EG,20200219,1826,2020,91ab0eb2f55476777220431a6431414a,0,91ab0eb2f55476777220431a6431414a
305,MINISTRY,CHINESE,42,EG,EG,EG,20200219,1826,2020,91ab0eb2f55476777220431a6431414a,0,91ab0eb2f55476777220431a6431414a

In [82]:
outliers = ce_df[ce_df['Topic']==-1].sort_values(by=['date'], ignore_index=True)
outliers = outliers.rename(columns={'Topic': 'ce_id', 'date':'day', 'md5': 'Md5'})

In [83]:
outliers

,Actor1Name,Actor2Name,EventCode,Actor1ADM1Code,Actor2ADM1Code,EventADM1Code,day,timid,year,Md5,ce_id,Md5_list
0,EGYPTIAN,LIBYA,195,EG,EG,EG,20150219,0,2015,b8643082d868be96337d337108616629,-1,"b8643082d868be96337d337108616629, 438806297311..."
1,US GOVERNMENT,ISRAEL,20,IS,IS,IS,20150219,0,2015,c7583a7778d803b71cacb4b096278b9e,-1,c7583a7778d803b71cacb4b096278b9e
2,ISRAELI,ISRAELI,40,IS,IS,US,20150219,0,2015,a69ea4173461ad41702db21f46fdc320,-1,a69ea4173461ad41702db21f46fdc320
3,JERUSALEM,ISRAEL,20,IS,IS,IS,20150219,0,2015,44d1c4c6a15c91ada8a413dcadc5f19d,-1,44d1c4c6a15c91ada8a413dcadc5f19d
4,TEL AVIV,TEL AVIV,190,IS,IS,IS,20150219,0,2015,1255d42cddaff83ed85ab6a39da8beda,-1,1255d42cddaff83ed85ab6a39da8beda
...,...,...,...,...,...,...,...,...,...,...,...,...
627225,IRANIAN,WASHINGTON,26,IR,US,US,20220317,2583,2022,fdb0cda3fccee4abb4caa2096b9d1005,-1,fdb0cda3fccee4abb4caa2096b9d1005
627226,UNITED KINGDOM,MILITARY,43,IR,UK,UK,20220317,2583,2022,2b79ce5899aa099a03402c9b32888088,-1,2b79ce5899aa099a03402c9b32888088
627227,IRAN,COMMANDER,112,IR,IR,IR,20220317,2583,2022,b8e0699349bda61f9f70af84bfe4238f,-1,b8e0699349bda61f9f70af84bfe4238f
627228,IRAN,CITIZEN,84,MU,IR,UK,20220317,2583,2022,2b79ce5899aa099a03402c9b32888088,-1,2b79ce5899aa099a03402c9b32888088
627229,GOVERNMENT,ISRAEL,161,IS,IS,IS,20220317,2583,2022,a66b9271e051ec3d20a286685581d3cd,-1,a66b9271e051ec3d20a286685581d3cd

In [84]:
new_ces.append(outliers)
new_ces_df = pd.concat(new_ces, ignore_index=True)

In [85]:
new_ces_df = new_ces_df.sort_values(by=['day'], ignore_index=True)

In [86]:
new_ces_df

,Actor1Name,Actor2Name,EventCode,Actor1ADM1Code,Actor2ADM1Code,EventADM1Code,day,timid,year,Md5,ce_id,Md5_list
0,JORDAN,EGYPT,40,EG,IS,JO,20150219,0,2015,fea4f048e58509eb5ce3a95a356d3f3f,-1,fea4f048e58509eb5ce3a95a356d3f3f
1,ISRAEL,PRIME MINISTER,11,IS,IS,IS,20150219,0,2015,5a4b044b1fa09e9e5e2c493f80402cab,-1,5a4b044b1fa09e9e5e2c493f80402cab
2,OBAMA,ADMINISTRATION,43,IS,IS,IS,20150219,0,2015,f3d779dfd752412791e48322b5e2d05e,-1,f3d779dfd752412791e48322b5e2d05e
3,GAZA,ISRAEL,160,TU,IS,IS,20150219,0,2015,d6db17beecf1764d75e1b969d6e6e825,-1,d6db17beecf1764d75e1b969d6e6e825
4,GAZA,ISRAEL,161,IS,IS,IS,20150219,0,2015,d6db17beecf1764d75e1b969d6e6e825,-1,d6db17beecf1764d75e1b969d6e6e825
...,...,...,...,...,...,...,...,...,...,...,...,...
1202292,UKRAINE,UKRAINE,110,IS,IS,IS,20220317,2583,2022,cac2d7644682d7109ca0d2d7a5aac8d5,207,cac2d7644682d7109ca0d2d7a5aac8d5
1202293,RUSSIAN,UKRAINIAN,75,IS,IS,IS,20220317,2583,2022,e6dd4bb00d50281de4068a9de2bb236c,207,e6dd4bb00d50281de4068a9de2bb236c
1202294,RUSSIAN,MILITARY BASE,194,IS,IS,IS,20220317,2583,2022,2059ada204307b9c3193f3ba5858d082,207,2059ada204307b9c3193f3ba5858d082
1202295,KYIV,RUSSIA,193,IS,IS,IS,20220317,2583,2022,3f6bef0948c107595279678511ec187d,207,3f6bef0948c107595279678511ec187d
1202296,GOVERNMENT,ISRAEL,161,IS,IS,IS,20220317,2583,2022,a66b9271e051ec3d20a286685581d3cd,-1,a66b9271e051ec3d20a286685581d3cd

In [87]:
# stats
new_results = new_ces_df.groupby(['ce_id']).agg({'timid':['count', 'max','min','mean']})
new_results.columns = ['n_events', 'nday_max', 'nday_min', 'nday_mean']
new_results['nday_range'] = new_results['nday_max'] -new_results['nday_min'] + 1
print(new_results)
print(new_results.loc[0:, :].mean())
print(new_results.loc[0:, :].max())
print(new_results.loc[0:, :].min())

       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
-1       627230      2583         0  1242.589299        2584
 0          306      1826      1799  1813.640523          28
 1          306      1830      1826  1828.637255           5
 2          306      1832      1830  1830.633987           3
 3          306      1834      1832  1833.032680           3
...         ...       ...       ...          ...         ...
 4663        48      2474      2444  2458.708333          31
 4664        31      1392      1359  1370.387097          34
 4665        34      1319      1286  1301.205882          34
 4666        19      1228      1215  1217.000000          14
 4667        36       793       781   784.694444          13

[4669 rows x 5 columns]
n_events       123.193445
nday_max      1290.913239
nday_min      1261.687661
nday_mean     1276.104833
nday_range      30.225578
dtype: float64
n_events       306.0
nday_max      2583.0
nday_min      2583.0
nday_mean     2583.0
nday_range      78.0
dtype: float64
n_events      1.000000
nday_max      4.000000
nday_min      0.000000
nday_mean     1.663399
nday_range    1.000000
dtype: float64

In [ ]:
# filter by min range and min size

In [88]:
unfiltered_ces = new_ces[:-1]

In [89]:
invalid_ces = []
valid_ces = []
for ce in unfiltered_ces:
    if len(ce) < 10:
        invalid_ces.append(ce)
    elif len(ce['timid'].unique()) == 1:
        invalid_ces.append(ce)
    else:
        valid_ces.append(ce)

In [90]:
len(invalid_ces)

132

In [91]:
new_outliers = pd.concat([outliers]+invalid_ces, ignore_index=True)
new_outliers['ce_id'] = [-1] * len(new_outliers)

In [92]:
new_outliers

,Actor1Name,Actor2Name,EventCode,Actor1ADM1Code,Actor2ADM1Code,EventADM1Code,day,timid,year,Md5,ce_id,Md5_list
0,EGYPTIAN,LIBYA,195,EG,EG,EG,20150219,0,2015,b8643082d868be96337d337108616629,-1,"b8643082d868be96337d337108616629, 438806297311..."
1,US GOVERNMENT,ISRAEL,20,IS,IS,IS,20150219,0,2015,c7583a7778d803b71cacb4b096278b9e,-1,c7583a7778d803b71cacb4b096278b9e
2,ISRAELI,ISRAELI,40,IS,IS,US,20150219,0,2015,a69ea4173461ad41702db21f46fdc320,-1,a69ea4173461ad41702db21f46fdc320
3,JERUSALEM,ISRAEL,20,IS,IS,IS,20150219,0,2015,44d1c4c6a15c91ada8a413dcadc5f19d,-1,44d1c4c6a15c91ada8a413dcadc5f19d
4,TEL AVIV,TEL AVIV,190,IS,IS,IS,20150219,0,2015,1255d42cddaff83ed85ab6a39da8beda,-1,1255d42cddaff83ed85ab6a39da8beda
...,...,...,...,...,...,...,...,...,...,...,...,...
628638,SAUDI,ISLAM,51,SA,IR,IR,20171025,979,2017,f73ef51754cb75d14d0957b52af44de1,-1,f73ef51754cb75d14d0957b52af44de1
628639,SAUDI,IRAN,51,AF,IR,IR,20171025,979,2017,f73ef51754cb75d14d0957b52af44de1,-1,f73ef51754cb75d14d0957b52af44de1
628640,TEHRAN,SAUDI ARABIA,186,IR,SA,SA,20171025,979,2017,f73ef51754cb75d14d0957b52af44de1,-1,f73ef51754cb75d14d0957b52af44de1
628641,IRAQ,IRAN,120,IZ,IR,IR,20171025,979,2017,f73ef51754cb75d14d0957b52af44de1,-1,f73ef51754cb75d14d0957b52af44de1
628642,IRAN,KARBALA,30,IR,IR,IR,20171025,979,2017,f73ef51754cb75d14d0957b52af44de1,-1,f73ef51754cb75d14d0957b52af44de1

In [93]:
new_outliers_grouplist = list(new_outliers.groupby(['Actor1Name', 'EventCode', 'Actor2Name', 'day']))
print(len(new_outliers_grouplist))
new_outliers_dedu_list = []
for groupid, group in tqdm(enumerate(new_outliers_grouplist), total=len(new_outliers_grouplist)):
    group_df = group[1]
    md5_list = []
    md5_lists = list(group_df['Md5_list'].unique())
    for md5_list_str in md5_lists:
        md5_list += md5_list_str.split(', ')
    kept_outlier = group_df.head(1).copy()
    kept_outlier['Md5_list'] = ', '.join(md5_list)
    new_outliers_dedu_list.append(kept_outlier.copy())
new_outliers_dedu = pd.concat(new_outliers_dedu_list).sort_values(by=['day'], ignore_index=True)

628615

100%|█████████████████████████████████████████████| 628615/628615 [03:57<00:00, 2646.63it/s]

In [97]:
new_outliers_dedu

,Actor1Name,Actor2Name,EventCode,Actor1ADM1Code,Actor2ADM1Code,EventADM1Code,day,timid,year,Md5,ce_id,Md5_list
0,THE WHITE HOUSE,UNITED STATES,110,IS,IS,IR,20150219,0,2015,f3d779dfd752412791e48322b5e2d05e,-1,f3d779dfd752412791e48322b5e2d05e
1,KINGDOM,IRAQ,57,EG,EG,EG,20150219,0,2015,fea4f048e58509eb5ce3a95a356d3f3f,-1,fea4f048e58509eb5ce3a95a356d3f3f
2,THE US,CITIZEN,10,IS,IS,IS,20150219,0,2015,72dcb54c9b49830caefdad4bb7453d3c,-1,72dcb54c9b49830caefdad4bb7453d3c
3,KINGDOM,EGYPT,57,IZ,IZ,EG,20150219,0,2015,fea4f048e58509eb5ce3a95a356d3f3f,-1,fea4f048e58509eb5ce3a95a356d3f3f
4,SPOKESMAN,EGYPT,18,TS,EG,EG,20150219,0,2015,17ec9652bed95915b25ffa18a8a0cf05,-1,17ec9652bed95915b25ffa18a8a0cf05
...,...,...,...,...,...,...,...,...,...,...,...,...
628610,UNITED STATES,AMBASSADOR,46,US,IS,IS,20220317,2583,2022,b407f0de34e9f3a92bb084a67e7aad7c,-1,b407f0de34e9f3a92bb084a67e7aad7c
628611,PALESTINIAN,PALESTINE,10,IS,IS,IS,20220317,2583,2022,d52355726f828f51f7deaa065f4fa451,-1,d52355726f828f51f7deaa065f4fa451
628612,FRENCH,FRANCE,40,UP,IS,UP,20220317,2583,2022,87a046d58f0a05e2c9c1bb9bd826b594,-1,87a046d58f0a05e2c9c1bb9bd826b594
628613,DEFENSE MINIST,IRANIAN,40,IS,IR,IR,20220317,2583,2022,7b4bab0e38720b867a170944cf233c9b,-1,7b4bab0e38720b867a170944cf233c9b
628614,POLICE,PALESTINIAN,60,IS,IS,IS,20220317,2583,2022,b77373820f3ca4bdb54acb003885060b,-1,b77373820f3ca4bdb54acb003885060b

In [98]:
for idx, valid_ce in enumerate(valid_ces):
    valid_ce['ce_id'] = [idx] * len(valid_ce)

In [99]:
filtered_ces = valid_ces + [new_outliers_dedu]
filtered_ces_df = pd.concat(filtered_ces, ignore_index=True)

In [100]:
filtered_ces_df = filtered_ces_df.sort_values(by=['day'], ignore_index=True)

In [101]:
filtered_ces_df

,Actor1Name,Actor2Name,EventCode,Actor1ADM1Code,Actor2ADM1Code,EventADM1Code,day,timid,year,Md5,ce_id,Md5_list
0,PALESTINIAN,ISRAEL,51,IS,IS,IS,20150219,0,2015,18918b73f1e5f11eb8734defabe9a804,-1,18918b73f1e5f11eb8734defabe9a804
1,UNITED KINGDOM,EGYPT,40,UK,EG,EG,20150219,0,2015,edf3db2729f3e81b20e446b94f7a6b6a,-1,edf3db2729f3e81b20e446b94f7a6b6a
2,JERUSALEM,AMBASSADOR,40,EG,IS,IS,20150219,0,2015,40f93517a5da0fd3efa6db594e8d0cb4,-1,40f93517a5da0fd3efa6db594e8d0cb4
3,ARAB LEAGUE,THE UN,46,EG,EG,EG,20150219,0,2015,d19f42d1f5e86ea8101e933b2668ed99,-1,d19f42d1f5e86ea8101e933b2668ed99
4,UNITED STATES,ISRAEL,40,US,IS,IS,20150219,0,2015,ce0520d2e05f1683451c7bf456728576,-1,ce0520d2e05f1683451c7bf456728576
...,...,...,...,...,...,...,...,...,...,...,...,...
1202264,ISRAEL,POLAND,42,IS,UP,IS,20220317,2583,2022,e10c808f7da06b957263923b0f0ae15f,211,e10c808f7da06b957263923b0f0ae15f
1202265,POLAND,ISRAELI,43,PL,IS,IS,20220317,2583,2022,e10c808f7da06b957263923b0f0ae15f,211,e10c808f7da06b957263923b0f0ae15f
1202266,POLICE,REFUGEE,36,IS,IS,IS,20220317,2583,2022,be62976e9b5ba60fcdcda63ac409c0de,211,be62976e9b5ba60fcdcda63ac409c0de
1202267,POLAND,ISRAEL,43,PL,UP,IS,20220317,2583,2022,7d1276b99bca7ad94f1ed2062b8d67dd,-1,7d1276b99bca7ad94f1ed2062b8d67dd
1202268,POLICE,PALESTINIAN,60,IS,IS,IS,20220317,2583,2022,b77373820f3ca4bdb54acb003885060b,-1,b77373820f3ca4bdb54acb003885060b

In [102]:
# stats
filtered_results = filtered_ces_df.groupby(['ce_id']).agg({'timid':['count', 'max','min','mean']})
filtered_results.columns = ['n_events', 'nday_max', 'nday_min', 'nday_mean']
filtered_results['nday_range'] = filtered_results['nday_max'] -filtered_results['nday_min'] + 1
print(filtered_results)
print(filtered_results.loc[0:, :].mean())
print(filtered_results.loc[0:, :].max())
print(filtered_results.loc[0:, :].min())

       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
-1       628615      2583         0  1242.683421        2584
 0          306      1826      1799  1813.640523          28
 1          306      1830      1826  1828.637255           5
 2          306      1832      1830  1830.633987           3
 3          306      1834      1832  1833.032680           3
...         ...       ...       ...          ...         ...
 4531        48      2474      2444  2458.708333          31
 4532        31      1392      1359  1370.387097          34
 4533        34      1319      1286  1301.205882          34
 4534        19      1228      1215  1217.000000          14
 4535        36       793       781   784.694444          13

[4537 rows x 5 columns]
n_events       126.466931
nday_max      1288.450176
nday_min      1258.580026
nday_mean     1273.305292
nday_range      30.870150
dtype: float64
n_events       306.000000
nday_max      2583.000000
nday_min      2582.000000
nday_mean     2582.783133
nday_range      78.000000
dtype: float64
n_events      10.000000
nday_max       4.000000
nday_min       0.000000
nday_mean      1.663399
nday_range     2.000000
dtype: float64

In [103]:
filtered_ces_df.to_csv(path_or_buf='./GDELT_ce_raw.csv', sep='\t', index=False)

In [ ]:
# split ce into train valid and test

In [104]:
unique_time = filtered_ces_df['day'].unique()
tim2id = {name: idx for idx, name in enumerate(unique_time)}

In [105]:
tim2id

{20150219: 0,
 20150220: 1,
 20150221: 2,
 20150222: 3,
 20150223: 4,
 20150224: 5,
 20150225: 6,
 20150226: 7,
 20150227: 8,
 20150228: 9,
 20150301: 10,
 20150302: 11,
 20150303: 12,
 20150304: 13,
 20150305: 14,
 20150306: 15,
 20150307: 16,
 20150308: 17,
 20150309: 18,
 20150310: 19,
 20150311: 20,
 20150312: 21,
 20150313: 22,
 20150314: 23,
 20150315: 24,
 20150316: 25,
 20150317: 26,
 20150318: 27,
 20150319: 28,
 20150320: 29,
 20150321: 30,
 20150322: 31,
 20150323: 32,
 20150324: 33,
 20150325: 34,
 20150326: 35,
 20150327: 36,
 20150328: 37,
 20150329: 38,
 20150330: 39,
 20150331: 40,
 20150401: 41,
 20150402: 42,
 20150403: 43,
 20150404: 44,
 20150405: 45,
 20150406: 46,
 20150407: 47,
 20150408: 48,
 20150409: 49,
 20150410: 50,
 20150411: 51,
 20150412: 52,
 20150413: 53,
 20150414: 54,
 20150415: 55,
 20150416: 56,
 20150417: 57,
 20150418: 58,
 20150419: 59,
 20150420: 60,
 20150421: 61,
 20150422: 62,
 20150423: 63,
 20150424: 64,
 20150425: 65,
 20150426: 66,
 20150427: 67,
 20150428: 68,
 20150429: 69,
 20150430: 70,
 20150501: 71,
 20150502: 72,
 20150503: 73,
 20150504: 74,
 20150505: 75,
 20150506: 76,
 20150507: 77,
 20150508: 78,
 20150509: 79,
 20150510: 80,
 20150511: 81,
 20150512: 82,
 20150513: 83,
 20150514: 84,
 20150515: 85,
 20150516: 86,
 20150517: 87,
 20150518: 88,
 20150519: 89,
 20150520: 90,
 20150521: 91,
 20150522: 92,
 20150523: 93,
 20150524: 94,
 20150525: 95,
 20150526: 96,
 20150527: 97,
 20150528: 98,
 20150529: 99,
 20150530: 100,
 20150531: 101,
 20150601: 102,
 20150602: 103,
 20150603: 104,
 20150604: 105,
 20150605: 106,
 20150606: 107,
 20150607: 108,
 20150608: 109,
 20150609: 110,
 20150610: 111,
 20150611: 112,
 20150612: 113,
 20150613: 114,
 20150614: 115,
 20150615: 116,
 20150616: 117,
 20150617: 118,
 20150618: 119,
 20150619: 120,
 20150620: 121,
 20150621: 122,
 20150622: 123,
 20150623: 124,
 20150624: 125,
 20150625: 126,
 20150626: 127,
 20150627: 128,
 20150628: 129,
 20150629: 130,
 20150630: 131,
 20150701: 132,
 20150702: 133,
 20150703: 134,
 20150704: 135,
 20150705: 136,
 20150706: 137,
 20150707: 138,
 20150708: 139,
 20150709: 140,
 20150710: 141,
 20150711: 142,
 20150712: 143,
 20150713: 144,
 20150714: 145,
 20150715: 146,
 20150716: 147,
 20150717: 148,
 20150718: 149,
 20150719: 150,
 20150720: 151,
 20150721: 152,
 20150722: 153,
 20150723: 154,
 20150724: 155,
 20150725: 156,
 20150726: 157,
 20150727: 158,
 20150728: 159,
 20150729: 160,
 20150730: 161,
 20150731: 162,
 20150801: 163,
 20150802: 164,
 20150803: 165,
 20150804: 166,
 20150805: 167,
 20150806: 168,
 20150807: 169,
 20150808: 170,
 20150809: 171,
 20150810: 172,
 20150811: 173,
 20150812: 174,
 20150813: 175,
 20150814: 176,
 20150815: 177,
 20150816: 178,
 20150817: 179,
 20150818: 180,
 20150819: 181,
 20150820: 182,
 20150821: 183,
 20150822: 184,
 20150823: 185,
 20150824: 186,
 20150825: 187,
 20150826: 188,
 20150827: 189,
 20150828: 190,
 20150829: 191,
 20150830: 192,
 20150831: 193,
 20150901: 194,
 20150902: 195,
 20150903: 196,
 20150904: 197,
 20150905: 198,
 20150906: 199,
 20150907: 200,
 20150908: 201,
 20150909: 202,
 20150910: 203,
 20150911: 204,
 20150912: 205,
 20150913: 206,
 20150914: 207,
 20150915: 208,
 20150916: 209,
 20150917: 210,
 20150918: 211,
 20150919: 212,
 20150920: 213,
 20150921: 214,
 20150922: 215,
 20150923: 216,
 20150924: 217,
 20150925: 218,
 20150926: 219,
 20150927: 220,
 20150928: 221,
 20150929: 222,
 20150930: 223,
 20151001: 224,
 20151002: 225,
 20151003: 226,
 20151004: 227,
 20151005: 228,
 20151006: 229,
 20151007: 230,
 20151008: 231,
 20151009: 232,
 20151010: 233,
 20151011: 234,
 20151012: 235,
 20151013: 236,
 20151014: 237,
 20151015: 238,
 20151016: 239,
 20151017: 240,
 20151018: 241,
 20151019: 242,
 20151020: 243,
 20151021: 244,
 20151022: 245,
 20151023: 246,
 20151024: 247,
 20151025: 248,
 20151026: 249,
 20151027: 250,
 20151028: 251,
 20151029: 252,
 20151030: 253,
 20151031: 254,
 20151101: 255,
 20151102: 256,
 20151103: 257,
 20151104: 258,
 20151105: 259,
 20151106: 260,
 20151107: 261,
 20151108: 262,
 20151109: 263,
 20151110: 264,
 20151111: 265,
 20151112: 266,
 20151113: 267,
 20151114: 268,
 20151115: 269,
 20151116: 270,
 20151117: 271,
 20151118: 272,
 20151119: 273,
 20151120: 274,
 20151121: 275,
 20151122: 276,
 20151123: 277,
 20151124: 278,
 20151125: 279,
 20151126: 280,
 20151127: 281,
 20151128: 282,
 20151129: 283,
 20151130: 284,
 20151201: 285,
 20151202: 286,
 20151203: 287,
 20151204: 288,
 20151205: 289,
 20151206: 290,
 20151207: 291,
 20151208: 292,
 20151209: 293,
 20151210: 294,
 20151211: 295,
 20151212: 296,
 20151213: 297,
 20151214: 298,
 20151215: 299,
 20151216: 300,
 20151217: 301,
 20151218: 302,
 20151219: 303,
 20151220: 304,
 20151221: 305,
 20151222: 306,
 20151223: 307,
 20151224: 308,
 20151225: 309,
 20151226: 310,
 20151227: 311,
 20151228: 312,
 20151229: 313,
 20151230: 314,
 20151231: 315,
 20160101: 316,
 20160102: 317,
 20160103: 318,
 20160104: 319,
 20160105: 320,
 20160106: 321,
 20160107: 322,
 20160108: 323,
 20160109: 324,
 20160110: 325,
 20160111: 326,
 20160112: 327,
 20160113: 328,
 20160114: 329,
 20160115: 330,
 20160116: 331,
 20160117: 332,
 20160118: 333,
 20160119: 334,
 20160120: 335,
 20160121: 336,
 20160122: 337,
 20160123: 338,
 20160124: 339,
 20160125: 340,
 20160126: 341,
 20160127: 342,
 20160128: 343,
 20160129: 344,
 20160130: 345,
 20160131: 346,
 20160201: 347,
 20160202: 348,
 20160203: 349,
 20160204: 350,
 20160205: 351,
 20160206: 352,
 20160207: 353,
 20160208: 354,
 20160209: 355,
 20160210: 356,
 20160211: 357,
 20160212: 358,
 20160213: 359,
 20160214: 360,
 20160215: 361,
 20160216: 362,
 20160217: 363,
 20160218: 364,
 20160219: 365,
 20160220: 366,
 20160221: 367,
 20160222: 368,
 20160223: 369,
 20160224: 370,
 20160225: 371,
 20160226: 372,
 20160227: 373,
 20160228: 374,
 20160229: 375,
 20160301: 376,
 20160302: 377,
 20160303: 378,
 20160304: 379,
 20160305: 380,
 20160306: 381,
 20160307: 382,
 20160308: 383,
 20160309: 384,
 20160310: 385,
 20160311: 386,
 20160312: 387,
 20160313: 388,
 20160314: 389,
 20160315: 390,
 20160316: 391,
 20160317: 392,
 20160318: 393,
 20160319: 394,
 20160320: 395,
 20160321: 396,
 20160322: 397,
 20160323: 398,
 20160324: 399,
 20160325: 400,
 20160326: 401,
 20160327: 402,
 20160328: 403,
 20160329: 404,
 20160330: 405,
 20160331: 406,
 20160401: 407,
 20160402: 408,
 20160403: 409,
 20160404: 410,
 20160405: 411,
 20160406: 412,
 20160407: 413,
 20160408: 414,
 20160409: 415,
 20160410: 416,
 20160411: 417,
 20160412: 418,
 20160413: 419,
 20160414: 420,
 20160415: 421,
 20160416: 422,
 20160417: 423,
 20160418: 424,
 20160419: 425,
 20160420: 426,
 20160421: 427,
 20160422: 428,
 20160423: 429,
 20160424: 430,
 20160425: 431,
 20160426: 432,
 20160427: 433,
 20160428: 434,
 20160429: 435,
 20160430: 436,
 20160501: 437,
 20160502: 438,
 20160503: 439,
 20160504: 440,
 20160505: 441,
 20160506: 442,
 20160507: 443,
 20160508: 444,
 20160509: 445,
 20160510: 446,
 20160511: 447,
 20160512: 448,
 20160513: 449,
 20160514: 450,
 20160515: 451,
 20160516: 452,
 20160517: 453,
 20160518: 454,
 20160519: 455,
 20160520: 456,
 20160521: 457,
 20160522: 458,
 20160523: 459,
 20160524: 460,
 20160525: 461,
 20160526: 462,
 20160527: 463,
 20160528: 464,
 20160529: 465,
 20160530: 466,
 20160531: 467,
 20160601: 468,
 20160602: 469,
 20160603: 470,
 20160604: 471,
 20160605: 472,
 20160606: 473,
 20160607: 474,
 20160608: 475,
 20160609: 476,
 20160610: 477,
 20160611: 478,
 20160612: 479,
 20160613: 480,
 20160614: 481,
 20160615: 482,
 20160616: 483,
 20160617: 484,
 20160618: 485,
 20160619: 486,
 20160620: 487,
 20160621: 488,
 20160622: 489,
 20160623: 490,
 20160624: 491,
 20160625: 492,
 20160626: 493,
 20160627: 494,
 20160628: 495,
 20160629: 496,
 20160630: 497,
 20160701: 498,
 20160702: 499,
 20160703: 500,
 20160704: 501,
 20160705: 502,
 20160706: 503,
 20160707: 504,
 20160708: 505,
 20160709: 506,
 20160710: 507,
 20160711: 508,
 20160712: 509,
 20160713: 510,
 20160714: 511,
 20160715: 512,
 20160716: 513,
 20160717: 514,
 20160718: 515,
 20160719: 516,
 20160720: 517,
 20160721: 518,
 20160722: 519,
 20160723: 520,
 20160724: 521,
 20160725: 522,
 20160726: 523,
 20160727: 524,
 20160728: 525,
 20160729: 526,
 20160730: 527,
 20160731: 528,
 20160801: 529,
 20160802: 530,
 20160803: 531,
 20160804: 532,
 20160805: 533,
 20160806: 534,
 20160807: 535,
 20160808: 536,
 20160809: 537,
 20160810: 538,
 20160811: 539,
 20160812: 540,
 20160813: 541,
 20160814: 542,
 20160815: 543,
 20160816: 544,
 20160817: 545,
 20160818: 546,
 20160819: 547,
 20160820: 548,
 20160821: 549,
 20160822: 550,
 20160823: 551,
 20160824: 552,
 20160825: 553,
 20160826: 554,
 20160827: 555,
 20160828: 556,
 20160829: 557,
 20160830: 558,
 20160831: 559,
 20160901: 560,
 20160902: 561,
 20160903: 562,
 20160904: 563,
 20160905: 564,
 20160906: 565,
 20160907: 566,
 20160908: 567,
 20160909: 568,
 20160910: 569,
 20160911: 570,
 20160912: 571,
 20160913: 572,
 20160914: 573,
 20160915: 574,
 20160916: 575,
 20160917: 576,
 20160918: 577,
 20160919: 578,
 20160920: 579,
 20160921: 580,
 20160922: 581,
 20160923: 582,
 20160924: 583,
 20160925: 584,
 20160926: 585,
 20160927: 586,
 20160928: 587,
 20160929: 588,
 20160930: 589,
 20161001: 590,
 20161002: 591,
 20161003: 592,
 20161004: 593,
 20161005: 594,
 20161006: 595,
 20161007: 596,
 20161008: 597,
 20161009: 598,
 20161010: 599,
 20161011: 600,
 20161012: 601,
 20161013: 602,
 20161014: 603,
 20161015: 604,
 20161016: 605,
 20161017: 606,
 20161018: 607,
 20161019: 608,
 20161020: 609,
 20161021: 610,
 20161022: 611,
 20161023: 612,
 20161024: 613,
 20161025: 614,
 20161026: 615,
 20161027: 616,
 20161028: 617,
 20161029: 618,
 20161030: 619,
 20161031: 620,
 20161101: 621,
 20161102: 622,
 20161103: 623,
 20161104: 624,
 20161105: 625,
 20161106: 626,
 20161107: 627,
 20161108: 628,
 20161109: 629,
 20161110: 630,
 20161111: 631,
 20161112: 632,
 20161113: 633,
 20161114: 634,
 20161115: 635,
 20161116: 636,
 20161117: 637,
 20161118: 638,
 20161119: 639,
 20161120: 640,
 20161121: 641,
 20161122: 642,
 20161123: 643,
 20161124: 644,
 20161125: 645,
 20161126: 646,
 20161127: 647,
 20161128: 648,
 20161129: 649,
 20161130: 650,
 20161201: 651,
 20161202: 652,
 20161203: 653,
 20161204: 654,
 20161205: 655,
 20161206: 656,
 20161207: 657,
 20161208: 658,
 20161209: 659,
 20161210: 660,
 20161211: 661,
 20161212: 662,
 20161213: 663,
 20161214: 664,
 20161215: 665,
 20161216: 666,
 20161217: 667,
 20161218: 668,
 20161219: 669,
 20161220: 670,
 20161221: 671,
 20161222: 672,
 20161223: 673,
 20161224: 674,
 20161225: 675,
 20161226: 676,
 20161227: 677,
 20161228: 678,
 20161229: 679,
 20161230: 680,
 20161231: 681,
 20170101: 682,
 20170102: 683,
 20170103: 684,
 20170104: 685,
 20170105: 686,
 20170106: 687,
 20170107: 688,
 20170108: 689,
 20170109: 690,
 20170110: 691,
 20170111: 692,
 20170112: 693,
 20170113: 694,
 20170114: 695,
 20170115: 696,
 20170116: 697,
 20170117: 698,
 20170118: 699,
 20170119: 700,
 20170120: 701,
 20170121: 702,
 20170122: 703,
 20170123: 704,
 20170124: 705,
 20170125: 706,
 20170126: 707,
 20170127: 708,
 20170128: 709,
 20170129: 710,
 20170130: 711,
 20170131: 712,
 20170201: 713,
 20170202: 714,
 20170203: 715,
 20170204: 716,
 20170205: 717,
 20170206: 718,
 20170207: 719,
 20170208: 720,
 20170209: 721,
 20170210: 722,
 20170211: 723,
 20170212: 724,
 20170213: 725,
 20170214: 726,
 20170215: 727,
 20170216: 728,
 20170217: 729,
 20170218: 730,
 20170219: 731,
 20170220: 732,
 20170221: 733,
 20170222: 734,
 20170223: 735,
 20170224: 736,
 20170225: 737,
 20170226: 738,
 20170227: 739,
 20170228: 740,
 20170301: 741,
 20170302: 742,
 20170303: 743,
 20170304: 744,
 20170305: 745,
 20170306: 746,
 20170307: 747,
 20170308: 748,
 20170309: 749,
 20170310: 750,
 20170311: 751,
 20170312: 752,
 20170313: 753,
 20170314: 754,
 20170315: 755,
 20170316: 756,
 20170317: 757,
 20170318: 758,
 20170319: 759,
 20170320: 760,
 20170321: 761,
 20170322: 762,
 20170323: 763,
 20170324: 764,
 20170325: 765,
 20170326: 766,
 20170327: 767,
 20170328: 768,
 20170329: 769,
 20170330: 770,
 20170331: 771,
 20170401: 772,
 20170402: 773,
 20170403: 774,
 20170404: 775,
 20170405: 776,
 20170406: 777,
 20170407: 778,
 20170408: 779,
 20170409: 780,
 20170410: 781,
 20170411: 782,
 20170412: 783,
 20170413: 784,
 20170414: 785,
 20170415: 786,
 20170416: 787,
 20170417: 788,
 20170418: 789,
 20170419: 790,
 20170420: 791,
 20170421: 792,
 20170422: 793,
 20170423: 794,
 20170424: 795,
 20170425: 796,
 20170426: 797,
 20170427: 798,
 20170428: 799,
 20170429: 800,
 20170430: 801,
 20170501: 802,
 20170502: 803,
 20170503: 804,
 20170504: 805,
 20170505: 806,
 20170506: 807,
 20170507: 808,
 20170508: 809,
 20170509: 810,
 20170510: 811,
 20170511: 812,
 20170512: 813,
 20170513: 814,
 20170514: 815,
 20170515: 816,
 20170516: 817,
 20170517: 818,
 20170518: 819,
 20170519: 820,
 20170520: 821,
 20170521: 822,
 20170522: 823,
 20170523: 824,
 20170524: 825,
 20170525: 826,
 20170526: 827,
 20170527: 828,
 20170528: 829,
 20170529: 830,
 20170530: 831,
 20170531: 832,
 20170601: 833,
 20170602: 834,
 20170603: 835,
 20170604: 836,
 20170605: 837,
 20170606: 838,
 20170607: 839,
 20170608: 840,
 20170609: 841,
 20170610: 842,
 20170611: 843,
 20170612: 844,
 20170613: 845,
 20170614: 846,
 20170615: 847,
 20170616: 848,
 20170617: 849,
 20170618: 850,
 20170619: 851,
 20170620: 852,
 20170621: 853,
 20170622: 854,
 20170623: 855,
 20170624: 856,
 20170625: 857,
 20170626: 858,
 20170627: 859,
 20170628: 860,
 20170629: 861,
 20170630: 862,
 20170701: 863,
 20170702: 864,
 20170703: 865,
 20170704: 866,
 20170705: 867,
 20170706: 868,
 20170707: 869,
 20170708: 870,
 20170709: 871,
 20170710: 872,
 20170711: 873,
 20170712: 874,
 20170713: 875,
 20170714: 876,
 20170715: 877,
 20170716: 878,
 20170717: 879,
 20170718: 880,
 20170719: 881,
 20170720: 882,
 20170721: 883,
 20170722: 884,
 20170723: 885,
 20170724: 886,
 20170725: 887,
 20170726: 888,
 20170727: 889,
 20170728: 890,
 20170729: 891,
 20170730: 892,
 20170731: 893,
 20170801: 894,
 20170802: 895,
 20170803: 896,
 20170804: 897,
 20170805: 898,
 20170806: 899,
 20170807: 900,
 20170808: 901,
 20170809: 902,
 20170810: 903,
 20170811: 904,
 20170812: 905,
 20170813: 906,
 20170814: 907,
 20170815: 908,
 20170816: 909,
 20170817: 910,
 20170818: 911,
 20170819: 912,
 20170820: 913,
 20170821: 914,
 20170822: 915,
 20170823: 916,
 20170824: 917,
 20170825: 918,
 20170826: 919,
 20170827: 920,
 20170828: 921,
 20170829: 922,
 20170830: 923,
 20170831: 924,
 20170901: 925,
 20170902: 926,
 20170903: 927,
 20170904: 928,
 20170905: 929,
 20170906: 930,
 20170907: 931,
 20170908: 932,
 20170909: 933,
 20170910: 934,
 20170911: 935,
 20170912: 936,
 20170913: 937,
 20170914: 938,
 20170915: 939,
 20170916: 940,
 20170917: 941,
 20170918: 942,
 20170919: 943,
 20170920: 944,
 20170921: 945,
 20170922: 946,
 20170923: 947,
 20170924: 948,
 20170925: 949,
 20170926: 950,
 20170927: 951,
 20170928: 952,
 20170929: 953,
 20170930: 954,
 20171001: 955,
 20171002: 956,
 20171003: 957,
 20171004: 958,
 20171005: 959,
 20171006: 960,
 20171007: 961,
 20171008: 962,
 20171009: 963,
 20171010: 964,
 20171011: 965,
 20171012: 966,
 20171013: 967,
 20171014: 968,
 20171015: 969,
 20171016: 970,
 20171017: 971,
 20171018: 972,
 20171019: 973,
 20171020: 974,
 20171021: 975,
 20171022: 976,
 20171023: 977,
 20171024: 978,
 20171025: 979,
 20171026: 980,
 20171027: 981,
 20171028: 982,
 20171029: 983,
 20171030: 984,
 20171031: 985,
 20171101: 986,
 20171102: 987,
 20171103: 988,
 20171104: 989,
 20171105: 990,
 20171106: 991,
 20171107: 992,
 20171108: 993,
 20171109: 994,
 20171110: 995,
 20171111: 996,
 20171112: 997,
 20171113: 998,
 20171114: 999,
 ...}

In [106]:
test_max_date = filtered_ces_df['day'].max()
test_min_date = test_max_date-10000+1 # one year
val_max_date = test_min_date - 1
val_min_date = val_max_date-10000+1 # one year
train_max_date = val_min_date-1

In [107]:
train_max_date

20200317

In [108]:
# split ces
ceid2centertimid = {}
for ceid, valid_ce in enumerate(valid_ces):
    unique_timids = list(valid_ce['timid'].unique())
    timid_sum = 0
    for timid in unique_timids:
        timid_sum += timid * len(valid_ce[valid_ce['timid']==timid])
    centertimid = timid_sum*1.0/len(valid_ce)
    ceid2centertimid[ceid] = centertimid

In [109]:
ceid2centertimid

{0: 1813.640522875817,
 1: 1828.637254901961,
 2: 1830.6339869281046,
 3: 1833.0326797385621,
 4: 1835.7189542483661,
 5: 1838.5882352941176,
 6: 1840.7875816993464,
 7: 1842.7810457516339,
 8: 1845.0196078431372,
 9: 1847.264705882353,
 10: 1851.0424836601308,
 11: 1854.0718954248366,
 12: 1857.4738562091504,
 13: 1862.1568627450981,
 14: 1867.0947712418301,
 15: 1871.9346405228757,
 16: 1880.7810457516339,
 17: 1891.7908496732025,
 18: 1905.1568627450981,
 19: 1926.9411764705883,
 20: 1951.3692810457517,
 21: 1969.1503267973856,
 22: 1990.6827309236949,
 23: 229.8986928104575,
 24: 239.63398692810458,
 25: 251.7058823529412,
 26: 267.72549019607845,
 27: 284.31045751633985,
 28: 306.91830065359477,
 29: 319.062091503268,
 30: 327.2156862745098,
 31: 334.44117647058823,
 32: 345.94444444444446,
 33: 361.77777777777777,
 34: 383.2287581699346,
 35: 397.75,
 36: 2112.8529411764707,
 37: 2132.2549019607845,
 38: 2151.875816993464,
 39: 2167.3823529411766,
 40: 2185.4346405228757,
 41: 2197.6013071895427,
 42: 2225.2843137254904,
 43: 2258.7954545454545,
 44: 834.8039215686274,
 45: 838.8398692810457,
 46: 843.5751633986928,
 47: 854.8137254901961,
 48: 866.7058823529412,
 49: 877.7058823529412,
 50: 897.4346405228758,
 51: 938.2205882352941,
 52: 2316.421568627451,
 53: 2355.8366013071895,
 54: 2385.421568627451,
 55: 2437.4771241830067,
 56: 2482.3071895424837,
 57: 2514.2156862745096,
 58: 1597.686274509804,
 59: 1602.2418300653594,
 60: 1605.954248366013,
 61: 1611.5065359477123,
 62: 1613.2091503267975,
 63: 1614.937908496732,
 64: 1619.3856209150326,
 65: 1624.0377358490566,
 66: 672.4248366013072,
 67: 674.2385620915032,
 68: 675.5882352941177,
 69: 677.5196078431372,
 70: 678.9607843137255,
 71: 683.5522875816994,
 72: 693.0,
 73: 318.1732026143791,
 74: 319.16339869281046,
 75: 320.9673202614379,
 76: 322.76143790849676,
 77: 325.2516339869281,
 78: 331.62091503267976,
 79: 347.980198019802,
 80: 794.9375,
 81: 957.1923076923077,
 82: 1030.5778894472362,
 83: 1108.7005649717514,
 84: 1186.265625,
 85: 1285.7857142857142,
 86: 1347.0933333333332,
 87: 1429.281690140845,
 88: 1508.5329949238578,
 89: 1603.6149068322982,
 90: 1666.131868131868,
 91: 1752.0108695652175,
 92: 1825.8615384615384,
 93: 1923.7553191489362,
 94: 2002.295918367347,
 95: 2094.1875,
 96: 2146.5675675675675,
 97: 2248.56338028169,
 98: 2305.4285714285716,
 99: 2393.769230769231,
 100: 2467.3333333333335,
 101: 2566.391304347826,
 102: 1779.362745098039,
 103: 1780.0196078431372,
 104: 1781.251633986928,
 105: 1782.5228758169935,
 106: 1784.9084967320262,
 107: 1790.2465277777778,
 108: 32.76470588235294,
 109: 39.18300653594771,
 110: 48.705882352941174,
 111: 57.83660130718954,
 112: 80.29304029304029,
 113: 1486.235294117647,
 114: 1491.813725490196,
 115: 1493.1274509803923,
 116: 1495.045751633987,
 117: 1496.359477124183,
 118: 1497.7712418300653,
 119: 1501.3235294117646,
 120: 1510.2446808510638,
 121: 711.7516339869281,
 122: 714.1830065359477,
 123: 716.5424836601308,
 124: 720.4117647058823,
 125: 730.9215686274509,
 126: 754.9504504504505,
 127: 1795.326797385621,
 128: 1801.8496732026144,
 129: 1803.6633986928105,
 130: 1804.7156862745098,
 131: 1805.7941176470588,
 132: 1810.375816993464,
 133: 1817.1699346405228,
 134: 1823.7301587301588,
 135: 4.235294117647059,
 136: 9.470588235294118,
 137: 11.931372549019608,
 138: 22.326797385620914,
 139: 29.934640522875817,
 140: 34.50653594771242,
 141: 44.28,
 142: 1.6633986928104576,
 143: 9.72875816993464,
 144: 21.26143790849673,
 145: 27.30718954248366,
 146: 34.89869281045752,
 147: 39.06535947712418,
 148: 43.91830065359477,
 149: 53.64705882352941,
 150: 2547.251633986928,
 151: 2563.140522875817,
 152: 2566.470588235294,
 153: 2570.3366013071895,
 154: 2574.7843137254904,
 155: 2580.153594771242,
 156: 1930.2908496732025,
 157: 1946.1274509803923,
 158: 1962.3986928104575,
 159: 1978.8986928104575,
 160: 1988.1363636363637,
 161: 1833.1503267973856,
 162: 1849.9607843137255,
 163: 1873.4281045751634,
 164: 1907.409756097561,
 165: 2103.483660130719,
 166: 2149.627450980392,
 167: 2166.7712418300653,
 168: 2183.274509803922,
 169: 2212.970588235294,
 170: 2264.9150326797385,
 171: 2329.2073170731705,
 172: 2168.591503267974,
 173: 2212.421568627451,
 174: 2240.545751633987,
 175: 2276.3823529411766,
 176: 2308.3627450980393,
 177: 2328.6045751633987,
 178: 2349.8947368421054,
 179: 2311.450980392157,
 180: 2352.552287581699,
 181: 2393.7712418300653,
 182: 2440.049019607843,
 183: 2474.7258064516127,
 184: 777.8235294117648,
 185: 780.3954248366013,
 186: 787.0228758169935,
 187: 798.3913043478261,
 188: 6.23202614379085,
 189: 13.552287581699346,
 190: 37.1437908496732,
 191: 46.39542483660131,
 192: 67.24369747899159,
 193: 2555.3954248366013,
 194: 2572.8954248366013,
 195: 2581.6769230769232,
 196: 1669.4117647058824,
 197: 1671.5359477124182,
 198: 1673.6045751633987,
 199: 1679.232142857143,
 200: 1638.3529411764705,
 201: 1641.9183006535948,
 202: 1651.2712418300653,
 203: 1662.3308823529412,
 204: 1785.7712418300653,
 205: 1787.6764705882354,
 206: 1791.4015748031495,
 207: 2551.6045751633987,
 208: 2565.467320261438,
 209: 2572.7091503267975,
 210: 2579.3071895424837,
 211: 2582.7831325301204,
 212: 643.9673202614379,
 213: 703.6045751633987,
 214: 739.5932203389831,
 215: 1307.3039215686274,
 216: 1309.173202614379,
 217: 1311.4411764705883,
 218: 1315.421052631579,
 219: 2160.9411764705883,
 220: 2212.1797385620916,
 221: 2286.23125,
 222: 2332.521739130435,
 223: 567.7418300653595,
 224: 624.5392156862745,
 225: 653.6370967741935,
 226: 2002.3071895424837,
 227: 2004.1830065359477,
 228: 2007.2124183006536,
 229: 2011.6774193548388,
 230: 1021.7843137254902,
 231: 1027.3823529411766,
 232: 1036.620338983051,
 233: 1647.862745098039,
 234: 1651.013071895425,
 235: 1655.1143790849674,
 236: 1659.828,
 237: 1763.5980392156862,
 238: 1781.0261437908496,
 239: 1792.6830065359477,
 240: 1814.0348837209303,
 241: 992.0424836601308,
 242: 1002.0130718954248,
 243: 1012.9664804469273,
 244: 138.65032679738562,
 245: 151.62745098039215,
 246: 178.96732026143792,
 247: 224.33333333333334,
 248: 1335.6274509803923,
 249: 1350.9575163398692,
 250: 1371.7446808510638,
 251: 1478.7091503267975,
 252: 1492.1928104575163,
 253: 1499.5853658536585,
 254: 2368.8039215686276,
 255: 2378.856209150327,
 256: 2396.5585585585586,
 257: 1848.68954248366,
 258: 1864.2614379084966,
 259: 1880.2385620915034,
 260: 1897.6,
 261: 1509.1307189542483,
 262: 1512.9444444444443,
 263: 1526.71,
 264: 1077.0555555555557,
 265: 1093.2549019607843,
 266: 1123.5703125,
 267: 1931.375816993464,
 268: 1955.016339869281,
 269: 1977.4313725490197,
 270: 2009.903409090909,
 271: 1146.4901960784314,
 272: 1151.408695652174,
 273: 904.0798122065728,
 274: 960.7019607843138,
 275: 1037.125,
 276: 1018.9542483660131,
 277: 1021.9673202614379,
 278: 1026.121212121212,
 279: 563.5457516339869,
 280: 571.1960784313726,
 281: 584.7731092436975,
 282: 2346.8627450980393,
 283: 2356.0392156862745,
 284: 2359.3039215686276,
 285: 2369.846846846847,
 286: 541.0686274509804,
 287: 553.3552631578947,
 288: 454.5689655172414,
 289: 539.5813953488372,
 290: 615.2357723577236,
 291: 693.016447368421,
 292: 775.2857142857143,
 293: 849.8642857142858,
 294: 943.7946428571429,
 295: 2478.450980392157,
 296: 2525.640522875817,
 297: 2566.1015625,
 298: 1669.0424836601308,
 299: 1677.950980392157,
 300: 1688.3563218390805,
 301: 1997.5032679738563,
 302: 2007.6143790849674,
 303: 2012.146551724138,
 304: 1384.859477124183,
 305: 1392.4084967320262,
 306: 1402.0338983050847,
 307: 491.6928104575163,
 308: 494.08496732026146,
 309: 496.73202614379085,
 310: 503.44827586206895,
 311: 1172.0294117647059,
 312: 1179.8660130718954,
 313: 1181.8978494623657,
 314: 1575.248366013072,
 315: 1576.9967320261437,
 316: 1580.1213235294117,
 317: 29.075163398692812,
 318: 98.53097345132744,
 319: 159.58333333333334,
 320: 1400.4117647058824,
 321: 1415.0915032679738,
 322: 1431.4117647058824,
 323: 1267.5666666666666,
 324: 1358.076923076923,
 325: 1468.9722222222222,
 326: 1546.342105263158,
 327: 1616.1818181818182,
 328: 1705.28125,
 329: 1783.4074074074074,
 330: 1875.5555555555557,
 331: 2018.121212121212,
 332: 2105.1,
 333: 2183.4761904761904,
 334: 2292.6666666666665,
 335: 2366.9310344827586,
 336: 2565.5833333333335,
 337: 2357.6774193548385,
 338: 2436.1153846153848,
 339: 2519.10582010582,
 340: 2567.3015873015875,
 341: 1086.375816993464,
 342: 1088.7385620915034,
 343: 1095.8108108108108,
 344: 445.5359477124183,
 345: 463.90849673202615,
 346: 486.8232558139535,
 347: 1020.624183006536,
 348: 1023.4396551724138,
 349: 120.66339869281046,
 350: 134.66666666666666,
 351: 141.8639455782313,
 352: 1638.013071895425,
 353: 1640.1045751633987,
 354: 1642.9928571428572,
 355: 1780.5424836601308,
 356: 1785.0871369294605,
 357: 1094.1666666666667,
 358: 1113.484662576687,
 359: 2227.6633986928105,
 360: 2259.614503816794,
 361: 1984.5424836601308,
 362: 1994.1437908496732,
 363: 2017.5,
 364: 1397.1339869281046,
 365: 1412.549019607843,
 366: 1426.006134969325,
 367: 1712.862745098039,
 368: 1769.0424836601308,
 369: 1786.8562091503268,
 370: 1800.5,
 371: 2387.3939393939395,
 372: 2459.866666666667,
 373: 2513.6607929515417,
 374: 700.8071895424837,
 375: 717.5032679738562,
 376: 758.9462365591398,
 377: 1314.9281045751634,
 378: 1322.1143790849674,
 379: 1303.954248366013,
 380: 1314.6045751633987,
 381: 1319.0798122065728,
 382: 790.6111111111111,
 383: 807.2614379084968,
 384: 823.8297872340426,
 385: 2412.3333333333335,
 386: 2488.8714285714286,
 387: 2534.7735849056603,
 388: 2031.2875816993464,
 389: 2034.5555555555557,
 390: 2036.2857142857142,
 391: 944.2614379084968,
 392: 954.5686274509804,
 393: 952.0424836601308,
 394: 964.3692307692307,
 395: 50.89869281045752,
 396: 70.3609756097561,
 397: 1804.8725490196077,
 398: 1826.7551020408164,
 399: 2463.6013071895427,
 400: 2476.7712418300653,
 401: 2488.196506550218,
 402: 16.80065359477124,
 403: 24.238578680203045,
 404: 1034.7189542483661,
 405: 1038.1717791411043,
 406: 770.3986928104575,
 407: 815.7252747252747,
 408: 1117.6764705882354,
 409: 1132.0,
 410: 1139.4782608695652,
 411: 811.0130718954248,
 412: 843.7679738562091,
 413: 864.2682926829268,
 414: 1209.2961672473868,
 415: 1277.280612244898,
 416: 1339.030303030303,
 417: 586.218954248366,
 418: 596.670731707317,
 419: 1536.1666666666667,
 420: 1543.2125,
 421: 24.464052287581698,
 422: 35.36190476190476,
 423: 2533.673202614379,
 424: 2558.8071895424837,
 425: 2576.223214285714,
 426: 1557.5882352941176,
 427: 1584.545751633987,
 428: 1603.1879194630872,
 429: 2283.47385620915,
 430: 2290.823529411765,
 431: 2297.84765625,
 432: 457.1437908496732,
 433: 470.2628205128205,
 434: 1508.2745098039215,
 435: 1519.4088050314465,
 436: 1082.9738562091504,
 437: 1093.1855670103093,
 438: 328.87254901960785,
 439: 347.09589041095893,
 440: 1569.990909090909,
 441: 1615.9084967320262,
 442: 1659.1574074074074,
 443: 1566.1601307189542,
 444: 1574.8725490196077,
 445: 1637.5555555555557,
 446: 1684.75,
 447: 226.83660130718954,
 448: 248.8342245989305,
 449: 2034.611111111111,
 450: 2054.6013986013986,
 451: 1763.6274509803923,
 452: 1775.6928104575163,
 453: 1811.297619047619,
 454: 1725.748366013072,
 455: 1743.7730061349694,
 456: 1574.0718954248366,
 457: 1593.7222222222222,
 458: 1610.0294117647059,
 459: 1916.3988764044943,
 460: 2005.9011627906978,
 461: 1097.6335616438357,
 462: 1168.3877551020407,
 463: 2453.5130718954247,
 464: 2501.1181818181817,
 465: 1029.8496732026144,
 466: 1048.8051948051948,
 467: 1297.8366013071895,
 468: 1309.787456445993,
 469: 718.4878048780488,
 470: 758.2439024390244,
 471: 1241.0522875816994,
 472: 1252.1527777777778,
 473: 720.0915032679738,
 474: 747.7290969899666,
 475: 1439.075163398693,
 476: 1464.060606060606,
 477: 1697.551515151515,
 478: 1774.985815602837,
 479: 1824.5,
 480: 1511.1143790849674,
 481: 1552.98,
 482: 2297.153594771242,
 483: 2307.4086956521737,
 484: 1310.2908496732025,
 485: 1320.3222222222223,
 486: 1730.9705882352941,
 487: 1759.6422764227643,
 488: 829.2352941176471,
 489: 861.6721854304636,
 490: 260.25816993464053,
 491: 271.6333333333333,
 492: 267.84640522875816,
 493: 290.7185628742515,
 494: 2023.3366013071895,
 495: 2074.15,
 496: 1648.6993464052287,
 497: 1675.6143790849674,
 498: 1686.1803278688524,
 499: 1490.8169934640523,
 500: 1498.1837606837607,
 501: 1194.575163398693,
 502: 1215.2769784172663,
 503: 1919.2581699346406,
 504: 1951.248366013072,
 505: 1986.5,
 506: 1185.2385620915034,
 507: 1203.36690647482,
 508: 1378.9310344827586,
 509: 1455.6830065359477,
 510: 1462.8071895424837,
 511: 1479.915254237288,
 512: 1173.7777777777778,
 513: 1178.556179775281,
 514: 1599.9739130434782,
 515: 1539.937908496732,
 516: 1550.0827586206897,
 517: 1456.673202614379,
 518: 1479.0119047619048,
 519: 1996.0842696629213,
 520: 2041.7833333333333,
 521: 302.1830065359477,
 522: 312.61764705882354,
 523: 329.03370786516854,
 524: 250.6437908496732,
 525: 261.2091503267974,
 526: 272.88235294117646,
 527: 1654.5032679738563,
 528: 1677.764705882353,
 529: 1695.5882352941176,
 530: 1706.404761904762,
 531: 1183.375816993464,
 532: 1232.76,
 533: 1391.0,
 534: 1489.52,
 535: 1570.4166666666667,
 536: 1668.0,
 537: 1756.8260869565217,
 538: 1853.2222222222222,
 539: 1987.3461538461538,
 540: 2055.766666666667,
 541: 2152.7894736842104,
 542: 2272.5178571428573,
 543: 2378.125,
 544: 2474.909090909091,
 545: 2546.3636363636365,
 546: 881.5686274509804,
 547: 889.3354838709678,
 548: 1330.235294117647,
 549: 1337.7464114832535,
 550: 171.64814814814815,
 551: 258.27272727272725,
 552: 342.52272727272725,
 553: 429.57142857142856,
 554: 530.9019607843137,
 555: 672.9411764705883,
 556: 726.6875,
 557: 827.7586206896551,
 558: 894.85,
 559: 1009.3142857142857,
 560: 1077.3103448275863,
 561: 1169.7272727272727,
 562: 1225.2916666666667,
 563: 881.3823529411765,
 564: 903.9045801526718,
 565: 1647.6503267973856,
 566: 1657.625641025641,
 567: 829.9037037037037,
 568: 865.8398692810457,
 569: 872.7105263157895,
 570: 1582.4673202614379,
 571: 1585.8785046728972,
 572: 887.1928104575163,
 573: 894.0650406504066,
 574: 2275.169934640523,
 575: 2281.149606299213,
 576: 2372.042735042735,
 577: 2437.110294117647,
 578: 2497.3037974683543,
 579: 224.95890410958904,
 580: 2005.619718309859,
 581: 69.81699346405229,
 582: 92.7,
 583: 1678.6960784313726,
 584: 1705.8366013071895,
 585: 1720.7971698113208,
 586: 883.3529411764706,
 587: 895.2586206896551,
 588: 1553.1143790849674,
 589: 1569.3181818181818,
 590: 1559.2124183006536,
 591: 1581.1818181818182,
 592: 851.1418439716313,
 593: 920.25,
 594: 630.1372549019608,
 595: 639.2747252747253,
 596: 53.69281045751634,
 597: 61.08670520231214,
 598: 573.09477124183,
 599: 581.3135593220339,
 600: 710.9477124183006,
 601: 717.425925925926,
 602: 1249.7549019607843,
 603: 1252.8882352941177,
 604: 1171.924836601307,
 605: 1188.75,
 606: 359.536231884058,
 607: 2130.9690721649486,
 608: 2186.048780487805,
 609: 2133.8571428571427,
 610: 2199.0680272108843,
 611: 2250.5238095238096,
 612: 2476.6666666666665,
 613: 2499.218954248366,
 614: 373.05333333333334,
 615: 1382.3431372549019,
 616: 1405.4509090909091,
 617: 1405.8202614379086,
 618: 1414.0033783783783,
 619: 1177.748366013072,
 620: 1185.0833333333333,
 621: 2552.6601307189544,
 622: 2578.3362068965516,
 623: 1243.5947712418301,
 624: 1260.7684210526315,
 625: 1733.9117647058824,
 626: 1737.3428571428572,
 627: 1068.1307189542483,
 628: 1102.909090909091,
 629: 840.2714285714286,
 630: 882.077922077922,
 631: 2260.643790849673,
 632: 2310.6,
 633: 1277.1193181818182,
 634: 1326.4827586206898,
 635: 1833.326797385621,
 636: 1839.6486486486488,
 637: 2044.0786026200874,
 638: 958.5915032679738,
 639: 975.6592920353983,
 640: 1289.3856209150326,
 641: 1303.8245614035088,
 642: 356.1862745098039,
 643: 390.05555555555554,
 644: 2057.8660130718954,
 645: 2089.772151898734,
 646: 2180.75,
 647: 1269.6601307189542,
 648: 1288.3163265306123,
 649: 2194.625,
 650: 2219.21875,
 651: 691.8986928104575,
 652: 720.9428571428572,
 653: 2285.5653594771243,
 654: 2310.4285714285716,
 655: 2452.730769230769,
 656: 2524.1832061068703,
 657: 1246.7714285714285,
 658: 1329.4878048780488,
 659: 1407.52,
 660: 1512.4949494949494,
 661: 1580.85,
 662: 199.77822580645162,
 663: 710.8725490196078,
 664: 722.9148936170212,
 665: 331.01633986928107,
 666: 336.7926829268293,
 667: 2235.722222222222,
 668: 2242.2385620915034,
 669: 2263.5906976744186,
 670: 999.7254901960785,
 671: 1015.1685393258427,
 672: 2065.892156862745,
 673: 2071.7582417582416,
 674: 934.9346405228758,
 675: 958.7586206896551,
 676: 1810.937908496732,
 677: 1823.3133333333333,
 678: 1443.5598591549297,
 679: 1612.0915032679738,
 680: 1616.6666666666667,
 681: 942.5333333333333,
 682: 1031.679487179487,
 683: 1083.6964285714287,
 684: 1203.8510638297873,
 685: 1260.2592592592594,
 686: 409.4542483660131,
 687: 424.61052631578946,
 688: 1029.9117647058824,
 689: 1039.3333333333333,
 690: 222.96677740863788,
 691: 2417.748366013072,
 692: 2489.1573033707864,
 693: 219.90683229813664,
 694: 296.9183673469388,
 695: 1265.637254901961,
 696: 1279.8857142857144,
 697: 693.3398692810457,
 698: 697.1333333333333,
 699: 2181.401960784314,
 700: 2197.158620689655,
 701: 2210.447852760736,
 702: 2256.518292682927,
 703: 1295.9183006535948,
 704: 1308.75,
 705: 2193.052287581699,
 706: 2202.7727272727275,
 707: 566.725,
 708: 2014.921568627451,
 709: 2029.1153846153845,
 710: 2276.1633986928105,
 711: 2286.6470588235293,
 712: 1580.8986928104575,
 713: 1593.0821917808219,
 714: 2108.7124183006536,
 715: 2113.2953020134228,
 716: 2305.1830065359477,
 717: 2334.318181818182,
 718: 371.56,
 719: 1182.254295532646,
 720: 605.283105022831,
 721: 1232.359477124183,
 722: 1248.7586206896551,
 723: 1392.8944444444444,
 724: 965.2941176470588,
 725: 969.7413793103449,
 726: 489.43065693430657,
 727: 554.5555555555555,
 728: 616.7887323943662,
 729: 1288.5816993464052,
 730: 1302.531914893617,
 731: 1736.9313725490197,
 732: 1754.232142857143,
 733: 1889.9117647058824,
 734: 1913.16,
 735: 1552.640522875817,
 736: 1584.8125,
 737: 2178.532679738562,
 738: 2204.902255639098,
 739: 1166.454248366013,
 740: 1170.1724137931035,
 741: 2308.4883720930234,
 742: 2392.1063829787236,
 743: 1722.9,
 744: 1787.142857142857,
 745: 1843.5357142857142,
 746: 438.63398692810455,
 747: 458.46153846153845,
 748: 812.9967320261438,
 749: 851.4561403508771,
 750: 2019.1274509803923,
 751: 2024.2970297029703,
 752: 2178.202614379085,
 753: 2193.029411764706,
 754: 1630.0882352941176,
 755: 1644.7373737373737,
 756: 225.63071895424838,
 757: 650.7385620915032,
 758: 660.7,
 759: 1331.7633587786258,
 760: 1350.9058823529413,
 761: 821.1111111111111,
 762: 1245.0179856115108,
 763: 1450.384879725086,
 764: 331.8071895424837,
 765: 349.4,
 766: 1196.0393013100436,
 767: 803.2973856209151,
 768: 812.6333333333333,
 769: 432.58169934640523,
 770: 450.3495145631068,
 771: 398.37908496732024,
 772: 404.9320987654321,
 773: 1587.2551724137932,
 774: 549.6045751633987,
 775: 555.804347826087,
 776: 984.4444444444445,
 777: 989.2708333333334,
 778: 1456.6808510638298,
 779: 1516.125,
 780: 694.3835125448029,
 781: 1327.4354243542437,
 782: 889.7189189189189,
 783: 1048.2843137254902,
 784: 1478.5424836601308,
 785: 1483.7252747252746,
 786: 2282.0620915032678,
 787: 2287.8947368421054,
 788: 1559.0460992907801,
 789: 1973.013071895425,
 790: 1998.820143884892,
 791: 1673.8529411764705,
 792: 1688.8857142857144,
 793: 1230.4901960784314,
 794: 1240.9289099526065,
 795: 761.8267973856209,
 796: 769.2222222222222,
 797: 1552.8398692810458,
 798: 1558.125,
 799: 1269.6016949152543,
 800: 1464.3856209150326,
 801: 1485.58,
 802: 1723.6699346405228,
 803: 1759.1129032258063,
 804: 1429.673202614379,
 805: 1441.3076923076924,
 806: 1124.8454935622317,
 807: 2461.3954248366013,

In [110]:
train_ceids, val_ceids, test_ceids = [], [], []
for ceid, centertimid in ceid2centertimid.items():
    if centertimid <= tim2id[train_max_date]:
        train_ceids.append(ceid)
    elif centertimid >= tim2id[val_min_date] and centertimid <= tim2id[val_max_date]:
        val_ceids.append(ceid)
    else:
        test_ceids.append(ceid)

In [111]:
train_ce_df = pd.concat([valid_ces[ceid] for ceid in train_ceids], ignore_index=True)
val_ce_df = pd.concat([valid_ces[ceid] for ceid in val_ceids], ignore_index=True)
test_ce_df = pd.concat([valid_ces[ceid] for ceid in test_ceids], ignore_index=True)

In [112]:
print(len(train_ceids))
print(len(val_ceids))
print(len(test_ceids))

3561
501
474

In [113]:
train_df = train_ce_df.sort_values(by=['day'], ignore_index=True)
val_df = val_ce_df.sort_values(by=['day'], ignore_index=True)
test_df = test_ce_df.sort_values(by=['day'], ignore_index=True)

In [114]:
# assign new ceids
old_ceids = list(train_df['ce_id'].unique())
mapping = {}
for new_ceid, ceid in enumerate(old_ceids):
    mapping[ceid] = new_ceid
train_df['ce_id'] = [mapping[_] for _ in train_df['ce_id']]

In [115]:
old_ceids = list(val_df['ce_id'].unique())
mapping = {}
for new_ceid, ceid in enumerate(old_ceids):
    mapping[ceid] = new_ceid + max(train_df['ce_id']) + 1
val_df['ce_id'] = [mapping[_] for _ in val_df['ce_id']]

In [116]:
old_ceids = list(test_df['ce_id'].unique())
mapping = {}
for new_ceid, ceid in enumerate(old_ceids):
    mapping[ceid] = new_ceid + max(val_df['ce_id']) + 1
test_df['ce_id'] = [mapping[_] for _ in test_df['ce_id']]

In [117]:
all_df = pd.concat([train_df, val_df, test_df, new_outliers_dedu]).sort_values(by=['day'], ignore_index=True)

In [121]:
# stats
for df in [all_df]:
    print('Total docs')
    md5s = set()
    for md5_list in df['Md5_list']:
        md5s.update(md5_list.split(', '))
    print(len(md5s))
    print('Total events')
    print(len(df))
    print('Number of entities')
    print(len(df['Actor1Name']._append(df['Actor2Name']).unique()))
    print('Number of relations')
    print(len(df['EventCode'].unique()))
    
    df_results = df.groupby(['ce_id']).agg({'timid':['count', 'max','min','mean']})
    df_results.columns = ['n_events', 'nday_max', 'nday_min', 'nday_mean']
    df_results['nday_range'] = df_results['nday_max'] - df_results['nday_min'] + 1
    print(df_results)
    print(df_results.loc[0:, :].mean())
    print(df_results.loc[0:, :].max())
    print(df_results.loc[0:, :].min())

Total docs
273914
Total events
1202269
Number of entities
1557
Number of relations
239
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
-1       628615      2583         0  1242.683421        2584
 0          306         4         0     1.663399           5
 1          306        11         0     6.232026          12
 2           97        29         0    14.443299          30
 3          163        47         0    18.564417          48
...         ...       ...       ...          ...         ...
 4531       116      2583      2574  2578.336207          10
 4532       306      2582      2576  2579.307190           7
 4533       306      2583      2578  2580.153595           6
 4534        65      2583      2581  2581.676923           3
 4535        83      2583      2582  2582.783133           2

[4537 rows x 5 columns]
n_events       126.466931
nday_max      1288.450176
nday_min      1258.580026
nday_mean     1273.305292
nday_range      30.870150
dtype: float64
n_events       306.000000
nday_max      2583.000000
nday_min      2582.000000
nday_mean     2582.783133
nday_range      78.000000
dtype: float64
n_events      10.000000
nday_max       4.000000
nday_min       0.000000
nday_mean      1.663399
nday_range     2.000000
dtype: float64

In [122]:
# stats
for df in [train_df, val_df, test_df, new_outliers_dedu]:
    print('Total docs')
    md5s = set()
    for md5_list in df['Md5_list']:
        md5s.update(md5_list.split(', '))
    print(len(md5s))
    print('Total events')
    print(len(df))
    print('Number of entities')
    print(len(df['Actor1Name']._append(df['Actor2Name']).unique()))
    print('Number of relations')
    print(len(df['EventCode'].unique()))
    
    df_results = df.groupby(['ce_id']).agg({'timid':['count', 'max','min','mean']})
    df_results.columns = ['n_events', 'nday_max', 'nday_min', 'nday_mean']
    df_results['nday_range'] = df_results['nday_max'] - df_results['nday_min'] + 1
    print(df_results)
    print(df_results.loc[:, :].mean())
    print(df_results.loc[:, :].max())
    print(df_results.loc[:, :].min())

Total docs
101487
Total events
441120
Number of entities
1546
Number of relations
233
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
0           306         4         0     1.663399           5
1           306        11         0     6.232026          12
2            97        29         0    14.443299          30
3           163        47         0    18.564417          48
4           188        41         0    18.414894          42
...         ...       ...       ...          ...         ...
3556        300      1856      1844  1850.223333          13
3557        306      1849      1846  1847.264706           4
3558         61      1853      1846  1848.852459           8
3559         51      1854      1847  1849.156863           8
3560        306      1853      1849  1851.042484           5

[3561 rows x 5 columns]
n_events       123.875316
nday_max      1029.642516
nday_min      1000.822803
nday_mean     1014.946187
nday_range      29.819714
dtype: float64
n_events       306.000000
nday_max      1885.000000
nday_min      1849.000000
nday_mean     1851.042484
nday_range      78.000000
dtype: float64
n_events      10.000000
nday_max       4.000000
nday_min       0.000000
nday_mean      1.663399
nday_range     2.000000
dtype: float64
Total docs
14899
Total events
66920
Number of entities
1129
Number of relations
207
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
3561        196      1890      1825  1855.265306          66
3562        122      1904      1829  1876.795082          76
3563         18      1910      1833  1875.555556          78
3564         49      1884      1834  1863.285714          51
3565         54      1877      1839  1865.148148          39
...         ...       ...       ...          ...         ...
4057        164      2223      2204  2211.414634          20
4058         75      2246      2204  2216.573333          43
4059         54      2209      2206  2207.166667           4
4060        179      2219      2212  2213.837989           8
4061         29      2217      2215  2215.551724           3

[501 rows x 5 columns]
n_events       133.572854
nday_max      2058.862275
nday_min      2025.309381
nday_mean     2041.923665
nday_range      34.552894
dtype: float64
n_events       306.0
nday_max      2246.0
nday_min      2215.0
nday_mean     2217.8
nday_range      78.0
dtype: float64
n_events        10.000000
nday_max      1855.000000
nday_min      1825.000000
nday_mean     1854.071895
nday_range       2.000000
dtype: float64
Total docs
13335
Total events
65614
Number of entities
1125
Number of relations
204
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
4062         36      1907      1832  1853.222222          76
4063         57      1869      1847  1853.473684          23
4064        126      2274      2201  2257.904762          74
4065        306      2233      2203  2228.679739          31
4066         71      2280      2203  2248.563380          78
...         ...       ...       ...          ...         ...
4531        116      2583      2574  2578.336207          10
4532        306      2582      2576  2579.307190           7
4533        306      2583      2578  2580.153595           6
4534         65      2583      2581  2581.676923           3
4535         83      2583      2582  2582.783133           2

[474 rows x 5 columns]
n_events       138.426160
nday_max      2418.487342
nday_min      2384.618143
nday_mean     2401.868519
nday_range      34.869198
dtype: float64
n_events       306.000000
nday_max      2583.000000
nday_min      2582.000000
nday_mean     2582.783133
nday_range      78.000000
dtype: float64
n_events        10.000000
nday_max      1869.000000
nday_min      1832.000000
nday_mean     1853.222222
nday_range       2.000000
dtype: float64
Total docs
144356
Total events
628615
Number of entities
1555
Number of relations
231
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
-1       628615      2583         0  1242.683421        2584
n_events      628615.000000
nday_max        2583.000000
nday_min           0.000000
nday_mean       1242.683421
nday_range      2584.000000
dtype: float64
n_events      628615.000000
nday_max        2583.000000
nday_min           0.000000
nday_mean       1242.683421
nday_range      2584.000000
dtype: float64
n_events      628615.000000
nday_max        2583.000000
nday_min           0.000000
nday_mean       1242.683421
nday_range      2584.000000
dtype: float64

In [125]:
for df in [train_df, val_df, test_df, new_outliers_dedu]:
    print(df['day'].min())
    print(df['day'].max())
    print()

20150219
20200418

20200218
20210414

20200225
20220317

20150219
20220317

In [126]:
train_df.to_csv(path_or_buf='./GDELT_ce_train.csv', sep='\t', index=False)
val_df.to_csv(path_or_buf='./GDELT_ce_val.csv', sep='\t', index=False)
test_df.to_csv(path_or_buf='./GDELT_ce_test.csv', sep='\t', index=False)
all_df.to_csv(path_or_buf='./GDELT_ce.csv', sep='\t', index=False)

In [127]:
new_outliers_dedu = new_outliers_dedu.sort_values(by=['day'], ignore_index=True)
new_outliers_dedu.to_csv(path_or_buf='./GDELT_ce_outliers.csv', sep='\t', index=False)

In [ ]:
# filter unseen entity and relation after 20200317

In [128]:
anchor_df = all_df[all_df['day']<=20200317]
anchor_ent = (anchor_df['Actor1Name']._append(anchor_df['Actor2Name'])).unique()
anchor_rel = anchor_df['EventCode'].unique()

In [129]:
print(len(anchor_ent))
print(len(anchor_rel))

1555
239

In [130]:
seen_val_df = val_df[val_df['EventCode'].isin(anchor_rel)]
seen_test_df = test_df[test_df['EventCode'].isin(anchor_rel)]
seen_val_df = seen_val_df[(seen_val_df['Actor1Name'].isin(anchor_ent)) & (seen_val_df['Actor2Name'].isin(anchor_ent))]
seen_test_df = seen_test_df[(test_df['Actor1Name'].isin(anchor_ent)) & (seen_test_df['Actor2Name'].isin(anchor_ent))]

seen_outliers = all_df[all_df['ce_id']==-1]
seen_outliers = seen_outliers[seen_outliers['EventCode'].isin(anchor_rel)]
seen_outliers = seen_outliers[(seen_outliers['Actor1Name'].isin(anchor_ent)) & (seen_outliers['Actor2Name'].isin(anchor_ent))]

In [131]:
seen_df = pd.concat([train_df, seen_val_df, seen_test_df, seen_outliers]).sort_values(by=['day'], ignore_index=True)

In [132]:
# stats
for df in [seen_df]:
    print('Total docs')
    md5s = set()
    for md5_list in df['Md5_list']:
        md5s.update(md5_list.split(', '))
    print(len(md5s))
    print('Total events')
    print(len(df))
    print('Number of entities')
    print(len(df['Actor1Name']._append(df['Actor2Name']).unique()))
    print('Number of relations')
    print(len(df['EventCode'].unique()))
    
    df_results = df.groupby(['ce_id']).agg({'timid':['count', 'max','min','mean']})
    df_results.columns = ['n_events', 'nday_max', 'nday_min', 'nday_mean']
    df_results['nday_range'] = df_results['nday_max'] - df_results['nday_min'] + 1
    print(df_results)
    print(df_results.loc[0:, :].mean())
    print(df_results.loc[0:, :].max())
    print(df_results.loc[0:, :].min())

Total docs
273845
Total events
1201881
Number of entities
1555
Number of relations
239
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
-1       628534      2583         0  1242.547589        2584
 0          306         4         0     1.663399           5
 1          306        11         0     6.232026          12
 2           97        29         0    14.443299          30
 3          163        47         0    18.564417          48
...         ...       ...       ...          ...         ...
 4531       116      2583      2574  2578.336207          10
 4532       306      2582      2576  2579.307190           7
 4533       306      2583      2578  2580.153595           6
 4534        65      2583      2581  2581.676923           3
 4535        83      2583      2582  2582.783133           2

[4537 rows x 5 columns]
n_events       126.399250
nday_max      1288.450176
nday_min      1258.581570
nday_mean     1273.305062
nday_range      30.868607
dtype: float64
n_events       306.000000
nday_max      2583.000000
nday_min      2582.000000
nday_mean     2582.783133
nday_range      78.000000
dtype: float64
n_events      9.000000
nday_max      4.000000
nday_min      0.000000
nday_mean     1.663399
nday_range    2.000000
dtype: float64

In [133]:
# stats
for df in [seen_val_df, seen_test_df, seen_outliers]:
    print('Total docs')
    md5s = set()
    for md5_list in df['Md5_list']:
        md5s.update(md5_list.split(', '))
    print(len(md5s))
    print('Total events')
    print(len(df))
    print('Number of entities')
    print(len(df['Actor1Name']._append(df['Actor2Name']).unique()))
    print('Number of relations')
    print(len(df['EventCode'].unique()))
    
    df_results = df.groupby(['ce_id']).agg({'timid':['count', 'max','min','mean']})
    df_results.columns = ['n_events', 'nday_max', 'nday_min', 'nday_mean']
    df_results['nday_range'] = df_results['nday_max'] - df_results['nday_min'] + 1
    print(df_results)
    print(df_results.loc[:, :].mean())
    print(df_results.loc[:, :].max())
    print(df_results.loc[:, :].min())

Total docs
14872
Total events
66794
Number of entities
1127
Number of relations
207
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
3561        196      1890      1825  1855.265306          66
3562        122      1904      1829  1876.795082          76
3563         18      1910      1833  1875.555556          78
3564         49      1884      1834  1863.285714          51
3565         54      1877      1839  1865.148148          39
...         ...       ...       ...          ...         ...
4057        164      2223      2204  2211.414634          20
4058         75      2246      2204  2216.573333          43
4059         54      2209      2206  2207.166667           4
4060        179      2219      2212  2213.837989           8
4061         29      2217      2215  2215.551724           3

[501 rows x 5 columns]
n_events       133.321357
nday_max      2058.862275
nday_min      2025.309381
nday_mean     2041.924985
nday_range      34.552894
dtype: float64
n_events       306.0
nday_max      2246.0
nday_min      2215.0
nday_mean     2217.8
nday_range      78.0
dtype: float64
n_events         9.000000
nday_max      1855.000000
nday_min      1825.000000
nday_mean     1854.071895
nday_range       2.000000
dtype: float64
Total docs
13302
Total events
65433
Number of entities
1122
Number of relations
204
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
4062         36      1907      1832  1853.222222          76
4063         57      1869      1847  1853.473684          23
4064        126      2274      2201  2257.904762          74
4065        306      2233      2203  2228.679739          31
4066         71      2280      2203  2248.563380          78
...         ...       ...       ...          ...         ...
4531        116      2583      2574  2578.336207          10
4532        306      2582      2576  2579.307190           7
4533        306      2583      2578  2580.153595           6
4534         65      2583      2581  2581.676923           3
4535         83      2583      2582  2582.783133           2

[474 rows x 5 columns]
n_events       138.044304
nday_max      2418.487342
nday_min      2384.632911
nday_mean     2401.864923
nday_range      34.854430
dtype: float64
n_events       306.000000
nday_max      2583.000000
nday_min      2582.000000
nday_mean     2582.783133
nday_range      78.000000
dtype: float64
n_events        10.000000
nday_max      1869.000000
nday_min      1832.000000
nday_mean     1853.222222
nday_range       2.000000
dtype: float64
Total docs
144347
Total events
628534
Number of entities
1553
Number of relations
231
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
-1       628534      2583         0  1242.547589        2584
n_events      628534.000000
nday_max        2583.000000
nday_min           0.000000
nday_mean       1242.547589
nday_range      2584.000000
dtype: float64
n_events      628534.000000
nday_max        2583.000000
nday_min           0.000000
nday_mean       1242.547589
nday_range      2584.000000
dtype: float64
n_events      628534.000000
nday_max        2583.000000
nday_min           0.000000
nday_mean       1242.547589
nday_range      2584.000000
dtype: float64

In [134]:
seen_outliers = seen_outliers.sort_values(by=['day'], ignore_index=True)

In [135]:
seen_val_df.to_csv(path_or_buf='./GDELT_ce_val_seen.csv', sep='\t', index=False)
seen_test_df.to_csv(path_or_buf='./GDELT_ce_test_seen.csv', sep='\t', index=False)
seen_outliers.to_csv(path_or_buf='./GDELT_ce_outliers_seen.csv', sep='\t', index=False)
seen_df.to_csv(path_or_buf='./GDELT_ce_seen.csv', sep='\t', index=False)

In [136]:
for df in [train_df, seen_val_df, seen_test_df, seen_outliers]:
    print(df['day'].min())
    print(df['day'].max())
    print()

20150219
20200418

20200218
20210414

20200225
20220317

20150219
20220317

In [ ]:
# filter by min day range and min ce size

In [137]:
ceid2size = {}
ces = list(seen_val_df['ce_id'].unique())
for ce in ces:
    ceid2size[ce] = len(seen_val_df[seen_val_df['ce_id']==ce])
    if len(seen_val_df[seen_val_df['ce_id']==ce]['timid'].unique()) == 1:
        print(ce)

In [138]:
for ce, size in ceid2size.items():
    if size < 10:
        print(ce)

4032

In [139]:
seen_val_df[seen_val_df['ce_id'].isin([4032])]

,Actor1Name,Actor2Name,EventCode,Actor1ADM1Code,Actor2ADM1Code,EventADM1Code,day,timid,year,Md5,ce_id,Md5_list
59651,AMIT,ISRAEL,10,IS,IS,IS,20210214,2187,2021,0e4123eb6103b71556b65f3ea3b3e725,4032,0e4123eb6103b71556b65f3ea3b3e725
59995,AMIT,ISRAEL,14,IS,IS,IS,20210216,2189,2021,8893a0ab0af049fcad6fbadc9fd32d82,4032,8893a0ab0af049fcad6fbadc9fd32d82
62219,PALESTINIAN,JEWISH,120,US,IS,IS,20210224,2197,2021,9a03ab07e800b59fb9ca83baaa4e1688,4032,9a03ab07e800b59fb9ca83baaa4e1688
62220,TERRORIST,ISRAELI,51,IS,IS,IS,20210224,2197,2021,9a03ab07e800b59fb9ca83baaa4e1688,4032,9a03ab07e800b59fb9ca83baaa4e1688
62221,EMPLOYEE,WEBSITE,90,IS,IS,IS,20210224,2197,2021,9a03ab07e800b59fb9ca83baaa4e1688,4032,9a03ab07e800b59fb9ca83baaa4e1688
62222,EMPLOYEE,MEDIA,90,IS,IS,IS,20210224,2197,2021,9a03ab07e800b59fb9ca83baaa4e1688,4032,9a03ab07e800b59fb9ca83baaa4e1688
62223,ISRAEL,JEWISH,120,IS,IS,IS,20210224,2197,2021,9a03ab07e800b59fb9ca83baaa4e1688,4032,9a03ab07e800b59fb9ca83baaa4e1688
63048,LAWMAKER,MEDIA,20,IS,IS,IS,20210227,2200,2021,2aee1d19977c7dc301e68de449d4f509,4032,2aee1d19977c7dc301e68de449d4f509
66334,REUTERS,ISRAEL,190,IZ,IS,IZ,20210319,2220,2021,c22024c98eab9cd409f7098133523611,4032,c22024c98eab9cd409f7098133523611

In [141]:
final_outliers = pd.concat([seen_outliers,
                            seen_val_df[seen_val_df['ce_id'].isin([4032])]])
final_outliers= final_outliers.sort_values(by=['day'], ignore_index=True)
final_outliers['ce_id'] = [-1] * len(final_outliers)

In [142]:
final_outliers

,Actor1Name,Actor2Name,EventCode,Actor1ADM1Code,Actor2ADM1Code,EventADM1Code,day,timid,year,Md5,ce_id,Md5_list
0,GAZA,ISRAEL,160,TU,IS,IS,20150219,0,2015,d6db17beecf1764d75e1b969d6e6e825,-1,d6db17beecf1764d75e1b969d6e6e825
1,EGYPT,LIBYA,195,QA,EG,EG,20150219,0,2015,aa867e4121b76fbc658672d8fc05ac01,-1,aa867e4121b76fbc658672d8fc05ac01
2,IRANIAN,SUNNI,190,IR,IZ,IZ,20150219,0,2015,2fa3a3f2a6ed935c8100cd014707438a,-1,2fa3a3f2a6ed935c8100cd014707438a
3,US GOVERNMENT,ISRAEL,20,IS,IS,IS,20150219,0,2015,c7583a7778d803b71cacb4b096278b9e,-1,c7583a7778d803b71cacb4b096278b9e
4,ISLAMIC,THE US,46,EG,QA,QA,20150219,0,2015,16870399ca4d9cf49252b06e533928ef,-1,16870399ca4d9cf49252b06e533928ef
...,...,...,...,...,...,...,...,...,...,...,...,...
628538,RUSSIAN,UKRAINIAN,62,IS,IS,IS,20220317,2583,2022,9d893b7061976befe206162d5f55c164,-1,9d893b7061976befe206162d5f55c164
628539,ISRAEL,LAWMAKER,53,IS,IS,UP,20220317,2583,2022,9fffa65c9dc78d724ce7e91a18ebdce6,-1,9fffa65c9dc78d724ce7e91a18ebdce6
628540,JOE BIDEN,TERRORIST,50,IR,US,US,20220317,2583,2022,798078bb6c12735fa387643057c48e8d,-1,798078bb6c12735fa387643057c48e8d
628541,IRAN,AUSTRIAN,42,IR,AU,AU,20220317,2583,2022,59ef34ee73cfbba2ed44611a19f2bfaf,-1,59ef34ee73cfbba2ed44611a19f2bfaf
628542,DEFENSE MINIST,IRANIAN,40,IS,IR,IR,20220317,2583,2022,7b4bab0e38720b867a170944cf233c9b,-1,7b4bab0e38720b867a170944cf233c9b

In [144]:
fianl_val_df = seen_val_df.copy()

In [146]:
fianl_val_df = fianl_val_df[~fianl_val_df['ce_id'].isin([4032])]

In [148]:
old_ceids = list(fianl_val_df['ce_id'].unique())
mapping = {}
for new_ceid, ceid in enumerate(old_ceids):
    mapping[ceid] = new_ceid + max(train_df['ce_id']) + 1
fianl_val_df['ce_id'] = [mapping[_] for _ in fianl_val_df['ce_id']]

In [149]:
final_test_df = seen_test_df.copy()
old_ceids = list(final_test_df['ce_id'].unique())
mapping = {}
for new_ceid, ceid in enumerate(old_ceids):
    mapping[ceid] = new_ceid + max(fianl_val_df['ce_id']) + 1
final_test_df['ce_id'] = [mapping[_] for _ in final_test_df['ce_id']]

In [150]:
final_val_df = fianl_val_df.copy()

In [151]:
final_df = pd.concat([train_df, final_val_df, final_test_df, final_outliers]).sort_values(by=['day'], ignore_index=True)

In [152]:
final_df

,Actor1Name,Actor2Name,EventCode,Actor1ADM1Code,Actor2ADM1Code,EventADM1Code,day,timid,year,Md5,ce_id,Md5_list
0,IRAN,WENDY SHERMAN,46,IR,IR,US,20150219,0,2015,c109d1e16caa8aff4fced57a8c4045a0,0,c109d1e16caa8aff4fced57a8c4045a0
1,ISRAEL,IRAN,50,US,IS,US,20150219,0,2015,6d40d295cd67747ee9b56cc2c8099cfd,-1,6d40d295cd67747ee9b56cc2c8099cfd
2,ITALIAN,EGYPT,40,EG,EG,EG,20150219,0,2015,edf3db2729f3e81b20e446b94f7a6b6a,-1,edf3db2729f3e81b20e446b94f7a6b6a
3,THE US,CITIZEN,10,IS,IS,IS,20150219,0,2015,72dcb54c9b49830caefdad4bb7453d3c,-1,72dcb54c9b49830caefdad4bb7453d3c
4,KINGDOM,EGYPT,57,IZ,IZ,EG,20150219,0,2015,fea4f048e58509eb5ce3a95a356d3f3f,-1,fea4f048e58509eb5ce3a95a356d3f3f
...,...,...,...,...,...,...,...,...,...,...,...,...
1201876,UKRAINIAN,ISRAEL,51,UP,IS,IS,20220317,2583,2022,87a046d58f0a05e2c9c1bb9bd826b594,4532,87a046d58f0a05e2c9c1bb9bd826b594
1201877,UKRAINE,ISRAEL,42,UP,IS,UP,20220317,2583,2022,7b4bab0e38720b867a170944cf233c9b,4532,7b4bab0e38720b867a170944cf233c9b
1201878,UKRAINE,BRITISH,84,IR,IR,IR,20220317,2583,2022,3f48fb321a6a8e00f5f8a2c1fd756b87,4479,3f48fb321a6a8e00f5f8a2c1fd756b87
1201879,IRAN,BRITAIN,841,IR,IR,IR,20220317,2583,2022,079db1b369ae3926f797e3e88e072877,-1,079db1b369ae3926f797e3e88e072877
1201880,DEFENSE MINIST,IRANIAN,40,IS,IR,IR,20220317,2583,2022,7b4bab0e38720b867a170944cf233c9b,-1,7b4bab0e38720b867a170944cf233c9b

In [153]:
# stats
for df in [final_df]:
    print('Total docs')
    md5s = set()
    for md5_list in df['Md5_list']:
        md5s.update(md5_list.split(', '))
    print(len(md5s))
    print('Total events')
    print(len(df))
    print('Number of entities')
    print(len(df['Actor1Name']._append(df['Actor2Name']).unique()))
    print('Number of relations')
    print(len(df['EventCode'].unique()))
    
    df_results = df.groupby(['ce_id']).agg({'timid':['count', 'max','min','mean']})
    df_results.columns = ['n_events', 'nday_max', 'nday_min', 'nday_mean']
    df_results['nday_range'] = df_results['nday_max'] - df_results['nday_min'] + 1
    print(df_results)
    print(df_results.loc[0:, :].mean())
    print(df_results.loc[0:, :].max())
    print(df_results.loc[0:, :].min())

Total docs
273845
Total events
1201881
Number of entities
1555
Number of relations
239
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
-1       628543      2583         0  1242.561268        2584
 0          306         4         0     1.663399           5
 1          306        11         0     6.232026          12
 2           97        29         0    14.443299          30
 3          163        47         0    18.564417          48
...         ...       ...       ...          ...         ...
 4530       116      2583      2574  2578.336207          10
 4531       306      2582      2576  2579.307190           7
 4532       306      2583      2578  2580.153595           6
 4533        65      2583      2581  2581.676923           3
 4534        83      2583      2582  2582.783133           2

[4536 rows x 5 columns]
n_events       126.425138
nday_max      1288.244763
nday_min      1258.376847
nday_mean     1273.101185
nday_range      30.867916
dtype: float64
n_events       306.000000
nday_max      2583.000000
nday_min      2582.000000
nday_mean     2582.783133
nday_range      78.000000
dtype: float64
n_events      10.000000
nday_max       4.000000
nday_min       0.000000
nday_mean      1.663399
nday_range     2.000000
dtype: float64

In [154]:
# stats
for df in [final_val_df, final_test_df, final_outliers]:
    print('Total docs')
    md5s = set()
    for md5_list in df['Md5_list']:
        md5s.update(md5_list.split(', '))
    print(len(md5s))
    print('Total events')
    print(len(df))
    print('Number of entities')
    print(len(df['Actor1Name']._append(df['Actor2Name']).unique()))
    print('Number of relations')
    print(len(df['EventCode'].unique()))
    
    df_results = df.groupby(['ce_id']).agg({'timid':['count', 'max','min','mean']})
    df_results.columns = ['n_events', 'nday_max', 'nday_min', 'nday_mean']
    df_results['nday_range'] = df_results['nday_max'] - df_results['nday_min'] + 1
    print(df_results)
    print(df_results.loc[:, :].mean())
    print(df_results.loc[:, :].max())
    print(df_results.loc[:, :].min())

Total docs
14867
Total events
66785
Number of entities
1127
Number of relations
207
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
3561        196      1890      1825  1855.265306          66
3562        122      1904      1829  1876.795082          76
3563         18      1910      1833  1875.555556          78
3564         49      1884      1834  1863.285714          51
3565         54      1877      1839  1865.148148          39
...         ...       ...       ...          ...         ...
4056        164      2223      2204  2211.414634          20
4057         75      2246      2204  2216.573333          43
4058         54      2209      2206  2207.166667           4
4059        179      2219      2212  2213.837989           8
4060         29      2217      2215  2215.551724           3

[500 rows x 5 columns]
n_events       133.570000
nday_max      2058.540000
nday_min      2024.986000
nday_mean     2041.613057
nday_range      34.554000
dtype: float64
n_events       306.0
nday_max      2246.0
nday_min      2215.0
nday_mean     2217.8
nday_range      78.0
dtype: float64
n_events        10.000000
nday_max      1855.000000
nday_min      1825.000000
nday_mean     1854.071895
nday_range       2.000000
dtype: float64
Total docs
13302
Total events
65433
Number of entities
1122
Number of relations
204
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
4061         36      1907      1832  1853.222222          76
4062         57      1869      1847  1853.473684          23
4063        126      2274      2201  2257.904762          74
4064        306      2233      2203  2228.679739          31
4065         71      2280      2203  2248.563380          78
...         ...       ...       ...          ...         ...
4530        116      2583      2574  2578.336207          10
4531        306      2582      2576  2579.307190           7
4532        306      2583      2578  2580.153595           6
4533         65      2583      2581  2581.676923           3
4534         83      2583      2582  2582.783133           2

[474 rows x 5 columns]
n_events       138.044304
nday_max      2418.487342
nday_min      2384.632911
nday_mean     2401.864923
nday_range      34.854430
dtype: float64
n_events       306.000000
nday_max      2583.000000
nday_min      2582.000000
nday_mean     2582.783133
nday_range      78.000000
dtype: float64
n_events        10.000000
nday_max      1869.000000
nday_min      1832.000000
nday_mean     1853.222222
nday_range       2.000000
dtype: float64
Total docs
144352
Total events
628543
Number of entities
1553
Number of relations
231
       n_events  nday_max  nday_min    nday_mean  nday_range
ce_id
-1       628543      2583         0  1242.561268        2584
n_events      628543.000000
nday_max        2583.000000
nday_min           0.000000
nday_mean       1242.561268
nday_range      2584.000000
dtype: float64
n_events      628543.000000
nday_max        2583.000000
nday_min           0.000000
nday_mean       1242.561268
nday_range      2584.000000
dtype: float64
n_events      628543.000000
nday_max        2583.000000
nday_min           0.000000
nday_mean       1242.561268
nday_range      2584.000000
dtype: float64

In [155]:
final_val_df.to_csv(path_or_buf='./GDELT_ce_val_final.csv', sep='\t', index=False)
final_test_df.to_csv(path_or_buf='./GDELT_ce_test_final.csv', sep='\t', index=False)
final_outliers.to_csv(path_or_buf='./GDELT_ce_outliers_final.csv', sep='\t', index=False)
final_df.to_csv(path_or_buf='./GDELT_ce_final.csv', sep='\t', index=False)

In [156]:
for df in [train_df, final_val_df, final_test_df, final_outliers]:
    print(df['day'].min())
    print(df['day'].max())
    print()

20150219
20200418

20200218
20210414

20200225
20220317

20150219
20220317